<div class="artifact" *ngIf="artifacts">
    <table class="ui fixed celled table">
        <thead>
        <tr>
            <th class="four wide">{{ 'artifact_name' | translate }}</th>
            <th class="four wide">{{ 'artifact_tag' | translate }}</th>
            <th class="four wide">{{ 'artifact_sha512' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of getDataForCurrentPage()">
            <td>
                <a href="{{getUrl(a)}}">{{a.name + ' (' + getHumainFileSize(a.size) + ')'}}</a>
            </td>
            <td>
                {{a.tag}}
            </td>
            <td>
                <div class="ui action input">
                    <input type="text" value="{{a.sha512sum}}">
                    <button class="ui icon button copyButton" [title]="'common_copy_clipboard' | translate" ngxClipboard [cbContent]="a.sha512sum">
                        <i class="copy icon"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot *ngIf="getNbOfPages() > 1">
        <tr>
            <th colspan="4">
                <div class="ui right floated pagination menu" >
                    <a class="icon item" (click)="downPage()">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item" *ngFor="let page of getNbOfPages() | ngForNumber" (click)="goTopage(page)" [class.active]="currentPage === page">{{page}}</a>
                    <a class="icon item" (click)="upPage()">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>