<h2> Create a new variableset item</h2>
<form nz-form (ngSubmit)="createVariableSetItem()">
  <nz-row>
    <nz-col [nzSpan]="16">
      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzFor="cds-field-itemname">
          Item name
        </nz-form-label>
        <nz-form-control>
          <input nz-input name="name" id="cds-field-itemname" [(ngModel)]="newItem.name">
          @if (errorItemName) {
            <nz-alert nzType="warning" nzMessage="Name must respect pattern ^[a-zA-Z0-9_-]{1,}$"></nz-alert>
          }
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col [nzSpan]="16">
      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzFor="cds-field-itemtype">
          Item Type
        </nz-form-label>
        <nz-form-control>
          <nz-select id="cds-field-itemtype" [(ngModel)]="newItem.type" name="type">
            <nz-option nzValue="string" nzLabel="string"></nz-option>
            <nz-option nzValue="secret" nzLabel="secret"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col [nzSpan]="16">
      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzFor="cds-field-itemvalue">
          Item value
        </nz-form-label>
        <nz-form-control>
          @if (newItem.type === 'secret') {
            <input nz-input type="password" id="cds-field-itemvalue" name="value" [(ngModel)]="newItem.value">
          }
          @if (newItem.type !== 'secret') {
            <textarea nz-input  name="value" id="cds-field-itemvalue" [(ngModel)]="newItem.value"></textarea>
          }
          @if (errorItemValue) {
            <nz-alert nzType="warning" nzMessage="Value must not be empty"></nz-alert>
          }
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col [nzSpan]="16">
      <nz-form-item>
        <button nz-button nzType="primary" nzBlock [nzLoading]="itemFormLoading">Create</button>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>
<h2> List of existing variablesets</h2>
<nz-table #table [nzData]="items" [nzLoading]="loading">
  <thead>
    <tr>
      <th>Item name</th>
      <th>Type</th>
      <th nzWidth="200">Value</th>
      <th>Deletion</th>
    </tr>
  </thead>
  <tbody>
    @for (data of table.data; track data) {
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.type}}</td>
        <td>
          <textarea nz-input  name="value" id="cds-field-item-{{data.name}}" aria-label="Value of item {{data.name}}" [(ngModel)]="data.value" (ngModelChange)="data.changed = true"></textarea>
        </td>
        <td>
          @if (data.changed) {
            <button nz-button nzType="primary" [nzLoading]="loading"
            (click)="updateVariableSetItem(data)">Update</button>
          }
          @if (!data.changed) {
            <button nz-button nzDanger nzType="primary" [nzLoading]="loading" nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this item ?"
            (nzOnConfirm)="deleteVariableSetItem(data)">Delete</button>
          }
        </td>
      </tr>
    }
  </tbody>
</nz-table>