@import '../../../../common';
.node {
  width: 100%;
  height: 100%;
  border: 2px solid $polar_grey_3;
  border-radius: 3px;
  color: $polar_grey_1;
  padding: 2px;
  :host-context(.night) &:not(.success):not(.fail):not(.building):not(.inactive) {
    border-color: $polar_grey_5;
    color: $polar_grey_5;
    a {
      color: $polar_grey_4;
    }
    &.active {
      border-color: $cds_color_teal;
    }
  }
  .icon {
    display: unset;
    margin: 0;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    color: $polar_grey_1;
    &:hover {
      color: $cds_color_teal;
    }
  }
  .title {
    height: 22px;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    padding: 2px 4px 0 4px;
    .name {
      flex: 1;
      font-weight: bold;
    }
    .count {
      padding: 0 0px 0 2px;
      text-align: right;
    }
  }
  .details {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  &.success {
    background-color: $cds_color_light_green;
    border-color: $cds_color_green;
  }
  &.fail {
    background-color: $cds_color_light_red;
    border-color: $cds_color_red;
  }
  &.building {
    background-color: $cds_color_light_teal;
    border-color: $cds_color_teal;
  }
  &.inactive {
    background-color: $cds_color_light_grey;
    border-color: grey;
  }
  &.active {
    border: 4px solid $cds_color_teal;
    padding: 0;
  }
}