@forward '../../../../common';
@use '../../../../common';
.node {
  width: 100%;
  height: 100%;
  border: 2px solid common.$polar_grey_3;
  border-radius: 3px;
  color: common.$polar_grey_1;
  padding: 2px;
  background-color: white;
  :host-context(.night) & {
    background-color: common.$darkTheme_grey_1;
    border-color: common.$darkTheme_grey_5;
    color: common.$darkTheme_grey_6;
    a {
      color: common.$polar_grey_4;
    }
    &.success {
      background-color: common.$darkTheme_night_green;
      border-color: common.$darkTheme_green;
    }
    &.fail {
      background-color: common.$darkTheme_night_red;
      border-color: common.$darkTheme_red;
    }
    &.building {
      background-color: common.$darkTheme_night_blue;
      border-color: common.$darkTheme_blue;
    }
    &.inactive {
      background-color: common.$darkTheme_night_grey;
      border-color: grey;
    }
    &.active {
      border-color: common.$cds_color_teal;
    }
  }
  .icon {
    display: unset;
    margin: 0;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    color: common.$polar_grey_1;
    &:hover {
      color: common.$cds_color_teal;
    }
  }
  .title {
    height: 22px;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    padding: 2px 4px 0 4px;
    .name {
      flex: 1;
      font-weight: bold;
    }
    .count {
      padding: 0 0px 0 2px;
      text-align: right;
    }
  }
  .details {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  &.success {
    background-color: common.$cds_color_light_green;
    border-color: common.$cds_color_green;
  }
  &.fail {
    background-color: common.$cds_color_light_red;
    border-color: common.$cds_color_red;
  }
  &.building {
    background-color: common.$cds_color_light_teal;
    border-color: common.$cds_color_teal;
  }
  &.inactive {
    background-color: common.$cds_color_light_grey;
    border-color: grey;
  }
  &.active {
    border: 4px solid common.$cds_color_teal;
    padding: 0;
  }
}
