<div class="node-wrapper" (click)="clickOnNode(popup)" (dblclick)="$event.stopPropagation(); dblClickOnNode()"
    [ngSwitch]="node.type" suiPopup [popupTemplate]="popupNode" popupPlacement="right" popupTrigger="outsideClick"
    #popup="suiPopup">
    <app-workflow-wnode-pipeline *ngSwitchCase="'pipeline'" [workflow]="workflow" [node]="node"
        [noderun]="currentNodeRun" [warnings]="warnings"></app-workflow-wnode-pipeline>
    <app-workflow-wnode-join *ngSwitchCase="'join'" [workflow]="workflow" [node]="node"
        [noderunStatus]="currentNodeRun?.status"></app-workflow-wnode-join>
    <app-workflow-wnode-fork *ngSwitchCase="'fork'" [noderunStatus]="currentNodeRun?.status"></app-workflow-wnode-fork>
    <app-workflow-wnode-outgoing-hook *ngSwitchCase="'outgoinghook'" [workflow]="workflow"
        [node]="node" [noderun]="currentNodeRun"></app-workflow-wnode-outgoing-hook>
</div>
<ng-template let-popup #popupNode>
    <app-workflow-menu-wnode-edit (event)="receivedEvent($event)" [popup]="popup" #menu></app-workflow-menu-wnode-edit>
</ng-template>

<!-- MODALS -->
<ng-container *ngIf="project && node && workflow && !hasWorkflowRun">

    <!-- Add trigger -->
    <app-workflow-trigger [loading]="loading" [project]="project" [workflow]="workflow" [source]="node"
        (triggerEvent)="updateWorkflow($event, workflowTrigger.modal)" #workflowTrigger></app-workflow-trigger>
    <!-- Add hook -->
    <ng-container *ngIf="node.id === workflow.workflow_data.node.id">
        <app-hook-modal [loading]="loading" [project]="project" [workflow]="workflow" [node]="node"
                        (hookEvent)="addHook($event, workflowAddHook.modal)" #workflowAddHook></app-hook-modal>
    </ng-container>

    <!-- Delete Node -->
    <app-workflow-node-delete [loading]="loading" [node]="node" [workflow]="workflow"
        (deleteEvent)="updateWorkflow($event, workflowDeleteNode.modal)" #workflowDeleteNode></app-workflow-node-delete>
</ng-container>
<ng-container *ngIf="project && node && workflow && hasWorkflowRun">
    <app-workflow-node-run-param #workflowRunNode></app-workflow-node-run-param>
</ng-container>
