<div id="Projectkey" *ngIf="ready">
    <h3>{{ 'keys_list_title' | translate}}</h3>
    <ng-container *ngIf="project.keys && project.keys.length > 0">
        <app-keys-list [keys]="keys" [warnings]="unusedWarning" [edit]="project.permissions.writable" (deleteEvent)="manageKeyEvent($event)"></app-keys-list>
    </ng-container>
    <div class="ui info message" *ngIf="!loading && (!project.keys || project.keys.length === 0)">
        {{ 'keys_no' | translate }}
    </div>
    <h3 *ngIf="project.permissions.writable">
        <app-warning-mark-list [warnings]="missingWarnings"></app-warning-mark-list>
        {{ 'keys_add_title' | translate }}
    </h3>
    <ng-container *ngIf="project.permissions.writable">
        <app-keys-form [loading]="loading" (keyEvent)="manageKeyEvent($event)" prefix="proj-"></app-keys-form>
    </ng-container>
</div>
<div class="ui text active loader" *ngIf="!ready">{{ 'keys_loading' | translate}}</div>
