<div id="Projectkey" *ngIf="ready">
    <h3>{{ 'keys_list_title' | translate}}</h3>
    <ng-container *ngIf="project.keys && project.keys.length > 0">
        <app-keys-list [keys]="keys" [edit]="project.permissions.writable" (deleteEvent)="manageKeyEvent($event)"></app-keys-list>
    </ng-container>
    <nz-alert nzType="info" nzMessage="There is no keys" *ngIf="!loading && (!project.keys || project.keys.length === 0)"></nz-alert>
    <h3 *ngIf="project.permissions.writable">
        {{ 'keys_add_title' | translate }}
    </h3>
    <ng-container *ngIf="project.permissions.writable">
        <app-keys-form [loading]="loading" (keyEvent)="manageKeyEvent($event)" prefix="proj-"></app-keys-form>
    </ng-container>
</div>
<nz-spin  *ngIf="!ready" nzTip="Loading..."></nz-spin>
