<ul *ngIf="project && authSummary" nz-menu nzMode="inline">
	<!-- Entrées fixes -->
	<li nz-menu-item nzMatchRouter nzMatchRouterExact>
		<a [routerLink]="['/project', project.key, 'run']">All workflows</a>
	</li>
	<li nz-menu-item nzMatchRouter nzMatchRouterExact>
		<a [routerLink]="['/project', project.key, 'run']" [queryParams]="{actor: authSummary.user.username}">
			My workflows
		</a>
	</li>

	<!-- Section: Filtres partagés projet -->
	<li *ngIf="sharedFilters && sharedFilters.length > 0" nz-menu-group nzTitle="Project filters">
		<ul cdkDropList (cdkDropListDropped)="onDropShared($event)" [cdkDropListDisabled]="!canManage">
			<ng-container *ngFor="let f of sharedFilters">
				<li nz-menu-item nzMatchRouter nzMatchRouterExact cdkDrag>
					<span cdkDragHandle *ngIf="canManage" class="drag-handle" nz-icon nzType="drag"></span>
					<a [title]="f.name" [routerLink]="['/project', project.key, 'run']" [queryParams]="f.params">
						{{ f.name }}
					</a>
					<button *ngIf="canManage" nz-button nzType="primary" nzDanger nzSize="small"
						nz-tooltip nzTooltipTitle="Delete shared filter"
						nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this shared filter?"
						(nzOnConfirm)="deleteSharedFilter(f.name)">
						<i nz-icon nzType="delete" nzTheme="outline"></i>
					</button>
				</li>
			</ng-container>
		</ul>
	</li>

	<!-- Section: Filtres personnels -->
	<li *ngIf="searches && searches.length > 0" nz-menu-group nzTitle="My filters">
		<ul cdkDropList (cdkDropListDropped)="onDropPersonal($event)">
			<ng-container *ngFor="let s of searches">
				<li nz-menu-item nzMatchRouter nzMatchRouterExact cdkDrag>
					<span cdkDragHandle class="drag-handle" nz-icon nzType="drag"></span>
					<a [title]="s.name" [routerLink]="['/project', project.key, 'run']" [queryParams]="s.params">
						{{ s.name }}
					</a>
					<button *ngIf="canManage" nz-button nzType="default" nzSize="small"
						nz-tooltip nzTooltipTitle="Share this filter with the project"
						(click)="sharePersonalFilter(s)">
						<i nz-icon nzType="share-alt" nzTheme="outline"></i>
					</button>
					<button nz-button nzType="primary" nzDanger nzSize="small"
						nz-tooltip nzTooltipTitle="Delete my filter"
						nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this filter?"
						(nzOnConfirm)="deleteSearch(s.name)">
						<i nz-icon nzType="delete" nzTheme="outline"></i>
					</button>
				</li>
			</ng-container>
		</ul>
	</li>
</ul>