@import '../vulnerabilities.scss';

.filter {
  height: 30px;
}
ul {
  list-style: none;
  margin-left: 0;
  padding: 0;

  li {
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;

    .ui.tag.label {
      margin-left: 20px;
      font-size: 0.75em;
    }

    .dot {
      width: 13px;
      height: 13px;
      border-radius: 13px;
      display: inline-flex;
      margin-right: 5px;
    }
    .dot.defcon1 {
      background-color: $defcon_color;
    }
    .dot.critical {
      background-color: $critical_color;
    }
    .dot.high {
      background-color: $high_color;
    }
    .dot.medium {
      background-color: $medium_color;
    }
    .dot.low {
      background-color: $low_color;
    }
    .dot.negligible {
      background-color: $negligible_color;
    }
    .dot.unknown {
      background-color: $unknown_color;
    }

    .text {
      display: inline-flex;

      .component {
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 600;
      }

      .title {
        padding-left: 20px;
      }
    }

    .action {
      float:right;
    }


    .resume {
      padding-top: 10px;

      .description {
        pre {
          white-space: initial;
        }
      }
      .more {
        margin-top: 10px;

        pre {
          white-space: pre-line;
        }
      }
    }
  }
  li:first-child {
    padding-top: 0px;
    margin-top: -10px;
  }
  li:last-child {
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: -10px;
  }

  li.inactive {
    color: grey;
  }
}

