@if (node && project) {
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Pipeline</nz-form-label>
      @if (node?.context?.pipeline_id && workflow?.pipelines[node.context.pipeline_id]) {
        <nz-form-control [nzSpan]="12"
          >
          {{workflow.pipelines[node.context.pipeline_id].name}}
        </nz-form-control>
      }
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Name</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input name="name" nz-input [(ngModel)]="node.name" (ngModelChange)="pushChange()" [disabled]="readonly">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Application (optional)</nz-form-label>
      @if (applications) {
        <nz-form-control [nzSpan]="12">
          <nz-select name="application" nzShowSearch [nzDisabled]="readonly" [(ngModel)]="node.context.application_id" (ngModelChange)="change();pushChange()">
            @for (app of applications; track app) {
              <nz-option [nzLabel]="app.name" [nzValue]="app.id" ></nz-option>
            }
          </nz-select>
        </nz-form-control>
      }
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Integration (optional)</nz-form-label>
      @if (integrations && node.context.application_id) {
        <nz-form-control [nzSpan]="12">
          <nz-select name="selectIntegration" nzShowSearch [nzDisabled]="readonly"  [(ngModel)]="node.context.project_integration_id" (ngModelChange)="pushChange()">
            @for (inte of integrations; track inte) {
              <nz-option [nzLabel]="inte.name" [nzValue]="inte.id"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      }
      @if (!node.context.application_id) {
        <nz-form-control  [nzSpan]="12">
          <nz-alert nzType="info" nzMessage="You must select an application first"></nz-alert>
        </nz-form-control>
      }
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Environment</nz-form-label>
      @if (environments) {
        <nz-form-control  [nzSpan]="12">
          <nz-select name="selectEnv" nzShowSearch [nzDisabled]="readonly" [(ngModel)]="node.context.environment_id" (ngModelChange)="pushChange()">
            @for (env of environments; track env) {
              <nz-option [nzLabel]="env.name" [nzValue]="env.id"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      }
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">
        <a href="#" [routerLink]="['/docs', 'docs', 'concepts', 'workflow', 'mutex']" target="_blank" rel="noopener noreferrer">
          Limit one run at a time
          <span nz-icon nzType="link" nzTheme="outline"></span>
        </a>
      </nz-form-label>
      <nz-form-control  [nzSpan]="12">
        <nz-switch name="mutex" [(ngModel)]="node.context.mutex" (ngModelChange)="pushChange()" [nzDisabled]="readonly"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nzJustify="end">
      @if (!readonly) {
        <button nz-button nzType="primary" [nzLoading]="loading" (click)="updateWorkflow()">
          @if (!editMode) {
            <span>Save</span>
          }
          @if (editMode) {
            <span>Apply</span>
          }
        </button>
      }
    </nz-form-item>
  </form>
}
