.extra {
    padding-top: 5px;
    text-align: right;
    color: red;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background-color: #A8A8A8;
}

.ui.toggle.checkbox .box:after,
.ui.toggle.checkbox label:after {
    border: 1px solid #A8A8A8;
}

.ml10 {
    margin-left: 10px;
}



.fluid.selection {
    width: 100% !important;
}
