@import '../../../../../common';

.wrapper {
    display: flex;
    flex-direction: column;

    .page-content {
        flex: 1;
        display: flex;
        flex-direction: row;

        .menu {
            margin: 20px 0 0 20px;
        }

        .icon {
            margin: 0;
        }
    }
}
