app-status-icon {
  &.action {
    font-size: 1em;
    line-height: 1;
  }
}
.step {
  &.action {
    padding-left: 35px !important;
    padding-right: 0px !important;
  }
  .title{
    &.action {
      font-size: 0.8em !important;
      font-weight: initial !important;
    }
  }
  border: none !important;;
}
