<a class="step stage" (click)="open = !open" (dblclick)="goToStageLogs()">
  <div>
    <app-status-icon [status]="stage.status" class="stage"></app-status-icon>
  </div>
  <div>
    <div class="title stage">{{stage.name}} <i class="warning sign icon orange" *ngIf="warning"></i></div>
  </div>
  <div class="forceRight" *ngIf="stage.run_jobs && stage.run_jobs.length">
    <i class="caret icon" [class.right]="!open" [class.down]="open"></i>
  </div>
</a>
<ng-container *ngIf="open">
  <ng-container *ngFor="let job of stage.run_jobs">
    <app-job-step-summary [job]="job" [stage]="stage" [workflowRun]="workflowRun"></app-job-step-summary>
  </ng-container>
</ng-container>
