app-status-icon {
  &.stage {
    font-size: 1.5em !important;
    line-height: 1 !important;
  }
}
.step {
  .title {
    &.stage {
      font-size: 1em !important;
    }
  }
  &.stage {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  border: none !important;
}

.forceRight {
  right: 0px;
  position: absolute;
  font-size: 1.5em;
  line-height: 1;
}
