<div class="ui top attached tabular menu">
    <div class="pointing item" [class.active]="mode === 'basic'" (click)="mode = 'basic'">{{'workflow_node_condition_basic' | translate}}</div>
    <div class="pointing item" [class.active]="mode === 'advanced'" (click)="mode = 'advanced'">{{'workflow_node_condition_advanced' | translate}}</div>
</div>
<div class="ui bottom attached active tab segment">
    <ng-container *ngIf="mode === 'basic'">
        <h4>{{ 'workflow_node_condition_list' | translate }}</h4>
        <app-workflow-node-condition-list
            [workflow]="workflow"
            [(conditions)]="conditions"
            [operators]="operators"
            [mode]="mode"
            (conditionChange)="plainConditionsChange($event)">
        </app-workflow-node-condition-list>
        <h4>{{ 'workflow_node_condition_form' | translate}}</h4>
        <div class="ui form">
            <div class="fields">
                <div class="six wide field" [title]="condition.variable">
                    <sm-select
                        *ngIf="names"
                        class="search"
                        [(model)]="condition.variable"
                        (change)="variableChanged($event)"
                        [options]="{'fullTextSearch': true, 'allowAdditions': true}">
                        <option *ngFor="let n of names" [value]="n">{{n}}</option>
                    </sm-select>
                </div>
                <div class="two wide field">
                    <sm-select [(model)]="condition.operator" *ngIf="operators">
                        <option *ngFor="let k of operators | keys" [value]="k">{{operators[k]}}</option>
                    </sm-select>
                </div>
                <div class="six wide field center aligned">
                    <div class="ui input" *ngIf="condition.variable !== 'cds.manual'">
                        <ng-container *ngIf="isStatusVariable()">
                            <sui-select class="selection"
                                name="value"
                                [(ngModel)]="condition.value"
                                [options]="statuses"
                                #selectStatus>
                                <sui-select-option *ngFor="let s of selectStatus.filteredOptions"
                                                   [value]="s">
                                </sui-select-option>
                            </sui-select>
                        </ng-container>

                        <input type="text" [(ngModel)]="condition.value" placeholder="" *ngIf="!isStatusVariable()">
                    </div>
                    <div class="ui fitted checkbox manual" *ngIf="condition.variable === 'cds.manual'">
                      <input type="checkbox"
                          id="cdsmanualcheck" name="cdsmanual"
                          [checked]="condition.value === 'true'"
                          (change)="updateConditionValue($event)">
                      <label></label>
                    </div>
                </div>
                <div class="two wide field">
                    <button class="ui blue icon button" [disabled]="!condition.variable || !condition.value || !condition.operator" type="button" (click)="send()">
                        <i class="plus icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="mode === 'advanced'">
        <div class="mb">
            <h4 class="inline">{{'workflow_node_condition_lua_title' | translate}}</h4>
            <em> {{'workflow_node_condition_lua_help' | translate}}</em>
            <div class="right floated">
                <div>
                    <i class="book icon"></i><a href="https://devhints.io/lua" target="_blank">Lua Cheatsheet</a>
                </div>
                <div>
                    <i class="book icon"></i><a href="https://ovh.github.io/cds/workflows/design/run-conditions/" target="_blank">{{'common_cds_documentation' | translate}}</a>
                </div>
            </div>
        </div>
        <codemirror
            [(ngModel)]="conditions.lua_script"
            [config]="codeMirrorConfig"
            (change)="changeCodeMirror($event)"
            #textareaCodeMirror>
        </codemirror>

    </div>
</div>
