<div class="wrapper">
  <app-breadcrumb [path]="path"></app-breadcrumb>
  <app-scrollview class="scrollview">
    @if (!loading) {
      @if (service.status==='AL') {
        <nz-alert nzType="error" nzMessage="{{'service_alert' | translate}}"></nz-alert>
      }
      @if (service.status==='WARN') {
        <nz-alert nzType="warning" nzMessage="{{'service_warning' | translate}}"></nz-alert>
      }
      @if (service.status==='OK') {
        <nz-alert nzType="success" nzMessage="{{'service_ok' | translate}}"></nz-alert>
      }
      @if (service.group) {
        <div>
          <h4>Group</h4>
          <p><a href="#" [routerLink]="['/settings', 'group', service.group.name]">{{service.group.name}}</a></p>
        </div>
      }
      <h2>Heartbeat</h2>
      <p>
        <span nz-tooltip [nzTooltipTitle]="service.last_heartbeat| date:'short'" nzTooltipPlacement="topLeft">{{service.last_heartbeat
        | amTimeAgo}}</span>
      </p>
      @if (service.version) {
        <h2>Version</h2>
      }
      @if (service.version) {
        <p>
          {{service.version}}
        </p>
      }
      <h2>Status</h2>
      <app-data-table [filter]="filter" [withFilter]="filteredStatusLines" [withPagination]="25" [columns]="columns" [data]="service.monitoring_status.lines" [loading]="loading">
      </app-data-table>
      <h2>Configuration</h2>
      <codemirror [(ngModel)]="config" [config]="codeMirrorConfig" #textareaCodeMirror>
      </codemirror>
    } @else {
      <nz-spin nzTip="Loading..."></nz-spin>
    }
  </app-scrollview>
</div>
