<div class="wrapper">
    <app-breadcrumb [path]="path"></app-breadcrumb>
    <app-scrollview class="scrollview">
        <div *ngIf="!loading; then servicePart;else loadingPart"></div>
        <ng-template #servicePart>
            <div class="ui red message" *ngIf="service.status==='AL'">
                {{'service_alert' | translate}}
            </div>

            <div class="ui orange message" *ngIf="service.status==='WARN'">
                {{'service_warning' | translate}}
            </div>

            <div class="ui green message" *ngIf="service.status==='OK'">
                {{'service_ok' | translate}}
            </div>

            <div *ngIf="service.group">
                <h4>Group</h4>
                <p><a sm-item href="#" [routerLink]="['/settings', 'group', service.group.name]">{{service.group.name}}</a></p>
            </div>

            <h4>Heartbeat</h4>
            <p>
                <span suiPopup [popupText]="service.last_heartbeat| date:'short'" popupPlacement="top left">{{service.last_heartbeat
                    | amTimeAgo}}</span>
            </p>

            <h4 *ngIf="service.version">Version</h4>
            <p *ngIf="service.version">
                {{service.version}}
            </p>


            <h4>Status</h4>
                
            <app-data-table [filter]="filter" [withFilter]="filteredStatusLines" [withPagination]="25" [columns]="columns" [data]="service.monitoring_status.lines" [loading]="loading">
            </app-data-table>

            <h4>Configuration</h4>
            <codemirror [(ngModel)]="config" [config]="codeMirrorConfig" #textareaCodeMirror>
            </codemirror>

        </ng-template>
        <ng-template #loadingPart>
            <div class="ui text active loader">{{ 'common_loading' | translate }}</div>
        </ng-template>
    </app-scrollview>
</div>