@import '../../../common';

:host {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: inherit;

    [nz-icon] {
        cursor: pointer;
        font-size: inherit;

        &.active {
            color: $cds_favorite_color;
        }

        &:hover {
            opacity: 0.4;
        }
    }
}