<form class="ui form">
    <div class="ui grid">
        <div class="wide column">
            <div *ngIf="workflowTemplate.parameters && workflowTemplate.parameters.length > 0" class="wide field">
                <label>{{'common_parameters' | translate}}</label>
            </div>
            <ng-container *ngFor="let parameter of workflowTemplate.parameters; let index = index">
                <div class="wide fields">
                    <div class="eight wide field">
                        {{parameter.key}}<span *ngIf="parameter.required">*</span>
                    </div>
                    <div class="eight wide field" [ngSwitch]="parameter.type">
                        <input *ngSwitchDefault type="text" name="parameter-{{parameter.key}}"
                            [(ngModel)]="parameterValues[parameter.key]" (change)="changeParam()">
                        <sui-checkbox *ngSwitchCase="'boolean'" name="parameter-{{parameter.key}}"
                            [(ngModel)]="parameterValues[parameter.key]" class="toggle" (ngModelChange)="changeParam()">
                        </sui-checkbox>
                        <sui-select *ngSwitchCase="'repository'" class="selection" name="parameter-{{parameter.key}}"
                            placeholder="{{'workflow_wizard_select_repo_man' | translate}}" [options]="vcsNames"
                            isSearchable="true" [(ngModel)]="parameterValues[parameter.key]"
                            (selectedOptionChange)="fetchRepos(parameter.key, $event)" #select>
                            <sui-select-option *ngFor="let vcs of select.filteredOptions" [value]="vcs">
                            </sui-select-option>
                        </sui-select>
                        <codemirror *ngSwitchCase="'json'" name="parameter-{{parameter.key}}"
                            [(ngModel)]="parameterValues[parameter.key]" [config]="codeMirrorConfig"
                            (change)="changeParam()" #codemirror>
                        </codemirror>
                        <sui-select *ngSwitchCase="'ssh-key'" class="selection" name="parameter-{{parameter.key}}"
                            placeholder="{{'workflow_template_param_select_key' | translate}}" [options]="sshKeys"
                            (selectedOptionChange)="changeParam()" isSearchable="true"
                            [(ngModel)]="parameterValues[parameter.key]" #select>
                            <sui-select-option *ngFor="let key of select.filteredOptions" [value]="key">
                            </sui-select-option>
                        </sui-select>
                        <sui-select *ngSwitchCase="'pgp-key'" class="selection" name="parameter-{{parameter.key}}"
                            placeholder="{{'workflow_template_param_select_key' | translate}}" [options]="pgpKeys"
                            (selectedOptionChange)="changeParam()" isSearchable="true"
                            [(ngModel)]="parameterValues[parameter.key]" #select>
                            <sui-select-option *ngFor="let key of select.filteredOptions" [value]="key">
                            </sui-select-option>
                        </sui-select>
                    </div>
                </div>
                <div class="wide fields" *ngIf="parameter.type === 'repository'">
                    <div class="eight wide field"></div>
                    <div class="four wide field">
                        <sui-select class="selection" name="parameter-{{parameter.key}}-repo"
                            [(ngModel)]="parameterValues[parameter.key + '-repository']"
                            [options]="parameterValues[parameter.key + '-repositories']" [isSearchable]="true"
                            [optionsFilter]="filterRepo" (selectedOptionChange)="changeParam()" #repositorySelect>
                            <sui-select-option *ngFor="let repository of repositorySelect.filteredOptions"
                                [value]="repository">
                            </sui-select-option>
                        </sui-select>
                    </div>
                    <div class="four wide field">
                        <button class="ui primary button resync" name="resync" type="button" [class.loading]="loading"
                            [disabled]="loading" (click)="resyncRepos(parameter.key)">
                            {{'btn_resync_repo' | translate }}
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</form>
