@import '../../../common';
.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  flex: 1;
  .padding {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
  }
}