<ng-container *ngIf="workflowRun">
    <div class="graph" [class.disableSelection]="resizing">
        <nz-page-header class="title" nzBackIcon (nzBack)="onBack()">
            <nz-page-header-title>
                {{workflowRun.vcs_server}}/{{workflowRun.repository}}/{{workflowRun.workflow_name}}
                #{{workflowRun.run_number}}
            </nz-page-header-title>
            <nz-page-header-content>
                <span nz-typography nzType="secondary">
                    Commit {{workflowRun.contexts.git.sha?.substring(0,8)}} by {{workflowRun.contexts.git.username}} on
                    repository
                    {{workflowRun.contexts.git.server}}/{{workflowRun.contexts.git.repository}}
                </span>
            </nz-page-header-content>
        </nz-page-header>

        <app-stages-graph [workflow]="workflowGraph" [runJobs]="jobs" [workflowRun]="workflowRun"
            (onSelectJobGate)="selectJobGate($event)" (onSelectJob)="selectJob($event)"
            (onSelectHook)="selectHook($event)" #graph></app-stages-graph>

        <!--  BOTTOM PANELS -->

        <app-resizable-panel [direction]="'vertical'" minSize="200" [initialSize]="infoPanelSize"
            (onGrabbingStart)="panelStartResize()" (onGrabbingEnd)="infoPanelEndResize($event)">

            <div class="bottom-panel">
                <app-tabs [tabs]="tabs" (onSelect)="selectTab($event)"></app-tabs>
                <ul *ngIf="selectedTab && selectedTab.key === 'problems'" class="infos">
                    <ng-container *ngFor="let info of workflowRunInfos">
                        <li *ngIf="info.level === 'error'">
                            <span class="error" nz-icon nzType="close-circle" nzTheme="fill"></span>
                            <div class="content">
                                {{info.message}}
                            </div>
                        </li>
                    </ng-container>
                    <ng-container *ngFor="let info of workflowRunInfos">
                        <li *ngIf="info.level === 'warning'">
                            <span class="warning" nz-icon nzType="warning" nzTheme="fill"></span>
                            <div class="content">
                                {{info.message}}
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <ul *ngIf="selectedTab && selectedTab.key === 'infos'" class="infos">
                    <ng-container *ngFor="let info of workflowRunInfos">
                        <li *ngIf="info.level==='info'">
                            <span class="info" nz-icon nzType="info-circle" nzTheme="fill"></span>
                            <div class="content">
                                {{info.message}}.
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <nz-table *ngIf="selectedTab && selectedTab.key === 'results'" class="results" [nsAutoHeightTable]="86"
                    nzSize="small" [nzShowPagination]="false" [nzPageSize]="workflowRun.results?.length ?? 0"
                    [nzData]="workflowRun.results" #autoHeightDirective=nsAutoHeightTable #resultsTable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let result of resultsTable.data">
                            <td>
                                <span class="info" nz-icon nzType="file" nzTheme="fill"></span>
                                {{result.id}}
                            </td>
                            <td>
                                {{result.type}}
                            </td>
                            <td>
                                <ng-container *ngIf="result.type === 'deployment'; else nameTmpl">
                                    {{result.detail.Data.deployment_name}}:{{result.detail.Data.version}}
                                </ng-container>
                                <ng-template #nameTmpl>
                                    {{result.detail.Data.name}}
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </app-resizable-panel>
    </div>

    <!--  RIGHT PANELS -->

    <app-resizable-panel *ngIf="selectedJobRun || selectedJobGate || selectedHook" minSize="400"
        [initialSize]="jobPanelSize" (onGrabbingStart)="panelStartResize()" (onGrabbingEnd)="jobPanelEndResize($event)">
        <app-run-job *ngIf="selectedJobRun" [workflowRun]="workflowRun" [jobRun]="selectedJobRun"
            [jobRunInfos]="selectedJobRunInfos" (onClickClose)="unselectJob()"></app-run-job>
        <app-run-gate *ngIf="selectedJobGate" [gateNode]="selectedJobGate" [run]="workflowRun"></app-run-gate>
        <app-run-hook *ngIf="selectedHook" [hook]="selectedHook" [run]="workflowRun"
            (onClickClose)="unselectHook()"></app-run-hook>
    </app-resizable-panel>

</ng-container>