@import '../../../../common';

:host {
    display: flex;
    flex-direction: row;
    height: 100%;
}

nz-page-header-title {
    font-size: 16px;
}

nz-page-header-content {
    padding: 0 0 0 32px;
}

.graph {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .title {
        position: absolute;
        z-index: 1000;
    }

    &.disableSelection {
        user-select: none;
    }

    app-tabs {
        ::ng-deep {
            .menu {
                background-color: inherit;
            }
        }
    }

    .problems,
    .infos {
        padding: 10px;

        .right a {
            text-decoration: none;
        }

        .error {
            color: $darkTheme_red;
        }

        .warning {
            color: $darkTheme_orange;
        }

        .info {
            color: $darkTheme_blue;
        }
    }
}

.bottom-panel {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .infos {
        height: 100%;
        overflow-y: auto;
        padding-left: 10px;
        list-style: none;

        .rightFloat {
            float: right;
        }

        .content {
            display: inline;
        }
    }
}

app-run-job {
    height: 100%;
    overflow: hidden;
}