<ng-container *ngIf="selectedRun">
    <div class="graph" [class.disableSelection]="resizing">
        <app-stages-graph [workflow]="workflowGraph" [runJobs]="jobs" [workflowRun]="selectedRun"
                          (onSelectJobGate)="selectJobGate($event)"
                          (onSelectJob)="selectJob($event)" #graph></app-stages-graph>

        <app-resizable-panel [direction]="'vertical'" minSize="200" [initialSize]="infoPanelSize"
                             (onGrabbingStart)="panelStartResize()" (onGrabbingEnd)="infoPanelEndResize($event)">

            <app-tabs [tabs]="tabs" (onSelect)="selectTab($event)"></app-tabs>
            <ng-container *ngIf="selectedTab.key === 'problems'">
                <ul class="infos">
                    <ng-container *ngFor="let info of selectedRunInfos">
                        <li *ngIf="info.level === 'error'">
                            <span class="error" nz-icon nzType="close-circle" nzTheme="fill"></span>
                            <div class="content">
                                {{info.message}}
                            </div>
                        </li>
                    </ng-container>
                    <ng-container *ngFor="let info of selectedRunInfos">
                        <li *ngIf="info.level === 'warning'">
                            <span class="warning" nz-icon nzType="warning" nzTheme="fill"></span>
                            <div class="content">
                                {{info.message}}
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </ng-container>
            <ng-container *ngIf="selectedTab.key === 'infos'">
                <ul class="infos">
                    <ng-container *ngFor="let info of selectedRunInfos">
                        <li *ngIf="info.level==='info'">
                            <span class="info" nz-icon nzType="info-circle" nzTheme="fill"></span>
                            <div class="content">
                                {{info.message}}.
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </ng-container>
            <ng-container *ngIf="selectedTab.key === 'results'">
                <nz-table #basicTable [nzData]="selectedRun.results">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let result of selectedRun.results">
                            <td>
                                <span class="info" nz-icon nzType="file" nzTheme="fill"></span>
                                {{result.id}}
                            </td>
                            <td>
                                {{result.type}}
                            </td>
                            <td>
                                {{result.detail.Data.name}}
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </ng-container>
        </app-resizable-panel>
    </div>

    <!--  RIGHT PANELS -->

        <app-resizable-panel *ngIf="selectedJobRun || selectedJobGate" minSize="400" [initialSize]="jobPanelSize"
                             (onGrabbingStart)="panelStartResize()" (onGrabbingEnd)="jobPanelEndResize($event)">
            <ng-container *ngIf="selectedJobRun">
                <app-run-job [workflowRun]="selectedRun" [jobRun]="selectedJobRun" [jobRunInfos]="selectedJobRunInfos"
                (onClickClose)="unselectJob()" #runJob></app-run-job>
            </ng-container>
            <ng-container *ngIf="selectedJobGate">
                <app-run-gate [gateNode]="selectedJobGate" [run]="selectedRun"></app-run-gate>
            </ng-container>
        </app-resizable-panel>

</ng-container>

