@import '../../../../common';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

app-tabs {
    ::ng-deep {
        .ant-menu {
            background-color: $greyBackground !important;

            :host-context(.night) & {
                background-color: $darkBackground !important;
                color: $darkTheme_grey_6;
            }
        }
    }
}

.problems,
.infos {
    padding: 10px;
    font-size: 12px;

    .right a {
        text-decoration: none;
    }

    .error {
        color: $darkTheme_red;
    }

    .warning {
        color: $darkTheme_orange;
    }

    .info {
        color: $darkTheme_blue;
    }
}

ul {
    padding-left: 0;
    list-style: none;

    .rightFloat {
        float: right;
    }

    .content {
        display: inline;
    }
}

app-run-job-logs {
    flex: 1;
    overflow-y: auto;
}