<app-tabs [tabs]="tabs" (onSelect)="selectTab($event)" [disableNavigation]="true"></app-tabs>
<ng-container *ngIf="selectedTab.key === 'logs' && jobRun">
    <app-run-job-logs [workflowRun]="workflowRun" [runJob]="jobRun" (dblclick)="$event.stopPropagation();"
        #runJobLogs></app-run-job-logs>
</ng-container>
<div class="infos" *ngIf="selectedTab.key === 'infos' && jobRun" (dblclick)="$event.stopPropagation();">
    <ul>
        <ng-container *ngFor="let info of jobRunInfos">
            <ul>
                <li>
                    <span *ngIf="info.level === 'info'" class="info" nz-icon nzType="info-circle" nzTheme="fill"></span>
                    <span *ngIf="info.level === 'warning'" class="warning" nz-icon nzType="warning"
                        nzTheme="fill"></span>
                    <span *ngIf="info.level === 'error'" class="error" nz-icon nzType="close-circle"
                        nzTheme="fill"></span>
                    <div class="content">
                        {{info.message}}.
                    </div>
                </li>
            </ul>
        </ng-container>
    </ul>
</div>