@import '../../../../common';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

app-tabs {
  ::ng-deep {
    .ant-menu {
      background-color: $greyBackground !important;
      
      :host-context(.night) & {
        background-color: $darkBackground !important;
        color: $darkTheme_grey_6;
      }
    }
  }
}

nz-code-editor {
  height: 100%;
  border-left: 1px solid #f0f0f0;

  :host-context(.night) & {
    background-color: #1e1e1e;
    border-left: 1px solid #303030;
  }
}

nz-descriptions {
  margin: 20px;
}