@import '../../../../common';

:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: row;
  margin: 10px;

  [nz-button] {
    margin-left: 5px;

    &.active {
      color: $cds_color_green;
      border-color: $cds_color_green;

      :host-context(.night) & {
        border-color: $darkTheme_green;
        color: $darkTheme_green;
      }
    }
  }
}

nz-checkbox-group {
  display: flex;
  flex-direction: column;
}

nz-list {
  margin: 0 10px;
  flex: 1;
  overflow: auto;

  nz-list-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .identifier {
      flex: 1;
    }

    .label {
      margin-left: 20px;
      color: rgba(0, 0, 0, .45);

      :host-context(.night) & {
        color: rgba(255, 255, 255, 0.45);
      }
    }

    &:hover {
      background-color: #f5f5f5;

      :host-context(.night) & {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }

    a {
      margin-left: 20px;
      color: inherit;
      text-decoration: underline dotted;

      &:hover {
        color: #177ddc;
      }
    }
  }
}