<div class="content">
  @for (i of info; track i) {
    <div class="line">
      @if (i.level === 'error') {
        <span class="error" nz-icon nzType="close-circle" nzTheme="fill"></span>
      }
      @if (i.level === 'warning') {
        <span class="warning" nz-icon nzType="warning" nzTheme="fill"></span>
      }
      @if (i.level==='info') {
        <span class="info" nz-icon nzType="info-circle" nzTheme="fill"></span>
      }
      <div class="message" [title]="i.message">
        {{i.message}}
      </div>
      <div class="date">{{i.issued_at | date: 'yyyy-MM-dd HH:mm:ss Z'}}</div>
    </div>
  }
</div>