<div id="PipelineRunWorkflow">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <ul *ngIf="currentBuild">
                    <li *ngFor="let stage of currentBuild.stages" class="stage"
                        [class.one]="currentBuild.stages.length === 1"
                        [class.two]="currentBuild.stages.length === 2"
                        [class.three]="currentBuild.stages.length === 3"
                        [class.four]="currentBuild.stages.length === 4"
                        [class.five]="currentBuild.stages.length === 5"
                        [class.six]="currentBuild.stages.length === 6"
                        [class.seven]="currentBuild.stages.length === 7">
                        <div class="stageItem">
                            {{stage.name}}
                            <ul>
                                <li *ngFor="let j of stage.jobs">
                                    <div class="job ui segment pointing"
                                         [class.active]="selectedPipJob && selectedPipJob.job.pipeline_action_id === j.pipeline_action_id"
                                         [class.success]="mapJobStatus[j.pipeline_action_id] === pipelineStatusEnum.SUCCESS"
                                         [class.inactive]="mapJobStatus[j.pipeline_action_id] === pipelineStatusEnum.DISABLED || mapJobStatus[j.pipeline_action_id] === pipelineStatusEnum.SKIPPED"
                                         [class.fail]="mapJobStatus[j.pipeline_action_id] === pipelineStatusEnum.FAIL || mapJobStatus[j.pipeline_action_id] === pipelineStatusEnum.STOPPED"
                                         [class.building]="mapJobStatus[j.pipeline_action_id] === pipelineStatusEnum.BUILDING"
                                         (click)="manual = true; selectedJob(j, stage)">
                                        <div class="warningPip"
                                            *ngIf=" j.warnings && j.warnings.length"
                                            [smDirTooltip]="'warning_build_title' | translate: {nb: j.warnings.length}">
                                            <i class="warning sign icon orange"></i>
                                        </div>
                                        <div class="truncate">
                                            <app-status-icon [status]="mapJobStatus[j.pipeline_action_id]" [value]="mapJobProgression[j.pipeline_action_id]"></app-status-icon>
                                            {{j.action.name}}
                                        </div>
                                        <div class="duration" *ngIf="mapJobStatus[j.pipeline_action_id] !== pipelineStatusEnum.DISABLED && mapJobStatus[j.pipeline_action_id] !== pipelineStatusEnum.SKIPPED">
                                            {{mapJobDuration[j.pipeline_action_id]}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="log animated fadeIn" *ngIf="selectedPipJob">
                    <ul>
                        <li>
                            <app-spawn-info [spawnInfos]="selectedPipJob.spawninfos" [variables]="selectedPipJob.parameters"></app-spawn-info>
                        </li>
                        <li *ngFor="let step of selectedPipJob.job.action.actions; let i = index">
                            <app-step-log
                            [application]="application"
                            [pipeline]="pipeline"
                            [project]="project"
                            [pipelineBuild]="currentBuild"
                            [jobID]="selectedPipJob.job.pipeline_action_id"
                            [job]="selectedPipJob.job"
                            [step]="step"
                            [stepOrder]="i"
                            [stepStatus]="mapStepStatus[selectedPipJob.job.pipeline_action_id + '-' + i]"
                            [previousBuild]="previousBuild"
                            ></app-step-log>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="nextBuilds && nextBuilds.length > 0">
            <div class="column">
                <h3>{{ 'pipeline_triggered' | translate }}</h3>
                <ul>
                    <li *ngFor="let pb of nextBuilds">
                        <a href="#" [routerLink]="[
                        '/project', project.key,
                        'application', pb.application.name,
                        'pipeline', pb.pipeline.name,
                        'build', pb.build_number]"
                        [queryParams]="{envName: pb.environment.name, branch: pb.trigger.vcs_branch}">
                            {{pb.application.name + ' - ' + pb.pipeline.name}}
                            <span *ngIf="pb.environment.id > 1">
                                {{ ' - ' + pb.environment.name }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
