<div id="PipelineRunWorfklow">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <ul *ngIf="currentBuild">
                    <li *ngFor="let stage of currentBuild.stages" class="stage"
                        [class.one]="currentBuild.stages.length === 1"
                        [class.two]="currentBuild.stages.length === 2"
                        [class.three]="currentBuild.stages.length === 3"
                        [class.four]="currentBuild.stages.length === 4"
                        [class.five]="currentBuild.stages.length === 5"
                        [class.six]="currentBuild.stages.length === 6"
                        [class.seven]="currentBuild.stages.length === 7">
                        <div class="stageItem">
                            {{stage.name}}
                            <ul>
                                <li *ngFor="let j of stage.jobs">
                                    <div class="job ui segment pointing"
                                         [class.active]="selectedPipJob && selectedPipJob.job.pipeline_action_id === j.pipeline_action_id"
                                         [class.success]="mapJobStatus[j.pipeline_action_id] === 'Success'"
                                         [class.inactive]="mapJobStatus[j.pipeline_action_id] === 'Disabled'"
                                         [class.inactive]="mapJobStatus[j.pipeline_action_id] === 'Skipped'"
                                         [class.fail]="mapJobStatus[j.pipeline_action_id] === 'Fail'"
                                         [class.building]="mapJobStatus[j.pipeline_action_id] === 'Building'"
                                         (click)="selectedJob(j, stage)">
                                        <div class="truncate">
                                            <app-status-icon [status]="mapJobStatus[j.pipeline_action_id]" [value]="mapJobProgression[j.pipeline_action_id]"></app-status-icon>
                                            {{j.action.name}}
                                        </div>
                                        <div class="duration" *ngIf="mapJobStatus[j.pipeline_action_id] !== 'Disabled' && mapJobStatus[j.pipeline_action_id] !== 'Skipped'">
                                            {{mapJobDuration[j.pipeline_action_id]}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="log" *ngIf="selectedPipJob">
                    <ul>
                        <li *ngFor="let step of selectedPipJob.job.action.actions; let i = index">
                            <app-step-log
                                    [application]="application"
                            [pipeline]="pipeline"
                            [project]="project"
                            [pipelineBuild]="currentBuild"
                            [jobID]="selectedPipJob.job.pipeline_action_id"
                            [step]="step"
                            [stepOrder]="i"
                            [stepStatus]="mapStepStatus[selectedPipJob.job.pipeline_action_id + '-' + i]"
                            [previousBuild]="previousBuild"
                            ></app-step-log>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>