<form class="ui form">
    <div class="ui grid">
        <div class="wide column">
            <div class="wide field">
                <label>{{'common_parameters' | translate}}</label>
            </div>
            <div class="wide fields" *ngFor="let parameter of workflowTemplate.parameters; let index = index">
                <div class="eight wide field">
                    {{parameter.key}}<span *ngIf="parameter.required">*</span>
                </div>
                <div class="eight wide field" [ngSwitch]="parameter.type">
                    <input *ngSwitchDefault type="text" name="parameter-{{parameter.key}}" [(ngModel)]="parameterValues[parameter.key]">
                    <sm-checkbox *ngSwitchCase="'boolean'" name="parameter-{{parameter.key}}" [control]="parameterValues[parameter.key]"
                        type="toggle" label=" "></sm-checkbox>
                    <div *ngSwitchCase="'repository'" class="fields">
                        <sui-select class="selection" name="parameter-{{parameter.key}}" placeholder="{{'workflow_wizard_select_repo_man' | translate}}"
                            [options]="project.vcs_servers" isSearchable="true" [(ngModel)]="parameterValues[parameter.key]"
                            (selectedOptionChange)="fetchRepos($event)" #select>
                            <sui-select-option *ngFor="let vcs of select.filteredOptions" [value]="vcs.name">
                            </sui-select-option>
                        </sui-select>
                        <sui-select class="selection" name="parameter-{{parameter.key}}-repo" [(ngModel)]="parameterValues[parameter.key + '-repository']"
                            [options]="parameterValues[parameter.key + '-repositories']" labelField="fullname"
                            [isSearchable]="true" #repositorySelect>
                            <sui-select-option *ngFor="let repository of repositorySelect.filteredOptions" [value]="repository">
                            </sui-select-option>
                        </sui-select>
                        <button class="ui blue button resync" name="resync" type="button" [class.loading]="loading"
                            [disabled]="loading" (click)="resyncRepos()">
                            {{'btn_resync_repo' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="wide field">
                <!--<ng-container *ngIf="asCodeResult">
                            <ul>
                                <li *ngFor="let s of asCodeResult.msgs">{{s}}</li>
                            </ul>
                            <div class="ui right aligned field">
                                <button class="ui blue button" type="button" (click)="goToWorkflow()">{{
                                    'btn_goto_workflow' | translate}}</button>
                            </div>
                        </ng-container>-->
                <div class="ui row">
                    <div class="field mt5">
                        <button class="ui right floated green button" type="button" (click)="applyTemplate()"
                            [class.loading]="loading">{{
                            'btn_apply' |
                            translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
