<form class="ui form">
    <div class="ui grid">
        <div class="wide column">
            <div class="field">
                <label>{{'workflow_name' | translate}}*</label>
                <input class="ui input" type="text" name="workflow_name" [(ngModel)]="parameterName" [disabled]="_workflowTemplateInstance">
            </div>
            <app-workflow-template-param-form [project]="project" [workflowTemplate]="workflowTemplate"
                [workflowTemplateInstance]="workflowTemplateInstance" (paramChange)="changeParam($event)"></app-workflow-template-param-form>
            <div class="wide field" *ngIf="result">
                <div class="ui message">
                    <ul>
                        <li *ngFor="let s of result.msgs">{{s}}</li>
                    </ul>
                </div>
            </div>
            <div class="wide field">
                <div class="ui right aligned field">
                    <button class="ui green button" type="button" (click)="applyTemplate()" [class.loading]="loading">{{
                        'btn_apply' |
                        translate }}
                    </button>
                    <button class="ui primary button" type="button" (click)="goToWorkflow()" *ngIf="result && !withClose">{{
                        'btn_goto_workflow' | translate}}</button>
                    <button class="ui secondary button" [disabled]="loading" (click)="clickClose()" *ngIf="withClose">{{
                        'btn_close' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</form>
