.header {
  .deleteButton {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

codemirror {
  width: 100%;
  &.invalid {
    border: 1px solid red;
  }
}

input:read-only {
  background-color: #dedede !important;
}
