.mt5 {
  margin-top: 5px;
}

.projectLink {
  color: rgba(0, 0, 0, 0.68);
  &:hover {
    text-decoration: underline;
  }
}

.ui.cards > .card {
  margin-right: auto;
}

.text-black {
  color: black;
}
