@import '../../../../../common';
nz-form-item {
  padding: 0 10px;
}
.codeContainer {
    position: relative;
}

nz-select {
  width: 100%;
}

h3 {
  margin-bottom: 10px;
}

.subItem {
  margin-top: 10px;
}

button {
  margin-left: 20px;
}
