@import '../../../../../common';
.codeContainer {
    position: relative;
}

nz-select {
  width: 100%;
}

h2 {
    text-align: center;
}

.centeredField {
    display: flex;
    flex-direction: row;
    align-items: center;
}
