<div class="ui grid">
    <div class="six wide column">
        <h3>{{ 'project_workflows_list' | translate }}</h3>
    </div>
    <div class="four wide column centered">
      <a class="ui blue button" [routerLink]="['./workflow']">{{ 'workflow_create_btn' | translate }}</a>
    </div>
    <div class="right aligned six wide column" *ngIf="project.permission === 7">
      <div class="ui icon input">
          <input type="text" placeholder="{{'navbar_search' | translate}}" [(ngModel)]="filter">
          <i class="search icon"></i>
      </div>
    </div>
</div>
<div class="ui segment">
    <div *ngIf="project.workflow_names && project.workflow_names.length > 0;then workflows;else noworkflows"></div>
    <ng-template #workflows>
        <div class="ui stackable four column grid">
            <div class="center aligned column" *ngFor="let wfName of filteredWorkflows">
                <app-warning-mark-list [warnings]="warnMap?.get(wfName)"></app-warning-mark-list>
                <a [routerLink]="['./workflow', wfName]">{{wfName}}</a>
            </div>
        </div>
    </ng-template>
    <ng-template #noworkflows>
        <span>{{ 'project_no_workflow' | translate }}</span>
    </ng-template>
</div>
