#WorkflowSidebar {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 5px 0px 0px 5px;
      min-height: 25px;

      .ui.label {
        padding: 0.2em 0.4em;
      }
    }
  }
}