@import '../../../../../common';
.sidebar-hook {
   color: inherit;
  .header {
      margin-top: 10px;
  }

  .ml5 {
      margin-left: 5px;
  }

  .noborder {
    border-left: none !important;
    border-right: none !important;
  }

  .infoLine {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.85em;
  }

  .content {
      width: 100%;
  }
  .paddingContent {
      padding-top: 11px;
      padding-left: 5px;
      vertical-align: middle !important;
      font-size: medium;
  }
  .item {
    &.active {
      background-color: $cds_color_light_grey;
    }
    &:focus{
      outline: none;
    }
    &:hover {
      background-color: $cds_color_light_grey;
    }
    .tiny {
      font-size: 0.90em;
    }
  }

  i {
    &.ribbon-state {
      width: 5px;
      min-width: 5px;
      &.success {
        background-color: $cds_color_green;
      }
      &.success {
        background-color: $cds_color_green;
      }
      &.running {
        background-color: $cds_color_teal;
      }
      &.fail {
        background-color: $cds_color_red;
      }
      &.waiting {
        background-color: $cds_color_teal;
      }
    }
  }
  .success {
    color: $cds_color_green !important;
  }
  .running {
    color: $cds_color_teal !important;
  }
  .fail {
    color: $cds_color_red !important;
  }
  .waiting {
    color: $cds_color_teal !important;
  }
}
