*.swp
*.iml
.idea
.DS_Store
.vscode/*
.vscode-test/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
dump.rdb
dist
target/
cli/cds/cds
engine/engine
engine/dist
engine/api/.secrets
engine/api/config.toml
engine/config.*toml
engine/worker/worker
engine/docs
*.out
*.coverprofile
*.log
*.test
coverage.html
cover.html
.bash_aliases
npm-debug.log
debug.test
myOpenstackIntegration.yml
myAWSS3Integration.yml
test_results.yml
test_results.xml
*.dump
*.csv
.tmp
contrib/**/dist
config.*.toml

# TEST
tests/fixtures/ITSCWRKFLW1/output
tests/fixtures/04SCWorkflowRunSimplePlugin/plugin-simple-darwin-amd64
tests/fixtures/04SCWorkflowRunSimplePlugin/plugin-simple-linux-amd64

# UI
ui/node_modules
ui/coverage
ui/tests
ui/typings
ui/src/app/**/*.js
ui/semantic
ui/semantic\\
ui/e2e/*.png
ui/documentation
ui/dist
ui/package-lock.json

# doc
docs/content/cli/cdsctl/
docs/content/cli/engine/
docs/content/cli/worker/
docs/content/cli/api/*
!docs/content/cli/api/_index.md
