*.swp
*.iml
.idea
.vscode
.DS_Store
dump.rdb
dist
cli/cds/cds
engine/engine
engine/dist
engine/api/.secrets
engine/api/config.toml
engine/config.toml
engine/worker/worker
*.out
*.coverprofile
*.log
*.test
coverage.html
cover.html
.bash_aliases
npm-debug.log
debug.test
myOpenstackIntegration.yml
myAWSS3Integration.yml
test_results.yml
test_results.xml
*.dump
*.csv
.tmp
contrib/**/dist

# UI
ui/node_modules
ui/coverage
ui/tests
ui/typings
ui/src/app/**/*.js
ui/semantic
ui/semantic\\
ui/e2e/*.png
ui/documentation
ui/dist
ui/package-lock.json

# doc
docs/content/cli/cdsctl/
docs/content/cli/engine/
docs/content/cli/worker/
docs/content/cli/api/*
!docs/content/cli/api/_index.md
