*.swp
.idea
.DS_Store
cli/cds/cds
engine/api/api
engine/api/.secrets
engine/hatchery/hatchery
engine/worker/worker
*.out
.bash_aliases

# UI
ui/node_modules
ui/coverage
ui/tests
ui/typings
ui/src/app/**/*.js
ui/semantic
ui/e2e/*.png
