#
# PLEASE READ https://ovh.github.io/cds/hosting/ready-to-run/docker-compose/
#

version: '3'

services:
  cds-db:
    image: postgres:9.6.2
    environment:
      POSTGRES_PASSWORD: cds
      POSTGRES_USER: cds

  cds-cache:
    image: redis:alpine
    command: redis-server --requirepass cds
    restart: always

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.7.2
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - cds-elasticsearch-volume:/usr/share/elasticsearch/data
    restart: always

  cds-migrate:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: /app/cds-engine-linux-amd64 database upgrade --db-host cds-db --db-user cds --db-password cds --db-name cds --db-sslmode disable  --migrate-dir /app/sql
    links:
       - cds-db

  cds-prepare:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: >
        sh -c "
        /app/cds-engine-linux-amd64 config new > /app/conf/conf.toml;
        mkdir -p /app/artifacts /app/repositories /app/hatchery-local;
        chown -R cds:cds /app/conf /app/artifacts /app/repositories /app/hatchery-local;
        /app/cds-engine-linux-amd64 config edit /app/conf/conf.toml --output /app/conf/conf.toml \
            api.artifact.local.baseDirectory=/app/artifacts \
            api.cache.redis.host=cds-cache:6379 \
            api.cache.redis.password=cds \
            api.database.connectTimeout=10 \
            api.database.host=cds-db \
            api.database.name=cds \
            api.database.user=cds \
            api.database.password=cds \
            api.database.sslmode=disable \
            api.directories.download=/app \
            api.url.api=http://${HOSTNAME}:8081 \
            api.url.ui=http://${HOSTNAME}:8080 \
            api.log.level=info \
            api.smtp.disable=true \
            hatchery.local.commonConfiguration.api.http.url=http://cds-api:8081 \
            hatchery.local.basedir=/app/hatchery-local \
            hatchery.swarm.commonConfiguration.api.http.url=http://cds-api:8081 \
            hatchery.swarm.ratioService=50 \
            hatchery.swarm.dockerEngines.default.host=unix:///var/run/docker.sock \
            hatchery.swarm.dockerEngines.default.maxContainers=4 \
            hooks.api.http.url=http://cds-api:8081 \
            hooks.cache.redis.host=cds-cache:6379 \
            hooks.cache.redis.password=cds \
            vcs.api.http.url=http://cds-api:8081 \
            vcs.cache.redis.host=cds-cache:6379 \
            vcs.cache.redis.password=cds \
            repositories.basedir=/app/repositories \
            repositories.api.http.url=http://cds-api:8081 \
            repositories.cache.redis.host=cds-cache:6379 \
            repositories.cache.redis.password=cds \
            elasticsearch.api.http.url=http://cds-api:8081 \
            elasticsearch.name=cds-elasticsearch \
            elasticsearch.elasticsearch.indexEvents=cds-indexEvents \
            elasticsearch.elasticsearch.indexMetrics=cds-indexEvents \
            elasticsearch.elasticsearch.url=http://elasticsearch:9200 \
            ui.url=http://${HOSTNAME}:8080 \
            ui.api.http.url=http://cds-api:8081 \
            ui.hooksURL=http://cds-hooks:8081;
            echo '';
            echo '/!\ Please run the export command BELOW, this will be usefull to create admin user';
            echo '';
            TOKEN=`/app/cds-engine-linux-amd64 config init-token --config /app/conf/conf.toml`;
            echo 'export INIT_TOKEN='$$TOKEN;
            echo '';
            echo '/!\ Please run the export command ABOVE, this will be usefull to create admin user';
            echo '';"
    user: root
    volumes:
      - cds-conf-volume:/app/conf
      - cds-artifacts-volume:/app/artifacts
      - cds-repositories-volume:/app/repositories
      - cds-hatchery-local-volume:/app/hatchery-local

  cds-api:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: sh -c "/app/cds-engine-linux-amd64 start api --config /app/conf/conf.toml"
    volumes:
      - cds-artifacts-volume:/app/artifacts
      - cds-conf-volume:/app/conf
    ports:
      - "127.0.0.1:8081:8081"
    links:
       - cds-db
       - cds-cache
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/mon/version"]
      interval: 30s
      timeout: 10s
      retries: 6

  cds-ui:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: sh -c "/app/cds-engine-linux-amd64 start ui --config /app/conf/conf.toml"
    volumes:
      - cds-conf-volume:/app/conf
    ports:
      - "127.0.0.1:8080:8080"
    links:
       - cds-api
       - cds-hooks
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/mon/version"]
      interval: 30s
      timeout: 10s
      retries: 6

  # The docker engine must be accessible from this container
  # The hatchery swarm uses standard docker environment variables like
  # DOCKER_HOST: tcp://${HOSTNAME}:2376 or tcp://${HOSTNAME}:2375 if you use an unsecured docker engine
  # DOCKER_CERT_PATH: /Users/me/.docker/machines/.client
  # DOCKER_TLS_VERIFY: 1
  #
  # If you don't want to open the docker tcp post, you can bind the docker socket in the volumes section
  # and set DOCKER_HOST to unix://var/run/docker.sock
  #
  # If your are a Docker for Desktop user (Docker4Mac or Docker4Windows) you will probably have to bind
  # your docker socket to a tcp port with a socat like
  # docker run -d -v /var/run/docker.sock:/var/run/docker.sock -p 2375:2375 bobrik/socat TCP4-LISTEN:2375,fork,reuseaddr UNIX-CONNECT:/var/run/docker.sock
  cds-hatchery-swarm:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: sh -c "/app/cds-engine-linux-amd64 start hatchery:swarm --config /app/conf/conf.toml"
    volumes:
      - cds-conf-volume:/app/conf
    environment:
      DOCKER_HOST: tcp://${HOSTNAME}:2375
      # DOCKER_HOST: unix://var/run/docker.sock
      # DOCKER_CERT_PATH: /Users/me/.docker/machines/.client
      # DOCKER_TLS_VERIFY: 1
    #volumes:
       # Uncomment this to bind the docker socket
       # - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/mon/version"]
      interval: 30s
      timeout: 10s
      retries: 6

  cds-hatchery-local:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: sh -c "/app/cds-engine-linux-amd64 start hatchery:local --config /app/conf/conf.toml"
    volumes:
      - cds-conf-volume:/app/conf
      - cds-hatchery-local-volume:/app/hatchery-local
    links:
       - cds-api
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/mon/version"]
      interval: 30s
      timeout: 10s
      retries: 6

  cds-hooks:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: sh -c "/app/cds-engine-linux-amd64 start hooks --config /app/conf/conf.toml"
    volumes:
      - cds-conf-volume:/app/conf
    links:
       - cds-api
       - cds-cache

  cds-vcs:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: sh -c "/app/cds-engine-linux-amd64 start vcs --config /app/conf/conf.toml"
    volumes:
      - cds-conf-volume:/app/conf
    links:
       - cds-api
       - cds-cache
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/mon/version"]
      interval: 30s
      timeout: 10s
      retries: 6

  cds-repositories:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: sh -c "/app/cds-engine-linux-amd64 start repositories --config /app/conf/conf.toml"
    volumes:
      - cds-conf-volume:/app/conf
      - cds-repositories-volume:/app/repositories
    links:
       - cds-api
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/mon/version"]
      interval: 30s
      timeout: 10s
      retries: 6

  cds-elasticsearch:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: sh -c "/app/cds-engine-linux-amd64 start elasticsearch --config /app/conf/conf.toml"
    volumes:
      - cds-conf-volume:/app/conf
    links:
      - cds-api
      - elasticsearch
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8088/mon/version"]
      interval: 30s
      timeout: 10s
      retries: 6

  cds-edit-config:
    image: ${CDS_DOCKER_IMAGE:-ovhcom/ovh/cds-engine:latest}
    command: >
        sh -c "
        /app/cds-engine-linux-amd64 config edit /app/conf/conf.toml --output /app/conf/conf.toml \
            ${CDS_EDIT_CONFIG}";
    volumes:
      - cds-conf-volume:/app/conf

volumes:
  cds-artifacts-volume:
  cds-repositories-volume:
  cds-hatchery-local-volume:
  cds-conf-volume:
  cds-elasticsearch-volume: