<h2 *ngIf="!workerModel || !workerModel.id">{{ 'worker_model_new_title' | translate }}</h2>

<div *ngIf="workerModel;then showWorkerModel;else loadWorkerModel"></div>
<ng-template #showWorkerModel>
  <div id="WorkerModelAdd">
    <form class="ui form">
      <div class="ui grid">
        <div class="ten wide column">
            <div class="three fields">
              <div class="field">
                  <label>{{'worker_model_name' | translate}}</label>
                  <input class="ui input" type="text" name="name" [(ngModel)]="workerModel.name" [disabled]="loading">
              </div>
              <div class="field">
                  <label>{{'worker_model_group' | translate}}</label>
                  <sm-select class="fluid search"
                      name="group"
                      *ngIf="workerModelGroups"
                      [disabled]="loading"
                      [(model)]="workerModel.group_id"
                      [options]="{'fullTextSearch': true}">
                      <option *ngFor="let group of workerModelGroups" [value]="group.id">{{group.name}}</option>
                  </sm-select>
              </div>
              <div class="field">
                <label>{{'worker_model_restricted' | translate}}</label>
                <div class="ui checkbox">
                    <input type="checkbox" id="restricted" name="restricted" [(ngModel)]="workerModel.restricted" [disabled]="loading">
                    <label for="restricted">{{'worker_model_restricted_help' | translate}}</label>
                </div>
              </div>
            </div>
            <div class="field">
              <label>{{'common_description' | translate}}</label>
              <textarea name="description" [(ngModel)]="workerModel.description" rows="3"></textarea>
            </div>
            <div class="three fields">
              <div class="seven wide field">
                  <label>{{'worker_model_type' | translate}}</label>
                  <sm-select class="fluid search"
                      name="type"
                      *ngIf="workerModelTypes"
                      [disabled]="loading"
                      [(model)]="workerModel.type"
                      [options]="{'fullTextSearch': true}">
                      <option *ngFor="let type of workerModelTypes" [value]="type">{{type}}</option>
                  </sm-select>
              </div>
              <div class="five wide field">
                <label>{{'worker_model_communication' | translate}}</label>
                <sm-select class="fluid search"
                    name="type"
                    *ngIf="workerModelCommunications"
                    [disabled]="loading"
                    [(model)]="workerModel.communication"
                    [options]="{'fullTextSearch': true}">
                    <option *ngFor="let communication of workerModelCommunications" [value]="communication">{{communication}}</option>
                </sm-select>
              </div>
              <div class="four wide field" *ngIf="currentUser.admin">
                  <label>{{'worker_model_provision' | translate}}</label>
                  <input class="ui input" type="number" name="provision" [(ngModel)]="workerModel.provision" [disabled]="loading">
              </div>
            </div>
            <div class="field">
              <label>{{'worker_model_image' | translate}}</label>
              <input class="ui input" type="text" name="image" [(ngModel)]="workerModel.image" [disabled]="loading">
            </div>

            <div class="field">
                <button class="ui green right floated button" [class.loading]="loading" (click)="clickSaveButton()">
                  <i class="save icon"></i>{{ 'btn_add' | translate }}
                </button>
            </div>
        </div>
        <div class="six wide column">
          <div class="ui tall stacked segment">
            <h4 class="ui header"><i class="fa fa-book fa-3x"></i></h4>
            <p>{{'worker_model_help_line_1' | translate}}</p>
            <p>{{'worker_model_help_line_2' | translate}}</p>

            <i class="fa fa-question-circle"></i> {{'worker_model_help_howtos' | translate}}
            <div class="ui list">
              <a class="item" target="_blank" href="https://ovh.github.io/cds/workflows/pipelines/requirements/worker-model/docker/">{{'worker_model_help_howto_link_1' | translate}}</a>
              <a class="item" target="_blank" href="https://ovh.github.io/cds/workflows/pipelines/requirements/worker-model/docker/docker-customized/">{{'worker_model_help_howto_link_2' | translate}}</a>
              <a class="item" target="_blank" href="https://ovh.github.io/cds/workflows/pipelines/requirements/worker-model/openstack/">{{'worker_model_help_howto_link_3' | translate}}</a>
              <a class="item" target="_blank" href="https://ovh.github.io/cds/workflows/pipelines/requirements/worker-model/">{{'worker_model_help_howto_link_4' | translate}}</a>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</ng-template>
<ng-template #loadWorkerModel>
    <div class="ui text active loader">{{ 'worker_model_load_worker_model' | translate }}</div>
</ng-template>
