@import '../../../common';

.auth {
  background-color: $darkBackground;
  height: 100%;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
      flex: 1;

      .logo {
        height: 80px;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
      flex: 1;
      margin: 40px;
    }
  }
}