@import '../../../../common';

i {
  margin-right: 5px;
}
i.header {
    color: red;
    margin-top: 3px;
}
i.header.warning {
  color: orange;
}
i.header.info {
  color: #3c9ae8;
}

nz-spin {
  margin-top: 30px;
}

nz-collapse {
  margin-top: 20px;
}

.workflow-run {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .mt {
        margin-top: 50px;
    }

    .graph-wrapper {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;

        .loading {
            flex: 1;
            .col {
                display: flex;
                flex-direction: column;
                align-items: center;

                .sk-fold {
                    margin-bottom: 5px;
                    .sk-fold-cube {
                        border: 2px solid transparent;

                        &:before {
                            :host-context(.night) & {
                                background-color: $darkTheme_blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
