@import '../../../../common';

#WorkflowRun {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;

  .scrollingContent {
    overflow-x: auto;
  }
  .title {
    font-weight: 600;
  }

  .winfo{
    border-radius: 0 0 0.28571429rem 0.28571429rem;
  }
}
