@import '../../../../common';
@import '../../../../../node_modules/spinkit/scss/spinners/11-folding-cube';

.workflowRun {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .graph {
        flex: 1;
    }

    .mt {
        margin-top: 50px;
    }

    .loadingWrapper {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .loading {
            flex: 1;
            text-align: center;

            .sk-folding-cube {
                .sk-cube {
                    border: 2px solid transparent;

                    &:before {
                        :host-context(.night) & {
                            background-color: $darkTheme_blue;
                        }
                    }
                }

                z-index: 1001;
            }
        }
    }
}

.above {
    z-index: 1010;
}
