<div id="WorkflowRun" *ngIf="workflowRun">
    <div class="CDSmenu">
        <sm-menu title="" class="pointing secondary">
            <a sm-item [class.active]="selectedTab === 'workflow'" (click)="showTab('workflow')">
                <i class="sitemap icon"></i>
                {{ workflowRun.workflow.name + ' #' + workflowRun.num}}
            </a>
        </sm-menu>
    </div>

    <div class="scrollingContent">
        <div class="paddingContent">
            <div class="viewContent" [ngSwitch]="selectedTab">
                <div *ngSwitchCase="'workflow'">
                    <app-workflow-graph [project]="project" [workflow]="workflowRun.workflow" [webworker]="runWorkflowWorker"></app-workflow-graph>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui text active loader" *ngIf="!workflowRun">{{ 'workflow_loading' | translate }}</div>