@if (workflowRunData && workflowRunData['id']) {
  <div class="workflow-run">
    <app-workflow-run-summary [(direction)]="direction" [project]="project"
      [class.above]="workflowRunData['status'] === pipelineStatusEnum.PENDING">
    </app-workflow-run-summary>
    @if (displayError) {
      <nz-row>
        <nz-col [nzOffset]="2" [nzSpan]="20">
          @if (workflowRunData['infos']) {
            <nz-collapse>
              @for (info of workflowRunData['infos']; track info; let first = $first) {
                @if (info.type === 'Error') {
                  <nz-collapse-panel [nzActive]="first" [nzHeader]="headerTmpl">
                    <ng-template #headerTmpl>
                      <i nz-icon nzType="warning" nzTheme="fill" class="header"></i>
                      @if (!errorsMap[info.message.id]) {
                        <span>{{info.message.id}}</span>
                      }
                      @if (errorsMap[info.message.id]) {
                        <span>{{errorsMap[info.message.id].title |
                        translate}}</span>
                      }
                    </ng-template>
                    <div>
                      <p>
                        {{info.user_message}}. @if (errorsMap[info.message.id] && errorsMap[info.message.id].description) {
                        <span
                          >{{errorsMap[info.message.id].description
                        | translate}}</span>
                      }
                    </p>
                    <p>
                      @if (errorsMap[info.message.id] && errorsMap[info.message.id].link) {
                        <span>
                          <i nz-icon nzType="book" nzTheme="outline"></i>{{'common_find_help' | translate}}
                          <a target="_blank" rel="noopener noreferrer" [href]="errorsMap[info.message.id]?.link">{{'common_here' | translate}}</a>.
                        </span>
                      }
                    </p>
                  </div>
                </nz-collapse-panel>
              }
            }
          </nz-collapse>
        }
      </nz-col>
    </nz-row>
  }
  @if (warnings && warnings.length > 0) {
    <nz-row>
      <nz-col [nzOffset]="2" [nzSpan]="20">
        <!-- Warning PANEL -->
        <nz-collapse>
          @for (info of warnings; track info; let first = $first) {
            <nz-collapse-panel [nzActive]="first" [nzHeader]="headerWarnTmpl">
              <ng-template #headerWarnTmpl>
                <i nz-icon nzType="warning" nzTheme="fill" class="header warning"></i>
                @if (warningsMap[info.message.id]) {
                  <span>{{warningsMap[info.message.id].title |
                  translate}}</span>
                }
                @if (!warningsMap[info.message.id]) {
                  <span>{{info.message.id}}</span>
                }
              </ng-template>
              <div>
                <p>
                  {{info.user_message}}.
                </p>
                @if (warningsMap[info.message.id]) {
                  <p>
                    <i nz-icon nzType="book" nzTheme="outline"></i>{{'common_find_help' | translate}}
                    <a target="_blank" rel="noopener noreferrer" [href]="warningsMap[info.message.id].link">{{'common_here' | translate}}</a>
                  </p>
                }
              </div>
            </nz-collapse-panel>
          }
        </nz-collapse>
      </nz-col>
    </nz-row>
  }
  @if (workflowRunData && workflowRunData['read_only']) {
    <nz-row>
      <nz-col [nzOffset]="2" [nzSpan]="20">
        <nz-collapse>
          <nz-collapse-panel [nzHeader]="headerROTmpl">
            <ng-template #headerROTmpl>
              <i nz-icon nzType="warning" nzTheme="outline" class="header info"></i>
              <span>{{'workflow_run_readonly_title' | translate}}</span>
            </ng-template>
            <p>{{'workflow_run_readonly_content' | translate}}</p>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-col>
    </nz-row>
  }
  <div class="graph-wrapper">
    @if (workflowRunData['status'] !== pipelineStatusEnum.PENDING && workflowRunData['workflow'] && workflowRunData['workflow'].workflow_data) {
      <app-workflow-graph
        [direction]="direction" [project]="project" [workflowData]="workflowRunData['workflow']">
      </app-workflow-graph>
    }
    @if (workflowRunData['status'] === pipelineStatusEnum.PENDING) {
      <div class="loading">
        <div class="col">
          @if (!runDelayed) {
            <div class="sk-fold">
              <div class="sk-fold-cube"></div>
              <div class="sk-fold-cube"></div>
              <div class="sk-fold-cube"></div>
              <div class="sk-fold-cube"></div>
            </div>
            {{'workflow_run_scheduling' | translate }}
          }
          @if (runDelayed) {
            <div>
              <i nz-icon nzType="hourglass" nzTheme="outline"></i>
              {{'workflow_run_delayed' | translate }}
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
}
@if (!workflowRunData || !workflowRunData['id']) {
  <nz-spin nzTip="Loading workflow..."></nz-spin>
}
