:host {
    width: 100%;
    height: 100%;
    display: block;

    .filter {
        padding-top: 10px;

        nz-select {
            width: 280px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }

    .collapse {
        display: flex;
        flex-direction: column;
        background-color: #ffffff0a;

        .panel {
            .header {
                padding: 12px 16px;
                height: 46px;
                display: flex;
                background-color: #fafafa;

                :host-context(.night) & {
                    background-color: #202020;
                }

                .refresh {
                    margin-left: auto;
                }

                i {
                    font-size: 12px;
                    margin-right: 10px;
                }
            }

            .content {
                background-color: #fff;
                overflow-y: auto;

                :host-context(.night) & {
                    background-color: #141414;
                }
            }
        }

        .panel.expanded {
            margin-bottom: auto;
            height: 100%;
        }

        .panel.collapsed {
            height: 46px;

            .content {
                display: none;
            }
        }
    }
}
