<div class="sidebar">
    <div class="collapse" [appAutoHeightCollapsePanel]="panels">
        <div class="panel" [class.collapsed]="!panels[0]" [class.expanded]="panels[0]">
            <div class="header">
                <div class="pointing" (click)="togglePanel(0)">
                    <i nz-icon nzType="right" nzTheme="outline" *ngIf="!panels[0]"></i>
                    <i nz-icon nzType="down" nzTheme="outline" *ngIf="panels[0]"></i>
                </div>
                Workspace
                <div class="pointing refresh" (click)="loadWorkspace()" nz-tooltip nzTooltipTitle="Click to refresh the workspace">
                    <i nz-icon nzType="sync" [nzSpin]="refreshWorkspace" nzTheme="outline"></i>
                </div>
            </div>
            <div class="content">
                <app-tree [tree]="currentWorkspace" (nodeEvent)="handleWorkspaceEvent($event)" #treeWorkspace></app-tree>
            </div>
        </div>
        <div class="panel" [class.collapsed]="!panels[1]" [class.expanded]="panels[1]">
            <div class="header">
                <div class="pointing" (click)="togglePanel(1)">
                    <i nz-icon nzType="right" nzTheme="outline" *ngIf="!panels[1]"></i>
                    <i nz-icon nzType="down" nzTheme="outline" *ngIf="panels[1]"></i>
                </div>
                Integrations
            </div>
            <div class="content">
                <nz-alert nzMessage="Not implemented" nzType="info"></nz-alert>
            </div>
        </div>
    </div>
</div>
