.project {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
        height: 60px;
        padding: 14px 10px;
    }

    .body {
        display: flex;
        flex: 1;
        overflow: hidden;
        flex-direction: row;
        height: 100%;

        .content {
            flex: 1;
            overflow: hidden;
        }

        .loading {
            width: 100%;
        }
    }
}
