<div class="project">
    <div class="header">
        <app-projectv2-top-menu [project]="project"></app-projectv2-top-menu>
    </div>
    <div class="body">
        <ng-container *ngIf="project">
            <app-projectv2-left-menu [project]="project"></app-projectv2-left-menu>
            <app-resizable-panel *ngIf="workspaceSidebar" growDirection="after" minSize="250" [initialSize]="panelSize"
                (onGrabbingStart)="panelStartResize()" (onGrabbingEnd)="panelEndResize($event)">
                <ng-container>
                    <app-projectv2-sidebar class="sidebar" [project]="project"></app-projectv2-sidebar>
                </ng-container>
            </app-resizable-panel>
            <app-resizable-panel *ngIf="runSidebar" growDirection="after" minSize="250" [initialSize]="panelSize"
                (onGrabbingStart)="panelStartResize()" (onGrabbingEnd)="panelEndResize($event)">
                <ng-container>
                    <app-projectv2-sidebar-run class="sidebar" [project]="project"></app-projectv2-sidebar-run>
                </ng-container>
            </app-resizable-panel>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </ng-container>
        <ng-container *ngIf="!project">
            <div class="loading">
                <nz-spin nzTip="Loading project...."></nz-spin>
            </div>
        </ng-container>
    </div>
</div>