.project {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
      height: 60px;
      padding: 14px 10px;
  }
  .body {
    display: flex;
    height: 100%;

    .content {
      width: 100%;
    }

    .loading {
      width: 100%;
    }
  }
}
