<h3>Create a Webhook</h3>
@if (createdHook) {
  <nz-alert nzType="info" nzCloseable [nzMessage]="hookCreation" (nzOnClose)="closeAlert()"></nz-alert>
}
<ng-template #hookCreation>
  Hook URL: {{createdHook.url}}<br/>
  Hook secret: {{createdHook.hook_sign_key}}
</ng-template>
<form nz-form (ngSubmit)="createHook()">
  <nz-row>
    <nz-col [nzSpan]="newWebhook.type === 'repository' ? 6: 4">
      <nz-form-item>
        <nz-form-label>
          Hook Type
        </nz-form-label>
        <nz-form-control>
          <nz-select name="type" id="type" [(ngModel)]="newWebhook.type">
            @for (n of hookTypes; track n) {
              <nz-option [nzLabel]="n" [nzValue]="n"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="newWebhook.type === 'repository' ? 6: 4" [nzOffset]="1">
      <nz-form-item>
        <nz-form-label>
          Vcs server
        </nz-form-label>
        <nz-form-control>
          <nz-select name="vcs" id="vcs" [(ngModel)]="newWebhook.vcs_server">
            @for (n of vcss; track n) {
              <nz-option [nzLabel]="n.name" [nzValue]="n.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="newWebhook.type === 'repository' ? 6: 4" [nzOffset]="1">
      <nz-form-item>
        <nz-form-label>
          Repository
        </nz-form-label>
        <nz-form-control>
          <input nz-input name="repository" id="repository" [(ngModel)]="newWebhook.repository">
          @if (errorRepository) {
            <nz-alert nzType="warning" nzMessage="Repository cannot be empty"></nz-alert>
          }
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    @if (newWebhook.type === 'workflow') {
      <nz-col [nzSpan]="5" [nzOffset]="1">
        <nz-form-item>
          <nz-form-label>
            Workflow
          </nz-form-label>
          <nz-form-control>
            <input nz-input name="workflow" id="workflow" [(ngModel)]="newWebhook.workflow">
            @if (errorWorkflow) {
              <nz-alert nzType="warning" nzMessage="Workflow cannot be empty"></nz-alert>
            }
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    }
    <nz-col [nzSpan]="4" class="alignEnd">
      <button nz-button nzType="primary" [nzLoading]="loading.action">Create</button>
    </nz-col>
  </nz-row>
</form>

<h3>Webhooks :</h3>
<div class="list">
  <nz-table #table [nzData]="webhooks" [nsAutoHeightTable]="39" [nzFrontPagination]="false" nzSize="small"
    [nzLoading]="loading.list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Target</th>
        <th>Created</th>
        <th>Username</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of table.data; track data) {
        <tr>
          <td>{{data.id}}</td>
          <td>{{data.type}}</td>
          <td>{{data.vcs_server}}/{{data.repository}}@if (data.workflow !== '') {
            <span>/{{data.workflow}}</span>
          }</td>
          <td>{{data.created}}</td>
          <td>{{data.username}}</td>
          <td class="alignEnd"><button nz-button nzDanger [nzLoading]="loading.action" nz-popconfirm="Are you sure you want to revoke this webhook?" (nzOnConfirm)="deleteWebhook(data)">Delete</button></td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>