<div class="ui grid">
    <div class="column">
        <sui-tabset *ngIf="localDriver">
            <div class="ui top attached tabular menu">
                <a class="item" suiTabHeader="1">{{ 'account_btn_signin' | translate}}</a>
                <a *ngIf="!localDriver.signup_disabled" class="item" suiTabHeader="2"
                    (activate)="resetSignup()">{{ 'account_btn_signup' | translate}}</a>
            </div>
            <div class="ui bottom attached segment" suiTabContent="1">
                <form class="ui form" (ngSubmit)="signin(signinForm)" #signinForm="ngForm">
                    <div class="field">
                        <label>{{ 'user_label_username' | translate }}</label>
                        <input type="text" name="username" ngModel required>
                    </div>
                    <div class="field">
                        <label>{{ 'user_label_password' | translate }}</label>
                        <input type="password" name="password" ngModel required>
                    </div>
                    <div class="field right aligned">
                        <a class="pointing" (click)="navigateToAskReset()">{{ 'account_btn_password' | translate }}</a>
                        &nbsp;&nbsp;&nbsp;
                        <button class="ui green button"
                            type="submit">{{ 'account_login_btn_connect' | translate }}</button>
                    </div>
                </form>
            </div>
            <div *ngIf="!localDriver.signup_disabled" class="ui bottom attached segment" suiTabContent="2">
                <form *ngIf="!showSuccessSignup" class="ui form" (ngSubmit)="signup(signupForm)" #signupForm="ngForm">
                    <div class="field">
                        <label>{{ 'user_label_username' | translate }}</label>
                        <input type="text" name="username" ngModel required>
                    </div>
                    <div class="field">
                        <label>{{ 'user_label_fullname' | translate }}</label>
                        <input type="text" name="fullname" ngModel required>
                    </div>
                    <div class="field">
                        <label>{{ 'user_label_email' | translate }}</label>
                        <input type="email" name="email" ngModel required>
                    </div>
                    <div class="field">
                        <label>{{ 'user_label_password' | translate }}</label>
                        <input type="password" name="password" ngModel required>
                    </div>
                    <div class="field right aligned">
                        <button class="ui green button"
                            type="submit">{{ 'account_signup_btn_create' | translate }}</button>
                    </div>
                </form>
                <div *ngIf="showSuccessSignup" class="ui green message">
                    <p>{{ 'auth_signup_success' | translate }}</p>
                </div>
            </div>
        </sui-tabset>
        <div *ngIf="externalDrivers && externalDrivers.length > 0" class="ui bottom attached segment">
            <form class="ui form">
                <div *ngFor="let driver of externalDrivers" class="field">
                    <a href="/cdsapi/auth/consumer/{{driver.type}}/askSignin"
                        class="fluid ui {{driver.type}} button primary">
                        <i class="{{driver.type}} icon"></i>
                        {{ 'auth_button_signin_with' | translate: {consumer: driver.type} }}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>