@import '../../../../../common';
#GroupEdit {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;

    nz-row {
      nz-col {
        padding: 10px;

        button {
          float: right;
          margin-left: 10px;
        }
      }
      nz-col.projectList {
        h3 {
          margin-top: 5px;
          margin-bottom: 28px;
        }
      }

    }
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
