<div class="wrapper">
    <app-breadcrumb [path]="path"></app-breadcrumb>
    <app-scrollview class="scrollview">
        <div *ngIf="group;then showGroup;else loadGroup"></div>
        <ng-template #showGroup>
            <div id="GroupEdit">
                <form class="ui form">
                    <div class="ui grid">
                        <div class="ui row">
                            <div class="sixteen wide column">
                                <div class="field">
                                    <label>{{'group_name' | translate}}</label>
                                    <input class="ui input" type="text" name="name" [(ngModel)]="group.name"
                                        [disabled]="loading">
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="sixteen wide column">
                                <ng-container *ngIf="currentAuthSummary.isAdmin() || currentUserIsAdminOnGroup">
                                    <button class="ui green right floated button" *ngIf="group.id"
                                        [class.loading]="loading" (click)="saveGroup()">
                                        <i class="save icon"></i>{{ 'btn_save' | translate }}
                                    </button>
                                    <app-delete-button *ngIf="group.id" class="right floated" (event)="clickDelete()"
                                        [loading]="deleteLoading"></app-delete-button>
                                </ng-container>
                                <button *ngIf="!group.id" class="ui green right floated button"
                                    [class.loading]="loading" (click)="saveGroup()">
                                    <i class="plus icon"></i>{{ 'btn_add' | translate }}
                                </button>
                            </div>

                            <div class="sixteen wide column" *ngIf="group.id">
                                <div class="two fields" *ngIf="users">
                                    <div class="field">
                                        <label>{{ 'group_members' | translate }}</label>
                                        <sm-select *ngIf="currentAuthSummary.isAdmin() || currentUserIsAdminOnGroup"
                                            class="search" [options]="{'fullTextSearch': true}" [disabled]="loading"
                                            [(model)]="addUserUsername">
                                            <option *ngFor="let user of users" [value]="user.username">
                                                {{user.fullname}} -
                                                {{user.username}}</option>
                                        </sm-select>
                                    </div>
                                    <div class="buttons" *ngIf="currentAuthSummary.isAdmin() || currentUserIsAdminOnGroup">
                                        <button class="ui green button" [class.loading]="loading"
                                            (click)="clickAddMember()">
                                            <i class="add icon"></i>{{ 'btn_add' | translate }}
                                        </button>
                                    </div>
                                </div>

                                <div class="ui info message" *ngIf="group.members && group.members?.length === 0">
                                    {{ 'group_no_member' | translate }}
                                </div>

                                <table class="ui fixed celled table" *ngIf="group.members && group.members?.length > 0">
                                    <thead>
                                        <tr>
                                            <th class="five wide">{{ 'user_label_username' | translate }}</th>
                                            <th class="five wide">{{ 'user_label_fullname' | translate }}</th>
                                            <th class="six wide"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let v of group.members">
                                            <td>
                                                <i class="fa fa-user-circle-o" *ngIf="v.admin"
                                                    title="{{ 'group_user_is_admin' | translate }}"></i>
                                                {{v?.username}}
                                            </td>
                                            <td>
                                                {{v?.fullname}}
                                            </td>
                                            <td>
                                                <ng-container
                                                    *ngIf="currentAuthSummary.isAdmin() || currentUserIsAdminOnGroup">
                                                    <app-delete-button *ngIf="v?.username" class="ui right floated"
                                                        (event)="clickRemoveMember(v.username)"
                                                        [loading]="deleteLoading"></app-delete-button>
                                                    <button *ngIf="!v.admin" class="ui right floated button"
                                                        [class.loading]="loading" (click)="clickSetAdmin(v.username)">
                                                        <i class="add icon"></i>
                                                        {{ 'group_btn_set_admin' | translate }}
                                                    </button>
                                                    <button *ngIf="v.admin" class="ui right floated button"
                                                        [class.loading]="loading" (click)="clickUnsetAdmin(v.username)">
                                                        <i class="minus icon"></i>
                                                        {{ 'group_btn_unset_admin' | translate }}
                                                    </button>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
        <ng-template #loadGroup>
            <div class="ui text active loader">{{ 'group_load_group' | translate }}</div>
        </ng-template>
    </app-scrollview>
</div>
