.repoAdd {
  display: flex;
  flex-direction: column;
  height: 100%;

  .repoAdd-container {
    padding: 10px 30px;
    .info {

      .title {
        font-size: 1.1em;
        margin-bottom: 10px;
        i {
          font-size: 1.2em;
          margin-right: 10px;
        }
      }
      .content {
        padding-left: 30px;
      }
    }

    nz-row {
      width: 100%;
      margin-top: 20px;

      nz-col {
        padding: 0 10px;
        align-self: center;

        nz-select {
          width: 100%;
        }
      }
    }
  }

  .footer {
    display: flex;
    margin-top: auto;
    height: 46px;
    border-top: 1px solid #d9d9d9;
    padding: 7px 30px;

    :host-context(.night) & {
      border-top: 1px solid #434343;
    }

    .buttons {
      margin-left: auto;
      button {
        margin-left: 10px;
      }
    }
  }
}