<div class="ui inverted fixed menu navbar" *ngIf="ready">
    <a href="#" [routerLink]="['/']"><img src="assets/images/cds.png" class="item" title="{{'navbar_home' | translate}}"></a>

    <sui-search placeholder="{{'navbar_search' | translate}}" [options]="searchItems" [maxResults]="15" (resultSelected)="navigateToResult($event)"></sui-search>

    <sm-dropdown icon="browser" *ngIf="currentUser" class="search">
        <ng-container *ngFor="let prj of navProjects?.projects">
            <a sm-item href="#" [routerLink]="['project', prj.key]">{{ prj.name }}</a>
        </ng-container>
    </sm-dropdown>

    <sm-dropdown icon="clock" *ngIf="currentUser">
        <ng-container *ngFor="let app of listApplications">
            <a sm-item href="#" [routerLink]="['project', app.project_key, 'application', app.name]">{{ app.project_key + '/' + app.name}}</a>
        </ng-container>
    </sm-dropdown>

    <div class="right menu">
        <div class="item link" *ngIf="currentUser">
            <a id="createProjectURL" href="#" [routerLink]="['/project']"><i class="plus circle icon"></i>{{ 'project_create' | translate }}</a>
        </div>
        <div class="item link" *ngIf="currentUser">
            <a href="#" [routerLink]="['/warnings/show']" [queryParams]="getWarningParams()">
                <i class="alarm outline icon"></i>
                <div class="ui red circular label" *ngIf="warningsCount > 0">{{warningsCount}}</div>
            </a>
        </div>
        <sm-dropdown icon="settings" *ngIf="currentUser">
            <a sm-item href="#" [routerLink]="['settings', 'user', currentUser.username]">{{ 'navbar_profile' | translate }}</a>
            <a sm-item href="#" [routerLink]="['settings', 'action']">{{ 'navbar_actions' | translate }}</a>
            <a sm-item *ngIf="currentUser.admin" href="#" [routerLink]="['settings', 'user']">{{ 'navbar_users' | translate }}</a>
            <a sm-item href="#" [routerLink]="['settings', 'group']">{{ 'navbar_groups' | translate }}</a>
            <a sm-item href="#" [routerLink]="['settings', 'worker-model']">{{ 'navbar_worker_models' | translate }}</a>
        </sm-dropdown>
        <sm-dropdown icon="student" *ngIf="currentUser && currentUser.admin">
            <a sm-item href="#" [routerLink]="['admin', 'migration']">{{ 'navbar_admin_migration' | translate }}</a>
        </sm-dropdown>
        <sm-dropdown icon="help circle outline">
            <a sm-item href="https://github.com/ovh/cds/releases/latest">{{ 'navbar_download' | translate }}</a>
            <a sm-item href="https://ovh.github.io/cds/">{{ 'navbar_documentation' | translate }}</a>
        </sm-dropdown>
        <sm-select class="languageSelect"
            [options]="{'fullTextSearch': true}"
            [(model)]="currentCountry"
            (modelChange)="changeCountry()">
            <option value="fr"><i class="france flag"></i></option>
            <option value="en"><i class="gb flag"></i></option>
        </sm-select>
        <div class="item link">
            <a routerLink="/account/login" routerLinkActive="active">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </div>
</div>
