<div class="ui inverted fixed menu navbar" *ngIf="ready">

    <img src="assets/images/cds.png" class="item">


        <sm-select
                placeholder="{{'navbar_projects_placeholder' | translate}}"
                class="search left"
                [(model)]="selectedProjectKey"
                (modelChange)="navigateToProject($event)"
        >
            <option [value]="'#NOPROJECT#'">{{'navbar_projects_placeholder' | translate}}</option>
            <option *ngFor="let project of navProjects" [value]="project.key">{{project.name}}</option>
        </sm-select>
        <sm-select
                placeholder="Find application"
                class="search right"
                (keydown)="applicationKeyEvent($event)"
                [(model)]="selectedApplicationName"
                (modelChange)="navigateToApplication($event)"
                (onSearchChange)="filterApplication($event)"
        >
            <option [value]="'#NOAPP#'"></option>
            <option *ngFor="let app of listApplications" [value]="'/project/' + app.project_key + '/application/' + app.name">{{app.name}}</option>
        </sm-select>


    <div class="right menu">
        <div class="item link">
            <a href="#" [routerLink]="['/project']"><i class="plus circle icon"></i>{{ 'project_create' | translate }}</a>
        </div>
        <sm-dropdown icon="settings">
            <sm-item>{{ 'navbar_actions' | translate }}</sm-item>
            <sm-item>{{ 'navbar_users' | translate }}</sm-item>
            <sm-item>{{ 'navbar_groups' | translate }}</sm-item>
            <sm-item>{{ 'navbar_workers' | translate }}</sm-item>
        </sm-dropdown>
        <sm-dropdown icon="help circle outline">
            <sm-item>{{ 'navbar_feedback' | translate }}</sm-item>
            <sm-item>{{ 'navbar_download' | translate }}</sm-item>
            <sm-item>
              <a href="https://ovh.github.io/cds/">{{ 'navbar_documentation' | translate }}</a>
            </sm-item>
        </sm-dropdown>
        <sm-select class="languageSelect"
                [(model)]="currentCountry"
                (modelChange)="changeCountry()"
        >
            <option value="fr"><i class="france flag"></i></option>
            <option value="en"><i class="gb flag"></i></option>
        </sm-select>
        <div class="item link">
            <a routerLink="/account/login" routerLinkActive="active">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </div>
</div>
