@import '../../../common';

.ui.menu.navbar {
  background-color: $navbarColor;

  img.item {
    height: 50px;
    padding: 5px 10px;
    margin-right: 30px;
  }

  sui-search {
    padding-top: 6px;
    height: 30px;
  }

  sm-select {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
    display: flex;
    align-items: center;
  }

  sm-dropdown {
    height: 50px;
    display: flex;
    .item {
      color: white;
    }
  }

  sm-item a {
    color: black;
  }

  .item {
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    a {
      color: white;
    }
  }

  .item.link::before {
    width: 0px;
  }

  .details {
    .title {
      font-size: 1.1em;
    }
    .info {
      font-size: 0.8em;
    }
  }

}

sm-select.languageSelect {
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}


.ui.selection.dropdown {
  width: 28rem;
  min-width: 14rem;
}
