@import '../../../common';

$navbarColor: #344860;

.ui.menu.navbar {
  background-color: $navbarColor;

  img.item {
    height: 50px;
    padding: 5px 10px;
    margin-right: 30px;
  }

  sm-select {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
    display: flex;
    align-items: center;
  }

  sm-dropdown {
    height: 50px;
    display: flex;
  }

  .item {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .item.link::before {
    width: 0px;
  }
}