<ng-container *ngIf="currentWorkerModelName && !loading">
    <div class="workerModel-container">
        <app-entity *ngIf="workerModel && !errorNotFound" [path]="workerModel.file_path" [data]="workerModel.data"
            [schema]="jsonSchema"></app-entity>
        <nz-alert *ngIf="errorNotFound" nzType="warning"
            nzDescription="Worker model not found on branch {{currentBranch}}" nzShowIcon></nz-alert>
    </div>
    <div class="footer">
        <div class="buttons">
            <button nz-button nzType="primary" [nzLoading]="loading" [disabled]="true">
                Save
            </button>
        </div>
    </div>
</ng-container>
<nz-spin *ngIf="loading" nzTip="Loading worker model"></nz-spin>
