<ng-container *ngIf="workerModel && !loading">
    <app-entity [path]="workerModel.file_path" [data]="workerModel.data" [schema]="jsonSchema"></app-entity>
    <div class="footer">
        <div class="buttons">
            <button nz-button nzType="primary" [nzLoading]="loading" [disabled]="true">
                Save
            </button>
        </div>
    </div>
</ng-container>
<nz-alert *ngIf="errorNotFound && !loading" nzType="warning"
    nzDescription="Worker model not found on branch: '{{currentBranch}}'" nzShowIcon></nz-alert>
<nz-spin *ngIf="loading" nzTip="Loading worker model"></nz-spin>
