@import '../../../../../common';

.summary {
  margin: 10px 50px 10px 50px;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 1.2em;

  .title {

    font-weight: 600;
  }
  .content {

  }
}
.summary.sucess {
  border-color: $cds_color_green;
}
.summary.fail {
  border-color: $cds_color_red;
}
.summary.building {
  border-color: $cds_color_teal;
}

#ApplicationPipelineBuild {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}
