<div id="ApplicationPipelineBuild">
    <div class="CDSbreadcrumb">
        <app-breadcrumb [project]="project" [application]="application" [pipeline]="pipeline" [appVersion]="appVersionFilter" [version]="currentBuild?.version" [buildNumber]="currentBuild?.build_number" [envName]="envName" [branch]="branch" [remote]="remote"></app-breadcrumb>
    </div>

    <ng-container *ngIf="application && currentBuild">
        <app-run-summary [project]="project" [application]="application" [currentBuild]="currentBuild" [duration]="duration"></app-run-summary>
    </ng-container>


    <div class="CDSmenu">
        <sm-menu title="" class="pointing secondary">
            <a sm-item [class.active]="selectedTab === 'pipeline'" (click)="showTab('pipeline')">
                <i class="sitemap icon"></i>
                {{ 'common_pipeline' | translate }}
            </a>
            <a sm-item [class.active]="selectedTab === 'commit'" (click)="(currentBuild?.commits && currentBuild?.commits.length > 0)?showTab('commit') : showTab(selectedTab)" [class.disabled]="!currentBuild?.commits || currentBuild?.commits.length === 0">
                <span *ngIf="currentBuild?.commits">{{ currentBuild?.commits.length + ' '}}</span>
                <span *ngIf="currentBuild?.commits && currentBuild?.commits.length > 1">{{ 'common_commits' | translate }}</span>
                <span *ngIf="!currentBuild?.commits || (currentBuild?.commits && currentBuild?.commits.length < 2)">{{ 'common_commit' | translate }}</span>
            </a>
            <a sm-item [class.active]="selectedTab === 'test'" (click)="(nbTests > 0)?showTab('test') : showTab(selectedTab)" [class.disabled]="nbTests === 0">
                <span *ngIf="nbTests > 1">{{ 'common_tests' | translate }}</span>
                <span *ngIf="nbTests < 2">{{ 'common_test' | translate }}</span>
                {{ ' (' +nbTests + ')'}}
            </a>
            <a sm-item [class.active]="selectedTab === 'artifact'" (click)="(nbArtifacts > 0)?showTab('artifact') : showTab(selectedTab)" [class.disabled]="nbArtifacts === 0">
                <span *ngIf="nbArtifacts > 1">{{ 'common_artifacts' | translate }}</span>
                <span *ngIf="nbArtifacts < 2">{{ 'common_artifact' | translate }}</span>
                {{ ' (' +nbArtifacts + ')'}}
            </a>
            <a sm-item [class.active]="selectedTab === 'history'" (click)="(nbHistory > 0)?showTab('history') : showTab(selectedTab)" [class.disabled]="nbHistory === 0">
                {{ 'common_history' | translate }}
                {{ ' (' + nbHistory + ')'}}
            </a>
            <a *ngIf="false" sm-item [class.active]="selectedTab === 'highlights'" (click)="showTab('highlights')"><i class="graduation icon"></i>{{ 'common_highlights' | translate }}</a>
        </sm-menu>
    </div>

    <div class="scrollingContent" ngx-auto-scroll>
        <div class="paddingContent">
            <div class="viewContent" [ngSwitch]="selectedTab" *ngIf="currentBuild">
                <div *ngSwitchCase="'pipeline'" >
                    <app-pipeline-run-workflow [build]="currentBuild"
                        [project]="project" [application]="application" [pipeline]="pipeline" [previousBuild]="previousBuild"></app-pipeline-run-workflow>
                </div>
                <div *ngSwitchCase="'test'">
                    <app-tests-result [tests]="currentBuild?.tests"></app-tests-result>
                </div>
                <div *ngSwitchCase="'artifact'">
                    <app-artifact-list [artifacts]="currentBuild?.artifacts"></app-artifact-list>
                </div>
                <div *ngSwitchCase="'commit'">
                    <app-commit-list [commits]="currentBuild?.commits"></app-commit-list>
                </div>
                <div *ngSwitchCase="'history'">
                    <app-history [history]="histories" [currentBuild]="currentBuild" [project]="project" *ngIf="histories" (buildDeletedEvent)="loadHistory(currentBuild)"></app-history>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="ui text active loader" *ngIf="!currentBuild">Loading build...</div>
