<div id="CDSFavorite">
    <h1>Bookmarks management</h1>
    <nz-row *ngIf="!loading">
        <nz-col [nzSpan]="18" [nzOffset]="3">
          <app-favorite-cards [favorites]="favorites" [projects]="projects" [workflows]="workflows" (updated)="favoriteUpdated()"></app-favorite-cards>
        </nz-col>
    </nz-row>

    <nz-row  *ngIf="!loading && (!favorites || !favorites.length)">
        <nz-col [nzSpan]="18" [nzOffset]="3">
                <nz-alert nzType="info" nzMessage="You didn't add projects or workflows in your bookmarks yet."></nz-alert>
        </nz-col>
    </nz-row>

    <nz-spin *ngIf="loading" nzTip="Loading..."></nz-spin>
</div>
