<div id="CDSFavorite">
    <h1 class="ui center aligned header">{{ 'favorite_title' | translate }}</h1>
    <div class="ui row" *ngIf="!loading">
      <div class="ui grid">
        <div class="two wide column">
        </div>
        <div class="twelve wide column">
          <app-favorite-cards [favorites]="favorites" [projects]="projects" [workflows]="workflows" (updated)="favoriteUpdated()"></app-favorite-cards>
        </div>
      </div>
    </div>

    <div class="ui raised padded text container segment" *ngIf="!loading && (!favorites || !favorites.length)">
        {{'common_no_favorites' | translate}}
    </div>

    <div class="ui active text loader" *ngIf="loading">{{ 'common_loading' | translate }}</div>
</div>
