<div class="summary" *ngIf="currentBuild"
     [class.success]="currentBuild.status === pipelineStatusEnum.SUCCESS"
     [class.fail]="currentBuild.status === pipelineStatusEnum.FAIL"
     [class.building]="currentBuild.status === pipelineStatusEnum.BUILDING">
    <div class="ui grid">
        <div class="row">
            <div class="five wide column">
                <span class="title">{{ 'common_pipeline_title' | translate }}</span>
                <span class="content">
                    {{ currentBuild.application.name + ' / '}}
                    {{ currentBuild.pipeline.name}}
                    {{ ' v' + currentBuild.version}}
                </span>
            </div>
            <div class="five wide column">
                <span class="title">{{ 'common_pipeline_start_title' | translate }}</span>
                <span class="content">{{currentBuild.start | date:'short' }}</span>
            </div>
            <div class="five wide column" *ngIf="currentBuild.status !== pipelineStatusEnum.BUILDING">
                <span class="title">{{ 'common_duration_title' | translate }}</span>
                <span class="content">{{duration}}</span>
            </div>
        </div>
        <div class="row">
            <div class="five wide column" *ngIf="getAuthor()">
                <span class="title">{{ 'common_author_title' | translate }}</span>
                <span class="content">{{ getAuthor()}}</span>
            </div>
            <div class="five wide column">
                <span class="title">{{ 'common_branch_title' | translate }}</span>
                <span class="content">{{ currentBuild.trigger.vcs_branch}}</span>
            </div>
            <div class="six wide column" *ngIf="currentBuild.trigger.vcs_hash !== ''">
                <span class="title">{{ 'common_commit_title' | translate }}</span>
                <span class="content">{{ currentBuild.trigger.vcs_hash}}</span>
            </div>
        </div>
        <div class="row">
            <div class="right aligned column">
                <div class="ui buttons" *ngIf="currentBuild.status !== pipelineStatusEnum.BUILDING">
                    <button class="ui green basic button" [class.loading]="loading" [disabled]="loading" (click)="runAgain()" *ngIf="currentBuild.status === pipelineStatusEnum.FAIL">{{'pipeline_label_run_again' | translate}}</button>
                    <button class="ui green basic button" [class.loading]="loading" [disabled]="loading" (click)="runNew()">{{ 'pipeline_label_run_new' | translate }}</button>
                </div>
                <button class="ui green basic button" [class.loading]="loading" [disabled]="loading" (click)="stop()" *ngIf="currentBuild.status === pipelineStatusEnum.WAITING || currentBuild.status === pipelineStatusEnum.BUILDING">{{ 'pipeline_label_stop' | translate }}</button>
            </div>
        </div>
    </div>
</div>
