@use '../../../../common' as common;

:host {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  color: common.$polar_grey_1;
  background-color: common.$greyBackground;
  border-right: 1px solid #f0f0f0;

  :host-context(.night) & {
    background-color: common.$darkBackground;
    color: common.$darkTheme_grey_6;
    border-color: #303030;
  }

  a {
    position: relative;
    color: inherit;

    [nz-button] {
      padding: 10px 0;
      height: 44px;
      line-height: 44px;
      border-left: 3px solid transparent;
      padding-right: 3px;
    }

    &.active {
      [nz-button] {
        border-left: 3px solid common.$polar_grey_1;

        :host-context(.night) & {
          border-left: 3px solid common.$greyBackground;
        }
      }
    }

    .label {
      position: absolute;
      bottom: 4px;
      right: 4px;
      width: 18px;
      height: 16px;
      font-size: 10px;
      background-color: common.$polar_grey_1;
      text-align: center;
      color: common.$darkTheme_grey_6;
      border-radius: 10px;

      :host-context(.night) & {
        background-color: common.$greyBackground;
        color: common.$darkBackground;
      }
    }
  }

  [nz-icon] {
    font-size: 22px;
  }
}