#AddProject {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
  padding-top: 20px;

  h2 {
    text-align: center;
  }

  .proj-icon {
    height: 5em;
    width: 5em;
  }
}
