@import '../../../../../common';
.ui.input {
    position: inherit;
}

#BroadcastAdd {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;
    padding: 20px;
    h2 {
        text-align: center;
    }
    h4.ui.header {
        text-align: center;
    }
}
