$darkBackground: #1B1C1D;

$greyBackground: rgba(249, 249, 249, 1);
$darkGreyColor: rgba(34, 36, 38, 0.15);

$navbarHeight: 50px;
$navbarColor: #344860;

$sidebarOpenWidth: 0px;
$sidebarCloseWidth: 0px;


$cds_color_green : #21BA45;
$cds_color_teal : #4fa3e3;
$cds_color_red : #FF4F60;
$cds_color_orange : #FE9A76;

$cds_color_light_green : #E5FFE5;
$cds_color_light_red: #FFD2D6;
$cds_color_light_teal : #BEDEFF;
$cds_color_light_grey: #EEEEEE;

$cds_trigger_color: #9a9a9a;

.word-break-all {
  word-break:  break-all;
}

pre {
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}

// View style
.CDSbreadcrumb {
  padding: 15px;
  z-index: 100;
  height: $navbarHeight;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 0;
  padding: 1em 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.CDSmenu {
  padding: 0.25em 30px 0 30px;
  height: 40px;
}

.scrollingContent {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  flex: 1;

  .paddingContent {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0px 100px 0px 100px;

    .viewContent {
      padding-top: 25px;
    }
  }
}

// End view style

// Center a field
.field.center {
  text-align: center;
}

// Table
.table {
  border: none;

  thead {
    background-color: $greyBackground;
  }
  thead th {
    border: none;
    color: grey;
  }

  tbody tr td:first-child {
    border-left: 2px solid $darkGreyColor;
  }

  tbody tr td:last-child {
    border-right: 2px solid $darkGreyColor;
  }

  tbody tr:first-child td {
    border-top: 2px solid $darkGreyColor;
  }

  tbody tr:last-child td {
    border-bottom: 2px solid $darkGreyColor;
  }

  tbody tr td {
    overflow: visible;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  tbody tr:not(:hover) {
    input, select, textarea, .ui.dropdown {
      border-color: transparent;
    }
  }
  tbody tr.ui.form:not(:hover) {
    input, select, textarea, .ui.dropdown {
      border-color: transparent;
    }
  }
}

.table.borderless {
  tbody tr td {
    border: none;
  }
}

.ui.table th.center {
  text-align: center;
}

.ui.table td.center {
  text-align: center;
}

// End table
