@import "node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";

@component-background: #383736;

@layout-body-background: #2d2c2c;

.CodeMirror {
  border: 1px solid #434343;
}
.nzSegment {
  background: #1f1f1f;
  border: none;
}

input[type=checkbox]:read-only {
  opacity: 0;
}
