// This file contains all the overrides on semantic components required for CDS light and night theme.
$darkBackground: #1b1c1d;
$polar_grey_0: #333333;
$polar_grey_1: #666666;
$polar_grey_2: #6B6F7B;
$polar_grey_3: #B5B7BD;
$polar_grey_4: #E1E2E5;
$polar_grey_5: #FCFCFC;
$polar_grey_6: #212121;
$polar_grey_7: #282828;
$polar_grey_8: #303030;

$darkTheme_grey_0: #2d2c2c; // top bar and active|hover on darkTheme_grey_1 background
$darkTheme_grey_1: #383736;
$darkTheme_grey_2: #333333;
$darkTheme_grey_3: #434141;
$darkTheme_grey_4: #aaaaaa;
$darkTheme_grey_5: #a2a3a3; // title on darkTheme_grey_1
$darkTheme_grey_6: #cccccc; // text on darkTheme_grey_1

$darkTheme_green: #245b2c;
$darkTheme_teal: #00498d;
$darkTheme_red: #c30101;
$darkTheme_light_green: #263f0d;
$darkTheme_light_red: #940000;
$darkTheme_light_teal: #02386e;
$darkTheme_light_grey: #EEEEEE;

.night {
  color: $darkTheme_grey_6;
  background-color: $darkTheme_grey_1;
}

.ui.card {
  .meta {
    .night & {
      color: rgba(255, 255, 255, 0.4)
    }
  }

  .night & {
    background-color: $darkTheme_grey_0;
    box-shadow: 0px 1px 3px 0px $polar_grey_0, 0px 0px 0px 1px $polar_grey_0;
  }
}

.ui.cards a.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover,
.ui.link.card:hover {
  .night & {
    background-color: $darkBackground;
    box-shadow: 0px 1px 3px 0px $polar_grey_0, 0px 0px 0px 1px $polar_grey_0;
  }
}

.ui.card>.content>.header {
  .night & {
    color: $darkTheme_grey_6;
  }
}

.ui.selection.dropdown {
  .night & {
    background-color: $darkTheme_grey_0;
  }
}

.ui.menu .item {
  .night & {
    color: $darkTheme_grey_6;
  }
}

.ui.vertical.menu {
  background-color: transparent !important;
}

.ui.secondary.pointing.menu .active.item {
  .night & {
    color: $darkTheme_grey_6;
  }
}

.ui.breadcrumb .divider {
  .night & {
    color: $darkTheme_grey_6;
  }
}

.ui.segment {
  .night & {
    background-color: $darkTheme_grey_0;
  }
}

.ui.form .field>label {
  .night & {
    color: $darkTheme_grey_6;
  }
}

.ui.form input,
.ui.form textarea,
.ui.input input {
  .night & {
    color: $darkTheme_grey_6;
    background-color: $darkTheme_grey_0;
    border-color: $polar_grey_0;
  }
}

.ui.form input:focus,
.ui.form textarea:focus {
  .night & {
    color: $darkTheme_grey_6;
    background-color: $darkBackground;
    border-color: $polar_grey_0;
  }
}

.ui.header,
.ui.attached.block.header,
.ui.attached.top.segment {
  .night & {
    color: $darkTheme_grey_6;
    background-color: $polar_grey_7 !important;
    border-color: $polar_grey_7;
  }
}

.ui.attached.segment {
  .night & {
    border-color: $polar_grey_7;
  }
}

.ui.label {
  .night & {
    color: $darkTheme_grey_6;
  }
}

.ui.basic.label,
.ui.basic.green.label,
.ui.basic.orange.label,
.ui.basic.grey.label {
  background-color: transparent !important;
}

a.ui.basic.green.label:hover,
a.ui.basic.orange.label:hover,
a.ui.basic.grey.label:hover {
  background-color: transparent !important;
}

.ui.steps .step {
  .night & {
    color: $darkTheme_grey_6;
    background-color: transparent !important;
  }
}

.table {
  background-color: transparent !important;

  .night &,
  :host-context(.night) & {
    color: $darkTheme_grey_6;
  }
}

.table thead th,
.ui.table thead th {
  color: grey;
  background-color: transparent !important;

  .night &,
  :host-context(.night) & {
    color: $darkTheme_grey_6;
  }
}

.ui.popup {

  .night &,
  :host-context(.night) & {
    background-color: $darkTheme_grey_1;
    border-color: $darkTheme_grey_5;
    color: $darkTheme_grey_6;

    .arrow {
      background-color: $darkTheme_grey_1;
    }
  }
}

.ui.modal,
.ui.modal>.content {

  .night &,
  :host-context(.night) & {
    background-color: $darkTheme_grey_1;
  }
}

.ui.modal>.header,
.ui.modal>.actions,
.ui.dropdown .menu {

  .night &,
  :host-context(.night) & {
    background-color: $darkTheme_grey_0;

    .item {
      color: $darkTheme_grey_6;
    }
  }
}

.ui.menu .dropdown.item .menu {

  .night &,
  :host-context(.night) & {
    background-color: $darkTheme_grey_0;
  }
}


.ui.menu .dropdown.item .menu>.item {

  .night &,
  :host-context(.night) & {
    color: $darkTheme_grey_6 !important;
  }
}
