<div class="wrapper">
    <div class="summary">
        <div class="ui grid">
            <div class="ui row" *ngIf="tests">
                <div class="right aligned five wide column">
                    <a class="pointing" (click)="statusFilter('all')">
                        {{tests.total}}
                        <span *ngIf="tests.total > 1">{{'pipeline_run_test_total_title_s' | translate}}</span>
                        <span *ngIf="tests.total < 2">{{'pipeline_run_test_total_title' | translate}}</span>
                    </a>
                </div>
                <div class="centered five wide column">
                    <a class="pointing" (click)="statusFilter('failed')">
                        {{ tests.ko }}
                        <span *ngIf="tests.ko > 1">{{'pipeline_run_test_failed_title_s' | translate}}</span>
                        <span *ngIf="tests.ko < 2">{{'pipeline_run_test_failed_title' | translate}}</span>
                    </a>
                </div>
                <div class="five wide column">
                    <a class="pointing" (click)="statusFilter('skipped')">
                        {{ tests.skipped }}
                        <span *ngIf="tests.skipped > 1">{{'pipeline_run_test_skipped_title_s' | translate}}</span>
                        <span *ngIf="tests.skipped < 2">{{'pipeline_run_test_skipped_title' | translate}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui grid">
        <div class="sixteen wide column">
            <app-data-table [withPagination]="20" [filter]="filterInput" [withFilter]="filter"
                [columns]="columns" [data]="testcases" (dataChange)="resetFilter($event)">
            </app-data-table>
        </div>
        <div class="sixteen wide column" *ngIf="testCaseSelected">
            <div>
                <h4>Errors / Failures</h4>
                <codemirror
                    *ngIf="testCaseSelected.errorsAndFailures && testCaseSelected.errorsAndFailures !== ''"
                    [ngModel]="testCaseSelected.errorsAndFailures"
                    [config]="codeMirrorConfig"
                    #codemirror1>
                </codemirror>
                <div class="ui info message" *ngIf="!testCaseSelected.errorsAndFailures || testCaseSelected.errorsAndFailures === ''">
                    {{ 'common_no_data' | translate }}
                </div>

                <h4>Systemout</h4>
                <codemirror
                    *ngIf="testCaseSelected.systemout && testCaseSelected.systemout.value !== ''"
                    [ngModel]="testCaseSelected.systemout.value"
                    [config]="codeMirrorConfig"
                    #codemirror2>
                </codemirror>
                <div class="ui info message" *ngIf="!testCaseSelected.systemout || testCaseSelected.systemout.value === ''">
                    {{ 'common_no_data' | translate }}
                </div>

                <h4>Systemerr</h4>
                <codemirror
                    *ngIf="testCaseSelected.systemerr && testCaseSelected.systemerr.value !== ''"
                    [ngModel]="testCaseSelected.systemerr.value"
                    [config]="codeMirrorConfig"
                    #codemirror3>
                </codemirror>
                <div class="ui info message" *ngIf="!testCaseSelected.systemerr || testCaseSelected.systemerr.value === ''">
                    {{ 'common_no_data' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
