@import '../../../../../../../common';

$squareSize: 32px;

.log {
  background-color: #222;
  color: white;
  clear: both;
  padding: 10px $squareSize 10px $squareSize;

  pre {
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 300px;
    overflow-y: auto;
  }
}

.msgEmpty {
  text-align: center;
  margin-top: 75px;
}

.big {
  font-size: 2.5rem;
}

.ui.message:first-child {
  margin-top: 75px;
}