<div class="wrapper">
  <div class="summary">
    <nz-row>
      <nz-col [nzSpan]="5" [nzOffset]="3">
        <a class="pointing" (click)="statusFilter('all')">
          {{tests.total}}
          @if (tests.total > 1) {
            <span>{{'pipeline_run_test_total_title_s' | translate}}</span>
          }
          @if (tests.total < 2) {
            <span>{{'pipeline_run_test_total_title' | translate}}</span>
          }
        </a>
      </nz-col>
      <nz-col [nzSpan]="5" [nzOffset]="3">
        <a class="pointing" (click)="statusFilter('failed')">
          {{ tests.ko }}
          @if (tests.ko > 1) {
            <span>{{'pipeline_run_test_failed_title_s' | translate}}</span>
          }
          @if (tests.ko < 2) {
            <span>{{'pipeline_run_test_failed_title' | translate}}</span>
          }
        </a>
      </nz-col>
      <nz-col [nzSpan]="5" [nzOffset]="3">
        <a class="pointing" (click)="statusFilter('skipped')">
          {{ tests.skipped }}
          @if (tests.skipped > 1) {
            <span>{{'pipeline_run_test_skipped_title_s' | translate}}</span>
          }
          @if (tests.skipped < 2) {
            <span>{{'pipeline_run_test_skipped_title' | translate}}</span>
          }
        </a>
      </nz-col>
    </nz-row>
  </div>

  <nz-row>
    <nz-col [nzSpan]="24">
      <app-data-table [withPagination]="20" [filter]="filterInput" [withFilter]="filter" [columns]="columns"
        [data]="testcases" (dataChange)="dataChanged($event)" (filterChange)="filterChanged($event)">
      </app-data-table>
    </nz-col>
    @if (testCaseSelected) {
      <nz-col [nzSpan]="24">
        <div>
          <h4>Errors / Failures / Skipped</h4>
          @if (testCaseSelected.messages && testCaseSelected.messages !== '') {
            <codemirror
              [ngModel]="testCaseSelected.messages" [config]="codeMirrorConfig" #codemirror1>
            </codemirror>
          }
          @if (!testCaseSelected.messages || testCaseSelected.messages === '') {
            <nz-alert nzType="info" nzMessage="No data found">
            </nz-alert>
          }
          <h4>Systemout</h4>
          @if (testCaseSelected.systemout && testCaseSelected.systemout.value && testCaseSelected.systemout.value !== '') {
            <codemirror
              [ngModel]="testCaseSelected.systemout.value" [config]="codeMirrorConfig" #codemirror2>
            </codemirror>
          }
          @if (!testCaseSelected.systemout || !testCaseSelected.systemout.value || testCaseSelected.systemout.value === '') {
            <nz-alert nzType="info"
              nzMessage="No data found">
            </nz-alert>
          }
          <h4>Systemerr</h4>
          @if (testCaseSelected.systemerr && testCaseSelected.systemerr.value && testCaseSelected.systemerr.value !== '') {
            <codemirror
              [ngModel]="testCaseSelected.systemerr.value" [config]="codeMirrorConfig" #codemirror3>
            </codemirror>
          }
          @if (!testCaseSelected.systemerr || !testCaseSelected.systemerr.value || testCaseSelected.systemerr.value === '') {
            <nz-alert nzType="info"
              nzMessage="No data found">
            </nz-alert>
          }
        </div>
      </nz-col>
    }
  </nz-row>
</div>
