<sm-modal title="{{ 'application_launch_manual_title' | translate}}" class="fluid" #launchModal>
    <modal-content>
        <div class="ui form" *ngIf="launchPipelineParams">
            <div *ngIf="workflowItem.parent;then parent;else orphan"></div>
            <ng-template #parent>
                <div class="field">
                    <label>{{ 'pipeline_parent_version' | translate }}</label>
                    <sm-select class="fluid search"
                        name="envname"
                        [options]="{'fullTextSearch': true}"
                        [disabled]="loading"
                        [(model)]="launchParentBuildNumber"
                        (modelChange)="loadCommits()">
                        <option *ngFor="let pb of launchOldBuilds" [value]="pb.build_number">{{ 'v' + pb.version}}</option>
                    </sm-select>
                </div>
                <div class="field" *ngIf="currentHash">
                    <label>{{ 'pipeline_parent_commit_to_deploy' | translate}}</label>
                    <ng-container *ngIf="commits[currentHash] && !loadingCommits && commits[currentHash].length > 0">
                        <app-commit-list [commits]="commits[currentHash]"></app-commit-list>
                    </ng-container>
                    <ng-container *ngIf="commits[currentHash] && !loadingCommits && commits[currentHash].length === 0">
                        <div class="ui info message">
                            {{ 'pipeline_commit_no' | translate }}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="loadingCommits">
                        <div class="ui info message">
                            {{ 'pipeline_commits_loading' | translate }}
                        </div>
                    </ng-container>
                </div>
            </ng-template>
            <ng-template #orphan>
                <div class="field">
                    <label> {{ 'application_launch_git_title' | translate}}</label>
                    <app-parameter-list [parameters]="launchGitParams" mode="launcher"></app-parameter-list>
                </div>
            </ng-template>

            <div class="field" *ngIf="launchPipelineParams.length > 0">
                <label> {{ 'application_launch_pipeline_title' | translate}}</label>
                <app-parameter-list [parameters]="launchPipelineParams" [project]="project" [paramsRef]="workflowItem?.pipeline?.parameters" mode="launcher"></app-parameter-list>
            </div>
        </div>
    </modal-content>
    <modal-actions>
        <div class="ui grey button" (click)="launchModal.hide()">{{ 'btn_cancel' | translate }}</div>
        <div class="ui green button" (click)="runManual()">{{ 'btn_run' | translate }}</div>
    </modal-actions>
</sm-modal>