<h3>
    <app-warning-mark-list [warnings]="warnings"></app-warning-mark-list>
    {{ 'project_permission_list_title' | translate }}
</h3>
<app-permission-list [permissions]="project.groups" (event)="groupEvent($event)" [edit]="project.permissions.writable"></app-permission-list>
<ng-container *ngIf="project.permissions.writable">
    <h3>{{ 'project_permission_form_title' | translate }}</h3>
    <app-permission-form (createGroupPermissionEvent)="groupEvent($event)" [loading]="permFormLoading"></app-permission-form>
</ng-container>
<div *ngIf="loading" class="ui text active loader">{{'common_loading_environments' | translate}}...</div>
<app-warning-modal [title]="_translate.instant('warning_modal_title')" [msg]="_translate.instant('warning_modal_body')"
    (event)="groupEvent($event, true)" #permWarning></app-warning-modal>
<app-confirm-modal [title]="'project_permission_propagate_title' | translate" [msg]="'project_permission_propagate_question' | translate"
    (event)="confirmPermPropagation($event)" #confirmPropagationModal>
</app-confirm-modal>
