<app-tabs [tabs]="tabs" (onSelect)="selectTab($event)" [disableNavigation]="true"></app-tabs>
<div class="close" (click)="clickClose()">
    <i class="close icon"></i>
</div>
<app-workflow-run-job *ngIf="selectedTab.key === 'logs' && selectedNodeJobRun" [projectKey]="projectKey"
    [workflowName]="workflowName" [workflowRunNum]="workflowRunNum" [nodeJobRun]="selectedNodeJobRun"
    (onScroll)="onJobScroll($event)" #workflowRunJob>
</app-workflow-run-job>
<div class="variables" *ngIf="selectedTab.key === 'variables'">
    <div *ngFor="let key of variableKeys">
        <h4>{{ 'pipeline_job_variable_' + key | translate }}</h4>
        <app-parameter-list [parameters]="variables[key]" mode="job"></app-parameter-list>
    </div>
</div>
