<div class="graph" [class.disableSelection]="resizing">
    <app-workflowv3-stages-graph [workflowRun]="data" [direction]="direction" (onSelectJob)="clickShowJobLogs($event)"
        #graph></app-workflowv3-stages-graph>
    <app-resizable-panel class="night" [direction]="'vertical'" (onGrabbingStart)="panelStartResize()"
        (onGrabbingEnd)="panelEndResize()">
        <app-tabs [tabs]="tabs" (onSelect)="selectTab($event)"></app-tabs>
        <ng-containers *ngIf="selectedTab.key === 'problems'">
            <div class="ui list problems">
                <div *ngFor="let error of errors" class="item error">
                    <i class="times circle icon"></i>
                    <div class="content">
                        Job "{{error.jobName}}": error on step
                        n°{{error.stepNumber}}. <a (click)="clickShowJobLogs(error.jobName)">Show
                            logs...</a>
                    </div>
                </div>
                <div *ngFor="let problem of problems" class="item warning">
                    <i class="exclamation triangle icon"></i>
                    <div class="content">
                        {{problem}}.
                    </div>
                </div>
            </div>
        </ng-containers>
        <ng-containers *ngIf="selectedTab.key === 'infos'">
            <div class="ui list infos">
                <div *ngFor="let info of infos" class="item info">
                    <i class="exclamation circle icon"></i>
                    <div class="content">
                        {{info}}.
                    </div>
                </div>
            </div>
        </ng-containers>
    </app-resizable-panel>
</div>
<app-resizable-panel *ngIf="selectJobRun" class="night" (onGrabbingStart)="panelStartResize()"
    (onGrabbingEnd)="panelEndResize()">
    <app-workflowv3-run-job [projectKey]="projectKey" [workflowName]="data.workflow.name" [workflowRunNum]="data.number"
        [jobRun]="selectJobRun" (onClickClose)="closeJobPanel()"></app-workflowv3-run-job>
</app-resizable-panel>
