nz-row {
  nz-col {
    padding: 0 5px;

    nz-select {
      width: 100%;
    }

    nz-switch {
      margin-right: 10px;
    }

  }
}
.help {
  margin-bottom: 20px;
}

.floatRight {
  float: right;
}
