<h3><span nz-icon nzType="share-alt" nzTheme="outline"></span> {{'usage_workflow_list' | translate}}</h3>
<div class="nzSegment">
  @if (workflows && workflows.length > 0) {
    <nz-row>
      @for (workflow of workflows; track workflow) {
        <nz-col [nzSpan]="4" [nzOffset]="2">
          @if (project) {
            <a [routerLink]="['/project', project.key, 'workflow', workflow.name]">{{workflow.name}}</a>
          }
          @if (!project) {
            <a [routerLink]="['/project', workflow.project_key, 'workflow', workflow.name]">{{workflow.name}}</a>
          }
        </nz-col>
      }
    </nz-row>
  } @else {
    <div>
      <span>{{ 'common_no_workflow' | translate }}</span>
    </div>
  }
</div>
