<a class="step job animated fadeIn" (click)="open = !open" (dblclick)="goToJobLogs()">
  <div>
    <app-status-icon [status]="jobStatus" class="job"></app-status-icon>
  </div>
  <div>
    <div class="title job">{{job.action.name}} <i class="warning sign icon orange" *ngIf="warning"></i></div>
  </div>
  <div class="forceRight" *ngIf="stepIds && stepIds.length">
    <i class="caret icon" [class.right]="!open" [class.down]="open"></i>
  </div>
</a>
<div [hidden]="!open">
  <ng-container *ngFor="let stepOrder of stepIds">
    <app-action-step-summary
            [nodeName]="nodeName"
            [runNumber]="runNumber"
            [pipelineActionId]="job.pipeline_action_id"
            [stepName]="job.action.actions[stepOrder].name"
            [stepOptionnal]="job.action.actions[stepOrder].optional"
            [stepOrder]="stepIds"
            [workflowNodeRunId]="workflowRunNodeId"
            [stageId]="stageId"
            [jobId]="jobId">
    </app-action-step-summary>
  </ng-container>
</div>
