<form class="ui form" (ngSubmit)="updatePipeline()" novalidate>
    <div class="ui grid">
        <div class="eight wide column">
            <div class="field">
                <label>{{ 'pipeline_name' | translate}}</label>
                <input type="text" [(ngModel)]="editablePipeline.name" name="pipname" [disabled]="loading">
            </div>
            <div class="field">
                <label>{{ 'pipeline_type' | translate }}</label>
                <sm-select class="search fluid" [disabled]="loading" [(model)]="editablePipeline.type" *ngIf="pipelineTypes.length > 0">
                    <option *ngFor="let t of pipelineTypes" value="{{t}}">{{t}}</option>
                </sm-select>
            </div>
            <div class="right aligned field">
                <button class="ui button green button" [class.disabled]="loading" type="submit">{{ 'btn_save' | translate }}</button>
            </div>
        </div>
        <div class="eight wide column">
            <div class="right aligned field">
                <app-delete-button [loading]="loading" (event)="deleteApplication()"></app-delete-button>
            </div>
        </div>
    </div>
</form>