<form class="ui form">
    <div class="field">
        <div class="fields">
            <div class="six wide inline field">
                <label>{{'common_name' | translate}}</label>
                <input type="text" name="stageName" [(ngModel)]="editableStage.name" (keydown)="editableStage.hasChanged = true" *ngIf="pipeline.permission === 7">
                <div class="inline" *ngIf="pipeline.permission !== 7">{{editableStage.name}}</div>
            </div>
            <div class="six wide inline field">
                <label>{{ 'stage_order' | translate }}</label>
                <input type="number" name="order" [(ngModel)]="editableStage.build_order" (keydown)="editableStage.hasChanged = true" *ngIf="pipeline.permission === 7">
                <div class="inline" *ngIf="pipeline.permission !== 7">{{editableStage.build_order}}</div>
            </div>
            <div class="one wide right aligned field">
                <div class="ui checkbox">
                    <input type="checkbox" name="enabled" [(ngModel)]="editableStage.enabled" (change)="editableStage.hasChanged = true" [disabled]="pipeline.permission !== 7">
                    <label>{{ 'common_enable' | translate }}</label>
                </div>
            </div>
            <div class="four wide right aligned link field">
                <a class="pointing" (click)="prerequisiteModal.show({inverted: true})">
                    {{ editableStage.prerequisites.length + ' '}}
                    <span *ngIf="editableStage.prerequisites.length > 1">{{ 'prerequisite_title_s' | translate}}</span>
                    <span *ngIf="editableStage.prerequisites.length < 2">{{ 'prerequisite_title' | translate}}</span>
                </a>
                <sm-modal class="large" title="{{ 'prerequisite_title' | translate }}" #prerequisiteModal>
                    <modal-content>
                        <div>
                            <app-prerequisites-list
                                                    [prerequisites]="editableStage.prerequisites"
                                                    [edit]="pipeline.permission === 7"
                                                    (event)="prerequisiteEvent($event)"></app-prerequisites-list>
                        </div>
                        <div class="prerequisiteForm" *ngIf="pipeline.permission === 7">
                            <app-prerequisites-form [prerequisites]="availablePrerequisites"
                                                    (event)="prerequisiteEvent($event)"></app-prerequisites-form>
                        </div>
                    </modal-content>
                    <modal-actions>
                        <button class="ui grey button" (click)="prerequisiteModal.hide()">{{ 'common_close' | translate }}</button>
                    </modal-actions>
                </sm-modal>
            </div>
            <div class="three wide right aligned field" *ngIf="pipeline.permission === 7">
                <div class="ui green button" *ngIf="editableStage.hasChanged" (click)="stageEvent('update')"><i class="save icon"></i>{{ 'btn_save'
                    | translate }}
                </div>
                <app-delete-button *ngIf="!editableStage.hasChanged" (event)="stageEvent('delete')"></app-delete-button>
            </div>
        </div>
    </div>
</form>
<div>
    <h3>{{ 'stage_jobs_title' | translate}}</h3>
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui vertical steps">
                    <div class="step" *ngFor="let job of editableStage.jobs"
                         [class.active]="selectedJob?.pipeline_action_id === job.pipeline_action_id"
                         [class.off]="!job.enabled">
                        <div class="content">
                            <a class="title pointing" (click)="selectJob(job)">{{job.action.name}}</a>
                            <div class="description">
                                <markdown>{{job.action.description}}</markdown>
                            </div>
                        </div>
                    </div>

                <div class="step" *ngIf="pipeline.permission === 7">
                    <div class="content">
                        <div class="title">
                            <a class="pointing" (click)="addJob()">
                                <i class="plus green circle icon"></i>{{ 'step_add_job' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="thirteen wide stretched column">
            <app-action *ngIf="selectedJob" [edit]="pipeline.permission === 7" [project]="project" [action]="selectedJob.action" (actionEvent)="jobEvent($event)"></app-action>
        </div>
    </div>
</div>

