<h3>{{ 'stage_jobs_title' | translate}}</h3>
<div class="ui grid">
    <div class="three wide column">
        <div class="ui vertical steps">
            <div class="step" *ngFor="let job of editableStage.jobs"
                 [class.active]="selectedJob?.pipeline_action_id === job.pipeline_action_id"
                 [class.off]="!job.enabled">
                <div class="content">
                    <a class="title pointing" (click)="selectJob(job)">{{job.action.name}}</a>
                    <div class="description">
                        <markdown>{{job.action.description}}</markdown>
                    </div>
                </div>
            </div>

            <div class="step" *ngIf="pipeline.permission === 7">
                <div class="content">
                    <div class="title">
                        <a class="pointing" (click)="addJob()">
                            <i class="plus green circle icon"></i>{{ 'step_add_job' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide stretched column">
        <app-action *ngIf="selectedJob" [edit]="pipeline.permission === 7" [project]="project" [action]="selectedJob.action"
                    (actionEvent)="jobEvent($event)"></app-action>
    </div>
</div>

