.ui.vertical.steps {
  width: 100%;
}

.ui.form {
  .field {
    .ui.toggle.checkbox {
      padding-top: 8px;
    }
  }

  .field.prerequisite {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .inline.field input {
    width: 70%;
  }
}

.field.link {
  margin-top: 8px !important;
}

.prerequisiteForm {
  margin-top: 10px;
}

pre {
  word-break: break-word;
}

