<div id="ApplicationAdmin">
    <app-zone header="{{ 'application_workflow_migration' | translate }}" *ngIf="user.admin || project.workflow_migration !== 'NOT_BEGUN'">
        <app-zone-content class="bottom">
            <div [ngSwitch]="application.workflow_migration">
                <div *ngSwitchCase="'CLEANING'">
                    <i class="green check icon"></i>
                </div>
                <div *ngSwitchCase="'DONE'">
                    <i class="green check icon"></i>
                </div>
                <div *ngSwitchDefault class="ui form">
                    <div class="ui segment sixteen wide column">
                       <p>You can choose how to migrate your application to new CDS Workflow. By default:</p>
                           <ul>
                               <li>workflow generated will be 'wYouApplicationName', </li>
                               <li>start cds.version with '0'</li>
                               <li>do not create Repository Webhook on Bitbucket / Github / Gitlab</li>
                           </ul>
                        <p>You can adjust theses default values with options below.</p>

                        <p>Once the new CDS Workflow will be generated, old workflow is still usable. We recomand you to
                            test the new CDW Workflow, then 'clean' this application to remove old workflow as soon as possible.</p>
                    </div>
                    <div class="fields">
                        <div class="four field">
                            <sm-checkbox label="Disable prefix 'w' in Workflow name generated" [control]="disablePrefix" type="toggle"></sm-checkbox>
                        </div>
                        <div class="four field">
                            <sm-checkbox label="Create Repository Webhook if needed" [control]="withRepositoryWebHook" type="toggle"></sm-checkbox>
                        </div>
                        <div class="four field">
                            <sm-checkbox label="Keep current cds.version" [control]="withCurrentVersion" type="toggle"></sm-checkbox>
                        </div>                        
                        <div class="four field">
                            <div *ngIf="application.workflow_migration == 'STARTED'">
                                <button class="ui green button" [class.loading]="loading" [disabled]="loading" (click)="generateWorkflow(true)">{{ 'application_migration_regenerate' | translate }}</button>
                                <button class="ui red button" (click)="openDoneMigrationPopup()">{{ 'application_migration_generate_done' | translate }}</button>
                            </div>
                            <div *ngIf="application.workflow_migration != 'STARTED'">
                                    <button class="ui green button" (click)="generateWorkflow(false)" [class.loading]="loading" [disabled]="loading" >{{ 'application_migration_generate' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-zone-content>
    </app-zone>
    <app-zone header="{{ 'application_rename_title' | translate }}">
        <app-zone-content class="bottom">
            <form class="ui form" #applicationUpdateFrom="ngForm">
                <div class="fields">
                    <div class="eight wide field">
                        <input type="text" name="formApplicationUpdateName" [(ngModel)]="newName" required #formApplicationUpdateName="ngModel"
                               pattern="[a-zA-Z0-9._-]*"
                               [disabled]="loading">
                        <div *ngIf="formApplicationUpdateName.invalid && !formApplicationUpdateName.pristine"
                             class="ui error message">
                            <p>{{'application_update_name_error' | translate}}</p>
                        </div>
                    </div>
                    <div class="eight wide right aligned field">
                        <button class="ui green button" [class.loading]="loading" name="updateNameButton" (click)="onSubmitApplicationUpdate()" [disabled]="applicationUpdateFrom.invalid">{{ 'btn_rename' | translate }}
                        </button>
                        <app-warning-modal [title]="_translate.instant('warning_modal_title')" [msg]="_translate.instant('warning_modal_body')" (event)="onSubmitApplicationUpdate(true)" #updateWarning></app-warning-modal>
                    </div>
                </div>
            </form>
        </app-zone-content>
    </app-zone>
    <app-zone header="{{ 'application_repo_title' | translate }}">
        <app-zone-content class="bottom">
            <app-application-repo [project]="project" [application]="application"></app-application-repo>
        </app-zone-content>
    </app-zone>
    <ng-container *ngIf="project.platforms && project.platforms.length > 0">
        <app-zone header="{{ 'application_deployment_title' | translate }}">
            <app-zone-content class="bottom">
                <app-application-deployment [project]="project" [application]="application"></app-application-deployment>
            </app-zone-content>
        </app-zone>
    </ng-container>
    <app-zone header="{{ 'danger_zone' | translate }}" headerClass="red inverted">
        <app-zone-content class="bottom">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="title">{{ 'application_delete_label' | translate}}</div>
                    <div class="description">{{ 'application_delete_description' | translate}}</div>
                </div>
                <div class="eight wide right aligned column">
                    <app-delete-button [loading]="loading" (event)="deleteApplication()"></app-delete-button>
                </div>
            </div>
        </app-zone-content>
    </app-zone>
</div>
<ng-template let-context let-modal="modal" #doneMigrationTmpl>
    <div class="header">{{ 'application_workflow_migration_modal_title' | translate }}</div>
    <div class="content">
        <div class="ui red message"><span [innerHTML]="migrationText"></span></div>
    </div>
    <div class="actions">
        <button class="ui grey button" [disabled]="loading" (click)="migrationModal.approve(true)">{{ 'common_close' | translate }}</button>
        <button class="ui red button" [class.loading]="loading" [disabled]="loading" (click)="migrationClean()">{{ 'common_clean_app' | translate }}</button>
    </div>
</ng-template>