.applicationRepo {
  margin-top : 50px;
}
.ui.inverted.attached  {
  border-color: #DB2828;
}

.app-description {
  min-height: 4em !important;
  max-height: 6em !important;
}

.app-icon {
  height: 5em;
  width: 5em;
}

.ui.grid {
  .column {
    .title {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
