<ng-template let-context let-modal="modal" #nodeConditionsModal>
    <div class="header">{{ 'workflow_node_condition_edit' | translate }}</div>
    <div class="content">
        <div class="ui icon warning message"
            *ngIf="node && node.context.conditions && node.context.conditions.lua_script &&
                node.context.conditions.plain && node.context.conditions.plain.length">
          <i class="warning sign icon"></i>
          <div class="content">
            <p>{{'workflow_node_condition_warning' | translate}}</p>
          </div>
        </div>
        <div class="ui form" *ngIf="project && node">
            <ng-container *ngIf="workflow.permission === permission.READ_WRITE_EXECUTE">
                <ng-container *ngIf="!loadingConditions">
                    <app-workflow-node-condition-form
                        [workflow]="workflow"
                        [(conditions)]="node.context.conditions"
                        [operators]="operators"
                        [names]="conditionNames"
                        (changeEvent)="conditionsChange($event)">
                    </app-workflow-node-condition-form>
                </ng-container>
                <div class="minheight" *ngIf="loadingConditions">
                    <div class="ui info message">
                        {{ 'common_loading' | translate }}
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="workflow.permission < permission.READ_WRITE_EXECUTE">
                <ng-container *ngIf="!loadingConditions">
                    <app-workflow-node-condition-list
                        [workflow]="workflow"
                        [(conditions)]="node.context.conditions"
                        [operators]="operators"
                        [names]="conditionNames">
                    </app-workflow-node-condition-list>
                </ng-container>
                <div class="minheight" *ngIf="loadingConditions">
                    <div class="ui info message">
                        {{ 'common_loading' | translate }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="actions">
        <button class="ui grey button" [disabled]="loading" (click)="modal.approve(true)">{{ 'common_close' | translate }}</button>
        <button class="ui green button" *ngIf="workflow.permission === permission.READ_WRITE_EXECUTE" [disabled]="loading || (workflow.from_repository && workflow.from_repository.length > 0)" [class.loading]="loading" (click)="saveConditions()">
            {{ 'btn_save' | translate }}
        </button>
    </div>
</ng-template>
