@import '../../../common';

img {
  width: 48px;
  height: 48px;
  float: left;
}

.vcenter {
  display: flex;
  align-items: center;
}

.author {
  padding-top: 5px;
  padding-left: 10px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.commits {
  td {
    vertical-align: middle;
  }
}
