<div id="WorkflowAdd">
    <div class="scrollingContent">
        <div class="paddingContent">
            <div class="viewContent">
              <h2>{{ 'workflow_create' | translate }}</h2>
              <div class="ui grid">
                <div class="ui row">
                  <div class="sixteen wide column">
                    <div class="ui three top attached steps">
                      <div class="step pointing" [class.active]="currentStep === 0" (click)="goToNextStep(0)">
                        <i class="share alternate icon"></i>
                        <div class="content">
                          <div class="title">{{'common_workflow' | translate}}</div>
                          <div class="description">{{'workflow_wizard_description' | translate}}</div>
                        </div>
                      </div>
                      <div class="step pointing" [class.disabled]="!workflow.name" [class.active]="currentStep === 1" (click)="goToNextStep(1)">
                        <i class="sitemap icon"></i>
                        <div class="content">
                          <div class="title">{{'common_pipeline' | translate}}</div>
                          <div class="description">{{'pipeline_wizard_description' | translate}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="ui attached segment">

                      <div [ngSwitch]="currentStep">
                        <!-- ######### WORKFLOW FIRST STEP ######### -->
                        <form class="ui form" *ngSwitchCase="0">
                            <div class="ui grid">
                                <div class="ui row">
                                  <div class="one wide column"></div>
                                  <div class="fourteen wide column">
                                    <div class="two ui buttons">
                                      <button class="ui button"
                                        type="button"
                                        [class.active]="!asCode"
                                        [class.disabled]="!project.application_names || !project.application_names.length"
                                        (click)="asCode = false">
                                        {{'common_create' | translate}}
                                      </button>
                                      <button class="ui button" type="button" [class.active]="asCode" (click)="asCode = true">
                                        {{'common_import' | translate}}
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="ui row">
                                    <div class="one wide column">

                                    </div>
                                    <div class="fourteen wide column" *ngIf="!asCode">
                                        <div class="field" [class.error]="name.invalid">
                                            <label>{{ 'workflow_name' | translate}}</label>
                                            <input
                                              name="name"
                                              class="ui input"
                                              [(ngModel)]="workflow.name"
                                              pattern="^[a-zA-Z0-9._-]{1,}$"
                                              #name="ngModel">
                                              <p class="red" *ngIf="name.invalid">{{'workflow_name_error' | translate}}</p>
                                        </div>
                                        <div class="field">
                                            <label>{{ 'workflow_description' | translate}}</label>
                                            <textarea name="description" class="ui" [(ngModel)]="workflow.description"></textarea>
                                        </div>
                                        <div class="field">
                                            <button class="ui button" type="button" (click)="goToProject()">{{ 'btn_cancel' | translate }}</button>
                                            <button class="ui right floated green button" type="button" (click)="goToNextStep()"
                                                    [disabled]="!workflow.name || name.invalid" [class.loading]="loading">{{ 'btn_next' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="fourteen wide column" *ngIf="asCode">
                                        <div class="field">
                                            <codemirror
                                                name="wfToImport"
                                                [(ngModel)]="wfToImport"
                                                (keydown)="updated = true"
                                                [config]="codeMirrorConfig" #codeMirror>
                                            </codemirror>
                                        </div>
                                        <div class="field">
                                            <button class="ui button" type="button" (click)="goToProject()">{{ 'btn_cancel' | translate }}</button>
                                            <button class="ui right floated green button" type="button" (click)="importWorkflow()" *ngIf="asCode"
                                                    [disabled]="!wfToImport" [class.loading]="loading">{{ 'btn_create' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- ######### WORKFLOW PIPELINE SECOND STEP ######### -->
                        <ng-container *ngSwitchCase="1">
                          <app-workflow-node-add-wizard [project]="project" (nodeCreated)="createWorkflow($event)"></app-workflow-node-add-wizard>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
