@import '../../../../common';

#WorkflowAdd {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;

  h2 {
    text-align: center;
  }

  .red {
    color: #9F3A38;
  }

  .ui.active.inline.loader {
    margin-right: 5px;
  }

  .mt5 {
    margin-top: 5px;
  }

  .resync {
    margin-top: 1.6em;
  }
}
