@import '../../../common';

.breadcrumb {
    height: 46px;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;

    :host-context(.night) & {
        border-color: $darkTheme_grey_4;
    }

    nz-breadcrumb {
        margin: 0 15px;
        flex: 1;
    }
}
