<div class="ui large breadcrumb">
    <i class="browser icon"></i>
    <a class="section" [class.active]="!application && !pipeline && !action" (click)="navigateToProject()">{{ project?.name}}</a>

    <i *ngIf="application" class="right chevron icon divider"></i>
    <i *ngIf="application" class="rocket icon"></i>
    <a class="section" [class.active]="application && !pipeline && !action" (click)="navigateToApplication(application?.name)">{{ application?.name}}</a>
    <sm-dropdown *ngIf="application">
        <sm-item *ngFor="let app of project.applications" (click)="navigateToApplication(app.name)">{{app.name}}</sm-item>
    </sm-dropdown>

    <i *ngIf="pipeline" class="right chevron icon divider"></i>
    <i *ngIf="pipeline" class="sitemap icon"></i>
    <a class="section" [class.active]="pipeline && !action && !version" (click)="navigateToPipeline(pipeline?.name)">{{ pipeline?.name}}</a>
    <sm-dropdown *ngIf="project && !application && pipeline">
        <sm-item *ngFor="let pip of project.pipelines" (click)="navigateToPipeline(pip.name)">{{pip.name}}</sm-item>
    </sm-dropdown>
    <sm-dropdown *ngIf="project && application && pipeline">
        <sm-item *ngFor="let apppip of application.pipelines" (click)="navigateToPipeline(apppip.pipeline.name)">{{apppip.pipeline.name}}</sm-item>
    </sm-dropdown>

    <i *ngIf="application && pipeline && version && version > 0" class="right chevron icon divider"></i>
    <a *ngIf="application && pipeline && version && version > 0" class="section active" (click)="navigateToBuild()">{{ 'v' + version}}</a>

    <i *ngIf="action" class="right chevron icon divider"></i>
    <div class="section">{{ action?.name}}</div>
</div>