<div class="CDSbreadcrumb">
    <div class="ui large breadcrumb ">
        <span *ngFor="let v of path; let i = index">
            <i *ngIf="i > 0" class="right chevron icon divider"></i>
            <i *ngIf="v.icon" [ngClass]="['icon', v.icon]"></i>
            <a *ngIf="v.routerLink" class="section" [class.active]="v.active" [routerLink]="v.routerLink" [queryParams]="v.queryParams">
                <span *ngIf="v.translate">{{v.translate | translate}}</span>
                <span *ngIf="v.text">{{v.text}}</span>
            </a>
            <span *ngIf="!v.routerLink && v.translate">{{v.translate | translate}}</span>
            <span *ngIf="!v.routerLink && v.text">{{v.text}}</span>
        </span>
    </div>
    <ng-content></ng-content>
</div>
