<h4>{{'timeline_filter_project' | translate}}</h4>
<nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <nz-col [nzSpan]="6" class="cardContainer">
        <div class="entity-card nohover">
            <div class="description">
                <div>
                    <nz-select nzShowSearch [(ngModel)]="selectedProjectKey" nzPlaceHolder="Project...">
                        <nz-option *ngFor="let p of projects" [nzValue]="p.key" [nzLabel]="p.key"></nz-option>
                    </nz-select>
                </div>
                <div>
                    <button nz-button nzType="primary" type="button" (click)="addProject()" nzBlock>Add</button>
                </div>
            </div>
        </div>

    </nz-col>
    <nz-col [nzSpan]="6" *ngFor="let p of filter?.projects">
        <div class="entity-card">
            <div class="title">
                {{p.key}}
                <div class="right">
                    <i nz-icon nzType="close" nzTheme="outline" (click)="removeProject(p)" nz-tooltip nzTooltipTitle="Remove filter"></i>
                </div>
            </div>
            <div class="description">
                <div nz-popover nzPopoverTrigger="click" nzPopoverPlacement="bottom" (click)="loadProjectWorkflow(p, false)"
                     [nzPopoverContent]="workflowTmpl">
                    <span *ngIf="!p.workflow_names || p.workflow_names.length === 0"> All workflows</span>
                    <span *ngIf="p.workflow_names && p.workflow_names.length > 0">{{ p.workflow_names.length }}
                        workflows
                    </span>
                </div>
                <ng-template #workflowTmpl>
                    <div *ngFor="let w of p?.project?.workflow_names" (click)="updateWorkflowInFilter(w, p)">
                        <i nz-icon nzType="audio" nzTheme="outline" *ngIf="!w.mute"></i>
                        <i nz-icon nzType="audio-muted" nzTheme="outline" *ngIf="w.mute"></i>{{w.name}}
                    </div>
                    <nz-spin nzTip="Loading..." *ngIf="p.loading"></nz-spin>
                </ng-template>
            </div>
        </div>
    </nz-col>
</nz-row>


<nz-row>
    <nz-col [nzSpan]="24" class="alignRight">
        <button nz-button nzType="primary" type="button" (click)="saveFilter()">Save</button>
    </nz-col>
</nz-row>
