.alignRight {
  text-align: right;
}
nz-col {
  margin-bottom: 20px;

  nz-select {
    width: 100%;
    margin-bottom: 5px;
  }

  .right {
    float: right;

    i {
      cursor: pointer;
    }
  }
}

.entity-card {
  .title {
    word-wrap: break-word;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .description {
    font-size: 0.9em;
  }
}
.entity-card.nohover:hover {

}
