<div *ngIf="application;then showApp;else loadApp"></div>
<ng-template #showApp>
    <div id="ApplicationShow">
        <div class="CDSbreadcrumb">
            <app-breadcrumb [project]="project" [application]="application" [workflow]="workflowName" [workflowRun]="workflowNum" [workflowRunNode]="workflowNodeRun"
             [wPipeline]="workflowPipeline"></app-breadcrumb>
        </div>
        <div class="CDSmenu" *ngIf="application">
            <sm-menu title="" class="pointing secondary">
                <a sm-item [class.active]="selectedTab === 'workflow'" (click)="showTab('workflow')" *ngIf="application.workflow_migration !== 'DONE' && application.workflow_migration !== 'CLEANING'">
                  <i class="rocket icon"></i>{{ 'common_workflow' | translate }}
                </a>
                <a sm-item [class.active]="selectedTab === 'variables'" (click)="showTab('variables')">
                  <i class="font icon"></i>{{ 'common_variables' | translate }}
                </a>
                <a sm-item [class.active]="selectedTab === 'permissions'" (click)="showTab('permissions')">
                  <i class="users icon"></i>{{ 'common_permissions' | translate }}
                </a>
                <a sm-item [class.active]="selectedTab === 'notifications'" (click)="showTab('notifications')">
                  <i class="alarm icon"></i>{{ 'common_notifications' | translate }}
                </a>
                <a sm-item [class.active]="selectedTab === 'usage'" (click)="showTab('usage')">
                    <i class="map signs icon"></i>{{ 'common_usage' | translate }}{{ ' (' + usageCount + ')' }}
                </a>
                <a sm-item [class.active]="selectedTab === 'keys'" id="ApplicationKeysTab" (click)="showTab('keys')"><i class="privacy icon"></i>
                    {{ 'common_keys' | translate }}
                </a>
                <a sm-item [class.active]="selectedTab === 'advanced'" (click)="showTab('advanced')" *ngIf="application.permission === 7">
                  <i class="graduation icon"></i>{{ 'common_advanced' | translate }}
                </a>
            </sm-menu>
        </div>

        <div class="scrollingContent">
            <div class="paddingContent">
                <div class="viewContent">
                    <div [hidden]="selectedTab !== 'workflow'" class="workflow" *ngIf="application.workflow_migration !== 'DONE' && application.workflow_migration !== 'CLEANING'">
                        <app-application-workflow [tab]="selectedTab" [project]="project" [application]="application" [(applicationFilter)]="appFilter" (changeWorkerEvent)="changeWorkerFilter($event)" #workflow></app-application-workflow>
                    </div>
                    <div [ngSwitch]="selectedTab">
                        <div *ngSwitchCase="'variables'">
                            <ng-container *ngIf="application.permission === 7">
                                <h3>{{ 'application_variable_form_title' | translate}}</h3>
                                <app-variable-form [loading]="varFormLoading" (createVariableEvent)="variableEvent($event)"></app-variable-form>
                            </ng-container>
                            <h3>{{ 'application_variable_list_title' | translate}}</h3>
                            <app-variable [variables]="application.variables" [mode]="application.permission === 7?'edit':'ro'" (event)="variableEvent($event)" auditContext="application" [project]="project" [application]="application"></app-variable>
                            <app-warning-modal [title]="_translate.instant('warning_modal_title')" [msg]="_translate.instant('warning_modal_body')" (event)="variableEvent($event, true)" #varWarning></app-warning-modal>
                        </div>

                        <div *ngSwitchCase="'permissions'">
                            <h3>{{ 'application_permission_list_title' | translate }}</h3>
                            <app-permission-list [permissions]="application.groups" [edit]="application.permission === 7" (event)="groupEvent($event)"></app-permission-list>
                            <ng-container *ngIf="application.permission === 7">
                                <h3>{{ 'application_permission_form_title' | translate }}</h3>
                                <app-permission-form [loading]="permFormLoading" (createGroupPermissionEvent)="groupEvent($event)"></app-permission-form>
                            </ng-container>
                            <app-warning-modal [title]="_translate.instant('warning_modal_title')" [msg]="_translate.instant('warning_modal_body')" (event)="groupEvent($event, true)" #permWarning></app-warning-modal>
                        </div>

                        <div *ngSwitchCase="'notifications'">
                            <h3>{{ 'application_notifications_list_title' | translate }}</h3>
                            <app-notification-list (event)="notificationEvent($event)" [project]="project" [application]="application" [loading]="notifFormLoading" [notifications]="application.notifications" [edit]="application.permission === 7" #notificationList></app-notification-list>
                            <app-warning-modal [title]="_translate.instant('warning_modal_title')" [msg]="_translate.instant('warning_modal_body')" (event)="notificationEvent($event, true)" #notifWarning></app-warning-modal>
                        </div>

                        <div *ngSwitchCase="'usage'">
                            <ng-container *ngIf="usageCount > 0">
                                <app-usage [project]="project" [workflows]="workflows" [pipelines]="pipelines" [environments]="environments"></app-usage>
                            </ng-container>
                            <ng-container *ngIf="usageCount === 0">
                                <div class="ui info message">
                                    {{ 'application_no_usage' | translate }}
                                </div>
                            </ng-container>
                        </div>
                        <div *ngSwitchCase="'keys'">
                            <app-application-keys [project]="project" [application]="application"></app-application-keys>
                        </div>
                        <div *ngSwitchCase="'advanced'">
                            <app-application-admin [application]="application" [project]="project"></app-application-admin>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #loadApp>
    <div class="ui text active loader">Loading application...</div>
</ng-template>
