<div class="permission">
    <nz-table [nzData]="permissionsList" #permList>
        <thead>
            <tr>
                <th>Group name</th>
                <th>Group permission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gp of permList.data">
                <td>
                    {{gp | json}}
                    <!--a [routerLink]="['/settings/group', gp.group.name]">{{ gp.group.name }}</a-->
                </td>
                <td>
                    <div *ngIf="edit;then wPermission;else rPermission"></div>
                    <ng-template #wPermission>
                        <nz-select [nzDisabled]="gp.updating" [(ngModel)]="gp.permission"  (ngModelChange)="pushChange();gp.hasChanged = true">
                            <nz-option *ngFor="let pp of permissionsList" [nzValue]="pp" nzLabel="{{pp.name | translate}}"></nz-option>
                        </nz-select>
                    </ng-template>
                    <ng-template #rPermission>
                        <div class="ui fluid input">
                            {{ getPermissionName(gp.permission) | translate }}
                        </div>
                    </ng-template>
                </td>
                <td>
                    <ng-container *ngIf="edit">
                        <button nz-button nzType="primary" *ngIf="mode === 'submit' && gp.hasChanged" [nzLoading]="gp.updating"
                                 [disabled]="gp.updating" name="btnupdateperm"
                                (click)="sendEvent('update', gp)">
                            <i nz-icon nzType="save" nzTheme="outline"></i>
                            {{ 'btn_save' | translate}}
                        </button>
                        <app-delete-button *ngIf="mode === 'submit' && !gp.hasChanged" [loading]="gp.updating"
                                           (event)="sendEvent('delete', gp)"></app-delete-button>
                        <button nz-button *ngIf="mode === 'form'" (click)="sendEvent('delete', gp)"><i
                                class="trash icon"></i></button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!--table class="ui fixed single line celled table">

        <tbody>
            <tr *ngFor="let gp of getDataForCurrentPage()">

                <td>

                </td>
                <td class="center">
                    <ng-container *ngIf="edit">
                        <button *ngIf="mode === 'submit' && gp.hasChanged" class="ui green button"
                            [class.loading]="gp.updating" [class.disabled]="gp.updating" name="btnupdateperm"
                            (click)="sendEvent('update', gp)">
                            <i class="save icon"></i>
                            {{ 'btn_save' | translate}}
                        </button>
                        <app-delete-button *ngIf="mode === 'submit' && !gp.hasChanged" [loading]="gp.updating"
                            (event)="sendEvent('delete', gp)"></app-delete-button>
                        <button *ngIf="mode === 'form'" class="ui icon blue button" (click)="sendEvent('delete', gp)"><i
                                class="trash icon"></i></button>
                    </ng-container>
                </td>
            </tr>
        </tbody>

    </table-->
</div>
