<div class="migration-overview ui segment" *ngIf="keysNotBegun">
    <h3>{{'admin_migration_title' | translate }}</h3>
    <sm-menu title="" class="pointing secondary">
        <a sm-item [class.active]="selectedTab === 'NOT_BEGUN'" (click)="showTab('NOT_BEGUN')">
            <i class="rocket icon"></i>{{ 'admin_migration_not_started' | translate }} {{ ' (' + keysNotBegun.length + ')'}}
        </a>
        <a sm-item [class.active]="selectedTab === 'STARTED'" (click)="showTab('STARTED')">
            <i class="font icon"></i>{{ 'admin_migration_started' | translate }}{{ ' (' + mapStarted.size + ')'}}
        </a>
        <a sm-item [class.active]="selectedTab === 'DONE'" (click)="showTab('DONE')">
            <i class="users icon"></i>{{ 'admin_migration_done' | translate }}{{ ' (' + keysDone.length + ')'}}
        </a>
    </sm-menu>

    <div [ngSwitch]="selectedTab">
        <div *ngSwitchCase="'NOT_BEGUN'">
            <div class="ui grid" *ngIf="keysNotBegun">
                <div class="ui stackable four column grid">
                    <div class="center aligned column" *ngFor="let k of keysNotBegun">
                        <sui-checkbox class="slider" (checkChange)="enableProject(k)"></sui-checkbox>
                        <a href="#" [routerLink]="['/project', k]" [queryParams]="{ tab: 'applications'}">{{k}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'STARTED'">
            <ul *ngIf="keysStarted">
                <li *ngFor="let k of keysStarted">
                    <sui-progress class="indicating"
                                  [value]="mapStarted.get(k).progress"
                                  [maximum]="mapStarted.get(k).total">
                        <a href="#" [routerLink]="['/admin', 'migration', k]">{{k}}</a>
                    </sui-progress>
                </li>
            </ul>
        </div>
        <div *ngSwitchCase="'DONE'">
            <div class="ui grid" *ngIf="keysDone">
                <div class="ui stackable four column grid">
                    <div class="center aligned column" *ngFor="let k of keysDone">
                        <a href="#" [routerLink]="['/admin', 'migration', k]">{{k}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>