.header {
  height: 25px;
  text-align: end;
  margin-bottom: 25px;
}
.content {
  .title h4 {
    display: inline;
  }

  nz-table {
    th {
      button {
        float: right;
      }
    }
    td {
      nz-select {
        width: 100%;
      }
      button {
        float: right;
      }
    }
  }

  .helper {
    float: right;

    i {
      margin-right: 5px;
    }
  }

}

