@import '../../../../common';
.ui.input {
  position: inherit;
}

.ui.table tbody tr td {
  vertical-align: top;
}

.warname {
  display: flex;

  app-warning-mark {
    padding-top: 10px;
  }

  .varname {
    width: 100%;
  }
}


