<div class="prerequisites">
    <table class="ui fixed celled borderless table" *ngIf="getDataForCurrentPage().length > 0">
        <thead>
        <tr>
            <th class="six wide">{{ 'prerequisite_parameter_name' | translate }}</th>
            <th class="six wide">{{ 'prerequisite_value' | translate }}</th>
            <th class="four wide"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of getDataForCurrentPage()">
            <td>
                {{p.parameter}}
            </td>
            <td>
                <div *ngIf="edit;then wValue;else rValue"></div>
                <ng-template #wValue>
                    <div class="ui form">
                        <input [(ngModel)]="p.expected_value" name="value" (keydown)="update(p)">
                    </div>
                </ng-template>
                <ng-template #rValue>
                    <span>{{p.expected_value}}</span>
                </ng-template>
            </td>
            <td class="center">
                <ng-container *ngIf="edit">
                    <app-delete-button (event)="remove(p)"></app-delete-button>
                </ng-container>
            </td>
        </tr>
        </tbody>
        <tfoot *ngIf="getNbOfPages() > 1">
        <tr>
            <th colspan="3">
                <div class="ui right floated pagination menu" >
                    <a class="icon item" (click)="downPage()">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item" *ngFor="let page of getNbOfPages() | ngForNumber" (click)="goTopage(page)" [class.active]="currentPage === page">{{page}}</a>
                    <a class="icon item" (click)="upPage()">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
    <div class="ui info message" *ngIf="getDataForCurrentPage().length === 0">
        {{ 'prerequisite_no' | translate }}
    </div>
</div>