<div class="spawn">
    <div class="header pointing" (click)="toggle()">
        <div class="status">
            <i class="icon heartbeat"></i>
        </div>
        <div class="title">
            {{ 'job_spawn_title' | translate }}
        </div>
        <div class="variables" *ngIf="displayServiceLogsLink">
            <a class="pointing" *ngIf="!displayServicesLogs" (click)="displayServicesLogs = true; $event.stopPropagation()">
                Display services logs
            </a>
            <a class="pointing" *ngIf="displayServicesLogs" (click)="displayServicesLogs = false; $event.stopPropagation()">
                Display job logs
            </a>
        </div>
        <div class="variables">
            <a class="pointing" (click)="openVariableModal($event)">
                {{ 'pipeline_job_variables_show_title' | translate }}
            </a>
        </div>
    </div>
    <div class="spawnInfos" [hidden]="!show">
        <div class="log" *ngIf="!loading">
            <div class="logs">
                <pre [innerHTML]="spawnInfos">
                </pre>
            </div>
        </div>
        <div class="ui active centered inline loader" *ngIf="loading"></div>
    </div>
</div>
<app-workflow-run-job-variable [variables]="variables" #jobVariable></app-workflow-run-job-variable>