@import "../../../../../../../common";

$squareSize: 30px;

.header {
  display:  flex;
  background-color: #444;

  .status {
    width: $squareSize;
    height: $squareSize;
    padding-top: 4px;
    padding-left: 8px;
    color: white;
  }

  .title {
    height: $squareSize;
    padding-top: 6px;
    padding-left: 5px;
    font-weight: 600;
    color: #FFFF91;
  }

  .variables {
    width: 100%;
    height: $squareSize;
    padding-top: 6px;
    padding-right: 5px;
    text-align: right;

    a {
      color: white;
      font-weight: 600;
    }

  }
}

.spawnInfos {
  background-color: #222;
  color: white;
  clear: both;
  padding: 10px 20px 10px 20px;

  pre {
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
