<div class="wrapper">
  <app-breadcrumb [path]="path">
      <button nz-button nzType="primary" [routerLink]="['add']" class="floatRight">Add</button>
  </app-breadcrumb>
  <app-scrollview class="scrollview">
      <nz-row>
          <nz-col [nzSpan]="12">
              <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                  <input nz-input type="text" [placeholder]="'worker_model_binary_capability' | translate" [(ngModel)]="binaryValue">
              </nz-input-group>
              <ng-template #suffixButton>
                  <button *ngIf="!binarySelected" nz-button nzType="primary" (click)="searchBinary()">Search</button>
                  <button *ngIf="binarySelected" nz-button nzType="primary" (click)="resetBinary()">Clear</button>
              </ng-template>
          </nz-col>
          <nz-col [nzSpan]="11" [nzOffset]="1">
              <nz-select nzShowSearch [nzPlaceHolder]="'worker_model_state' | translate" [(ngModel)]="selectedState"
                         (ngModelChange)="selectState()">
                  <nz-option *ngFor="let option of ['', 'official', 'disabled', 'register', 'error', 'deprecated']" [nzLabel]="option" [nzValue]="option">
                  </nz-option>
              </nz-select>
          </nz-col>
      </nz-row>

    <app-data-table [withFilter]="filter" [withPagination]="25" [columns]="columns" [data]="workerModels"
      [loading]="loading"></app-data-table>
  </app-scrollview>
</div>
