<div class="sidebarNodeRun" *ngIf="node">
    <div class="title">
        <h3 class="ui header">
            <div class="content">
                <span *ngIf="node.type === 'pipeline' || node.type === 'outgoinghook'">{{node.name}}</span>
                <span *ngIf="node.type !== 'pipeline' && node.type !== 'outgoinghook'">{{node.type}}</span>
                <div class="sub header"
                    *ngIf="node.context && node.context.pipeline_id && workflow.pipelines[node.context.pipeline_id]">
                    {{ 'common_pipeline' | translate }} : {{workflow.pipelines[node.context.pipeline_id].name}}
                </div>
            </div>
        </h3>
    </div>
    <div class="control">
        <div class="ui fluid buttons">
            <button class="ui positive icon button" [class.loading]="loading" [disabled]="loading || !canBeRun"
                [title]="'btn_run' | translate" (click)="openRunNode()" *ngIf="currentNodeRunStatus !== pipelineStatusEnum.BUILDING &&
                currentNodeRunStatus !== pipelineStatusEnum.WAITING">
                <i class="play icon"></i>
            </button>
            <button class="ui red icon button" [class.loading]="loading"
                [disabled]="loading || !workflow.permissions.executable" [title]="'btn_run' | translate"
                (click)="stopNodeRun()"
                *ngIf="currentNodeRunStatus && (currentNodeRunStatus === pipelineStatusEnum.BUILDING || currentNodeRunStatus === pipelineStatusEnum.WAITING)">
                <i class="stop icon"></i>
            </button>
            <ng-container
                *ngIf="(node.context && node.context.pipeline_id)
            || (node.type === wNodeType.OUTGOINGHOOK && currentNodeRunStatus === pipelineStatusEnum.SUCCESS && node.outgoing_hook && node.outgoing_hook.config['target_workflow'])">
                <button class="ui icon blue button" [class.disabled]="!currentNodeRunStatus"
                    [title]="'btn_logs' | translate" (click)="displayLogs()">
                    <i class="file text icon"></i>
                </button>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="currentNodeRunStatus">
        <div class="info">
            <div *ngIf="currentNodeRunTests" class="item pointing"
                [routerLink]="['/project', project.key, 'workflow', workflow.name, 'run', runNumber, 'node', currentNodeRunId]"
                [queryParams]="{name: node.name, tab: 'test'}">
                <i class="bug icon"></i> {{currentNodeRunTests.total}}
                <span
                    *ngIf="currentNodeRunTests.total > 1">{{
                    'common_tests' | translate }}</span>
                <span
                    *ngIf="currentNodeRunTests.total < 2">{{
                    'common_test' | translate }}</span>
                <ng-container
                    *ngIf="currentNodeRunTests.total > 0">
                    (<i class="green check icon no-mrr"></i>{{currentNodeRunTests.ok}} <i
                        class="red remove icon status"></i>{{currentNodeRunTests.ko}}
                    <i class="grey ban icon status"></i>{{currentNodeRunTests.skipped}})
                </ng-container>
            </div>
            <div *ngIf="currentArtifactsNb" class="item pointing"
                [routerLink]="['/project', project.key, 'workflow', workflow.name, 'run', runNumber, 'node', currentNodeRunId]"
                [queryParams]="{name: node.name, tab: 'artifact'}" [title]="'common_artifacts' | translate">
                <i class="cloud upload icon"></i> {{currentArtifactsNb}}
                <span
                    *ngIf="currentArtifactsNb && currentArtifactsNb > 1">{{
                    'common_artifacts' | translate }}</span>
                <span
                    *ngIf="!currentArtifactsNb || currentArtifactsNb < 2">{{
                    'common_artifact' | translate }}</span>
            </div>
            <div *ngIf="duration" class="item" [title]="'common_duration_title' | translate">
                <i class="clock icon"></i> {{duration}}
            </div>
            <div class="item" [title]="'common_pipeline_start_title' | translate">
                <div><i class="calendar icon"></i>
                    {{currentNodeRunStart | amLocal | amDateFormat: 'DD/MM/YYYY HH:mm' }}</div>
            </div>
        </div>
        <ng-container *ngIf="stageIds && stageIds.length > 0">
            <div class="stageContainer">
                <div class="ui vertical fluid steps">
                    <ng-container *ngFor="let stageID of stageIds; trackBy: trackStageElement">
                        <app-stage-step-summary [stageId]="stageID" [runNumber]="runNumber" [nodeName]="node.name"
                                                [workflowNodeRunId]="currentNodeRunId">
                        </app-stage-step-summary>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="logs" *ngIf="currentCallbackLogs">
        <h4 class="ui header">
            <i class="newspaper icon"></i>
            <div class="content">
                <span>Logs</span>
            </div>
        </h4>
        <pre>
            {{ currentCallbackLogs.trim() }}
        </pre>
    </div>
</div>
<div class="ui text active loader" *ngIf="!node">{{ 'common_loading' | translate }}</div>
<ng-container *ngIf="project && node && workflowRun">
    <app-workflow-node-run-param #workflowRunNode></app-workflow-node-run-param>
</ng-container>
