<div class="CDSbreadcrumb">
    <app-worflow-breadcrumb [project]="project" [workflowName]="workflow?.name" [run]="number" [nodeName]="currentNodeName"></app-worflow-breadcrumb>
</div>
<aside class="sidebar scrollable" [class.expanded]="sidebarOpen">
    <div class="floated right">
        <button class="ui large icon button transparent close-button" (click)="closeEditSidebar()" *ngIf="selectedNode != null || selectedJoin != null || selectedNodeRunNum != null">
            <i class="black close icon"></i>
        </button>
    </div>
    <div class="sidebar-toggle">
        <ng-container *ngIf="project != null && workflow != null && selectedNode == null && selectedJoin == null && selectedNodeRunNum == null">
            <app-workflow-sidebar-run-list [project]="project" [workflow]="workflow" [open]="sidebarOpen" [runNumber]="number"></app-workflow-sidebar-run-list>
        </ng-container>
        <ng-container *ngIf="project != null && workflow != null && (selectedNode != null || selectedJoin != null) && number == null && selectedNodeRunNum == null">
            <app-workflow-sidebar-edit [project]="project" [workflow]="workflow" [node]="selectedNode" [join]="selectedJoin" [open]="sidebarOpen"></app-workflow-sidebar-edit>
        </ng-container>
        <ng-container *ngIf="project != null && workflow != null && selectedNodeId != null && selectedNodeRunId != null && selectedNodeRunNum != null && number != null">
            <app-workflow-sidebar-run-node
                [project]="project"
                [workflow]="workflow"
                [runId]="selectedNodeRunId"
                [runNumber]="selectedNodeRunNum"
                [number]="number"
                [nodeId]="selectedNodeId"
                [open]="sidebarOpen">
            </app-workflow-sidebar-run-node>
        </ng-container>
    </div>
</aside>
<section class="content-wrap" [class.expanded]="!sidebarOpen" *ngIf="!loading && workflow != null">
    <button class="ui small icon blue" [class.open]="displayToggleButton()" [class.button]="displayToggleButton()" (click)="toggleSidebar()"
      [hidden]="!displayToggleButton()">
        <i class="content icon"></i>
    </button>
    <router-outlet></router-outlet>
</section>
<section class="content-wrap" [class.expanded]="!sidebarOpen" *ngIf="loading">
    <div class="ui active text loader">{{ 'common_loading_workflow' | translate }}</div>
</section>
