@import '../../../../common';

:host {
    display: flex;
    flex-direction: row;
    height: 100%;
}

app-workflowv3-stages-graph {
    flex: 1;

    &.disableSelection {
        user-select: none;
    }
}
