<form nz-form>
    <nz-form-item>
        <nz-form-label>Connection</nz-form-label>
        <nz-form-control>
            <nz-radio-group [(ngModel)]="strategy.connection_type">
                <label nz-radio [nzValue]="c" *ngFor="let c of connectionType.values()">{{c}}</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>

    <ng-container [ngSwitch]="strategy.connection_type">
        <ng-container *ngSwitchCase="connectionType.SSH">
            <nz-form-item>
                <nz-form-label>
                    SSH key*
                    <span class="keyLink" (click)="openCreateKeyModal('ssh')"
                          *ngIf="createOnProject">{{ 'key_or_create' | translate }}</span>
                </nz-form-label>
                <nz-form-control>
                    <app-parameter-value [editList]="false" [edit]="true" [type]="'ssh-key'" [keys]="keys"
                                         [(value)]="strategy.ssh_key" (valueChange)="updatePublicKey($event)">
                    </app-parameter-value>
                    <ng-container *ngIf="selectedPublicKey">
                        <button nz-button [title]="'key_copy_public' | translate" ngxClipboard
                                [cbContent]="selectedPublicKey" (click)="clickCopyKey()">
                            <i nz-icon nzType="copy" nzTheme="outline"></i>
                        </button>
                    </ng-container>
                </nz-form-control>
            </nz-form-item>
        </ng-container>
        <ng-container *ngSwitchCase="connectionType.HTTPS">
            <nz-form-item>
                <nz-form-label>User</nz-form-label>
                <nz-form-control>
                    <input nz-input type="text" class="ui input" [(ngModel)]="strategy.user">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Password</nz-form-label>
                <nz-form-control>
                    <input nz-input type="password" class="ui input" [(ngModel)]="strategy.password">
                </nz-form-control>
            </nz-form-item>
        </ng-container>
    </ng-container>
    <nz-form-item>
        <nz-form-label>PGP key</nz-form-label>
        <nz-form-control>
            <app-parameter-value [editList]="false" [edit]="true" [type]="'pgp-key'" [keys]="keys"
                                 [(value)]="strategy.pgp_key"></app-parameter-value>
        </nz-form-control>
    </nz-form-item>

    <ng-container *ngIf="sshWarning && strategy.connection_type === 'ssh'">
        <nz-alert nzType="info" nzMessage="Don't forget to add your ssh key on your repository"></nz-alert>
    </ng-container>
    <nz-form-item nzJustify="end">
        <button nz-button nzType="primary" [nzLoading]="loading" [disabled]="loading || !strategy.connection_type"
                (click)="saveStrategy()">Save
        </button>
    </nz-form-item>
</form>
<ng-template let-context let-modal="modal" #createKey>
    <div class="header">{{ 'keys_add_title' | translate }}</div>
    <div class="content scrolling">
        <app-keys-form [loading]="loading" (keyEvent)="addKey($event)" [defaultType]="defaultKeyType" prefix="proj-">
        </app-keys-form>
    </div>
</ng-template>
