@import '../../../../../common';

$squareSize: 32px;

.log {
  background-color: #222;
  color: white;
  clear: both;
  padding: 10px $squareSize 10px $squareSize;

  pre {
    font-size: 0.8em;
    line-height: 1.1em;
    max-height: 300px;
    overflow-y: auto;
  }
}