<div class="history">
    <table class="ui fixed celled table">
        <thead>
        <tr>
            <th class="center one wide">{{ 'common_status' | translate }}</th>
            <th class="one wide">{{ 'common_version' | translate }}</th>
            <th class="three wide">{{ 'common_trigger_by' | translate }}</th>
            <th class="three wide">{{ 'common_date_start' | translate }}</th>
            <th class="three wide">{{ 'common_date_end' | translate }}</th>
            <th class="center two wide">{{ 'common_action' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pb of getDataForCurrentPage()" [class.active]="currentBuild && currentBuild.id === pb.id">
            <td class="center"><app-status-icon [status]="pb.status"></app-status-icon></td>
            <td>{{pb.version}}</td>
            <td>{{getTriggerSource(pb)}}</td>
            <td>{{pb.start | amCalendar}}</td>
            <td>{{pb.done | amCalendar}}</td>
            <td class="center">
                <app-delete-button></app-delete-button>
            </td>
        </tr>
        </tbody>
        <tfoot *ngIf="getNbOfPages() > 1">
        <tr>
            <th colspan="6">
                <div class="ui right floated pagination menu" >
                    <a class="icon item" (click)="downPage()">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item" *ngFor="let page of getNbOfPages() | ngForNumber" (click)="goTopage(page)" [class.active]="currentPage === page">{{page}}</a>
                    <a class="icon item" (click)="upPage()">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>