.codebar {
    z-index: unset;
    &.visible {
        width: 50%;
    }
    margin-top: 100px !important;
    overflow-y: auto;

    .transparent {
        background-color: transparent;
    }

    .fullheight {
        height: 87%;
    }

    .mt5 {
        margin-top: 5px;
    }

    .bottomBtnsWrapper {
        position: fixed;
        bottom: 100px;
        right: 0;
        width: 430px;
        padding-top: 20px;
        padding-bottom: 20px;

        .column {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}
