.codebar {
    z-index: 10; // to be over code mirror fields of action component
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: 0;
    &.visible {
        width: 50%;
    }
    margin-top: 100px !important;
    overflow-y: auto;
    height: 87%;

    nz-spin {
      margin-top: 30px;
      position: absolute;
      padding: 30px 50% 0 50%;
    }



  .transparent {
        background-color: transparent;
    }

    .fullheight {
        height: 87%;
    }

    .bottomBtnsWrapper {
      position: absolute;
      right: 0;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;

      nz-row {
        padding: 0 20px;
        nz-col {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
}
