<div class="sidebar-node-edit">
    <div class="ui list">
        <a class="item" (click)="sendEvent('details')">
                {{ 'btn_logs' | translate }}
        </a>
        <hr>
        <a class="item" (click)="sendEvent('edit')">
                <span *ngIf="readonly">{{ 'workflow_node_menu_edit_ro' | translate }}</span>
                <span *ngIf="!readonly">{{ 'workflow_node_menu_edit' | translate }}</span>
        </a>
        <hr>
        <a class="item" (click)="sendEvent('delete')"
           [class.disabled]="(workflow.from_repository && workflow.from_repository.length > 0) || readonly">
                {{ 'btn_delete' | translate }}
        </a>
    </div>
</div>

