<a nz-button nzType="text" nzSize="large" nzBlock [routerLink]="['/projectv2', project.key, 'explore']"
	routerLinkActive="active">
	<span nz-icon nzType="folder" nzTheme="outline"></span>
</a>
<a nz-button nzType="text" nzSize="large" nzBlock [routerLink]="['/projectv2', project.key, 'run']"
	routerLinkActive="active">
	<span nz-icon nzType="play-circle" nzTheme="outline"></span>
</a>
<a nz-button nzType="text" nzSize="large" nzBlock>
	<span nz-icon nzType="setting" nzTheme="outline"></span>
</a>