@import '../../../../../common';
.ui.input {
  position: inherit;
}

#ActionEdit {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
  padding: 20px;

  h2 {
    text-align: center;
  }
}
