<div id="WarningShow">
    <div class="CDSbreadcrumb">
        <app-warning-breadcrumb [project]="project" *ngIf="warnings && project"></app-warning-breadcrumb>
    </div>
    <div class="scrollingContent">
        <div class="paddingContent">
            <div class="viewContent" *ngIf="warnings">
                <ng-container *ngIf="!appName && !pipName && warnings.variables.length > 0">
                    <h3>{{ 'warning_project_title' | translate }}</h3>
                    <ul>
                        <li *ngFor="let v of warnings.variables">
                            {{v.message}}
                            <a href="#"
                               [routerLink]="['/project', project.key]"
                               [queryParams]="{ tab: 'variables' }"
                            >
                                [{{ 'warning_goto_project_variable' | translate }}]
                            </a>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="pipName || (!appName && !pipName)">
                    <ng-container *ngFor="let d of warnings.pipelines | forMap">
                        <h3>{{ 'warning_pipeline_title' | translate: {pip: d.key} }}</h3>
                        <ul>
                            <li *ngFor="let p of d.value.parameters">
                                {{p.message}}
                                <a href="#"
                                   [routerLink]="['/project', project.key, 'pipeline', d.key]"
                                   [queryParams]="{ tab: 'parameters' }">
                                    [{{ 'warning_goto_pipeline_parameter' | translate }}]
                                </a>
                            </li>
                            <li *ngFor="let j of d.value.jobs">
                                {{j.message}}
                                <a href="#"
                                   [routerLink]="['/project', project.key, 'pipeline', d.key]"
                                   [queryParams]="{ tab: 'pipeline'}">
                                    [{{ 'warning_goto_job' | translate }}]
                                </a>
                            </li>
                        </ul>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="appName || (!appName && !pipName)">
                    <ng-container *ngFor="let d of warnings.applications | forMap">
                        <h3>{{ 'warning_application_title' | translate: {app: d.key} }}</h3>
                        <ul>
                            <li *ngFor="let v of d.value.variables">
                                {{v.message}}
                                <a href="#"
                                   [routerLink]="['/project', project.key, 'application', d.key]"
                                   [queryParams]="{ tab: 'variables' }"
                                >
                                    [{{ 'warning_goto_application_variables' | translate }}]
                                </a>
                            </li>
                            <li *ngFor="let a of d.value.actions">
                                {{a.message}}
                                <a href="#"
                                   [routerLink]="['/project', project.key, 'pipeline', a.message_param['PipelineName'] ]"
                                   [queryParams]="{ application: d.key }"
                                >
                                    [{{ 'warning_goto_job' | translate}}]
                                </a>
                            </li>
                        </ul>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>
