@import '../../../../../common';
.fork {
  width: 70px;
  height: 70px;


  .diamond {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;

    .container {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      border-radius: 3px;
      transform: rotate(45deg);

      top: 14px;
      background-color: transparent;
    }
    .container.success {
      border: 2px solid $cds_color_green;
      background-color: $cds_color_light_green;
    }
    .container.building {
      border: 2px solid $cds_color_teal;
      background-color: $cds_color_light_teal;
    }
    .container.fail {
      border: 2px solid $cds_color_red;
      background-color: $cds_color_light_red;
    }
    .container.inactive {
      border: 2px solid $cds_color_light_grey;
    }
    .container.active {
      border: 2px solid $cds_color_teal;
    }

  }

  .content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 0.8em;
    display:flex;
    justify-content:center;
    align-items:center;
    position: absolute;
  }
}
