@import '../workflow.node.common';
.workflowFork {
  width: 42px;
  height: 42px;
  .rect {
    stroke-width: 2;
    stroke: $polar_grey_3;
    transform-origin: 21px 21px;
    transform: rotate(45deg);
    :host-context(.night) & {
        stroke: $darkTheme_grey_5;
        &.success {
            fill: $darkTheme_light_green;
        }
        &.fail {
            fill: $darkTheme_light_red;
        }
        &.building {
            fill: $darkTheme_light_teal;
        }
        &.inactive {
            fill: $darkTheme_light_grey;
        }
        &.active {
            fill: $cds_color_teal;
        }
    }
    &.success {
      fill: $cds_color_light_green;
      stroke: $cds_color_green;
    }
    &.fail {
      fill: $cds_color_light_red;
      stroke: $cds_color_red;
    }
    &.building {
      fill: $cds_color_light_teal;
      stroke: $cds_color_teal;
    }
    &.inactive {
      fill: $cds_color_light_grey;
      stroke: grey;
    }
    &.active {
      stroke-width: 4px;
      stroke: $cds_color_teal;
    }
  }
}
