@import '../../../../../common';

.fork {
    width: 70px;
    height: 70px;
    margin: 10px 10px 10px 10px;

    .diamond {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        border-radius: 3px;
    }

    .diamond.success {
        border: 2px solid $cds_color_green;
        background-color: $cds_color_light_green;
    }

    .diamond.building {
        border: 2px solid $cds_color_teal;
        background-color: $cds_color_light_teal;
    }

    .diamond.fail {
        border: 2px solid $cds_color_red;
        background-color: $cds_color_light_red;
    }

    .diamond.inactive {
        border: 2px solid $cds_color_light_grey;
    }

    .diamond.active {
        border: 2px solid $cds_color_teal;
    }
}
