@use '../workflow.node.common' as common;
.workflowFork {
  width: 42px;
  height: 42px;
  .rect {
    stroke-width: 2;
    stroke: common.$polar_grey_3;
    transform-origin: 21px 21px;
    transform: rotate(45deg);
    fill: white;
    :host-context(.night) & {
        fill: common.$darkTheme_grey_1;
        stroke: common.$darkTheme_grey_5;
        &.success {
            fill: common.$darkTheme_night_green;
            stroke: common.$darkTheme_green;
        }
        &.fail {
            fill: common.$darkTheme_night_red;
            stroke: common.$darkTheme_red;
        }
        &.building {
            fill: common.$darkTheme_night_blue;
            stroke: common.$darkTheme_blue;
        }
        &.inactive {
            fill: common.$darkTheme_night_grey;
            stroke: grey;
        }
        &.active {
          stroke: common.$cds_color_teal;
        }
    }
    &.success {
      fill: common.$cds_color_light_green;
      stroke: common.$cds_color_green;
    }
    &.fail {
      fill: common.$cds_color_light_red;
      stroke: common.$cds_color_red;
    }
    &.building {
      fill: common.$cds_color_light_teal;
      stroke: common.$cds_color_teal;
    }
    &.inactive {
      fill: common.$cds_color_light_grey;
      stroke: grey;
    }
    &.active {
      stroke-width: 4px;
      stroke: common.$cds_color_teal;
    }
  }
}
