.label-container,
.edgePaths {
  fill: transparent;
}

.pointing,
.stage {
  box-sizing: border-box;
}

.stage {
  border-color: var(--vscode-foreground) !important;
}

.pointer {
  cursor: pointer;
}

foreignObject {
  overflow: visible;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .templateButtons {
    margin-top: 15px;
  }

  app-stages-graph {
    flex: 1;
  }
}


