<h3>
  {{ 'account_password_title' | translate }}
</h3>
<div class="content">
  @if (false && showErrorMessage) {
    <nz-alert nzType="error"
    nzMessage="Invalid given password or reset token"></nz-alert>
  }
  @if (showSuccessMessage) {
    <nz-alert nzType="success" nzMessage="Password successfully updated."></nz-alert>
  }
  @if (!showSuccessMessage) {
    <form nz-form (ngSubmit)="resetPassword(loginForm)" #loginForm="ngForm">
      <nz-form-item>
        <nz-form-label>New password</nz-form-label>
        <nz-form-control>
          <input nz-input type="password" name="password" (keyup)="onChangeSignupPassword($event)" ngModel
            required
            [disabled]="loading">
          @if (!passwordError && passwordLevel !== null) {
            <nz-progress
              [nzShowInfo]="false"
              [nzStatus]="passwordLevel<3?'exception': 'success'"
            [nzPercent]="100 * (passwordLevel + 1)/5"></nz-progress>
          }
        </nz-form-control>
        @if (passwordError) {
          <nz-alert nzType="error" nzMessage="{{ passwordError | translate }}"></nz-alert>
        }
      </nz-form-item>
      <nz-form-item nzJustify="end">
        <button nz-button nzType="primary" type="submit"
        [disabled]="loading">Modify password</button>
      </nz-form-item>
    </form>
  }

  @if (showSuccessMessage) {
    <button nz-button class="right" nzType="primary"
    (click)="navigateToHome()">{{ 'auth_btn_go_to_home' | translate }}</button>
  }

</div>
