<div id="passwordComponent">
    <img id ="logo" class="ui centered image" src="assets/images/cds.png">
    <div class="ui two column centered grid">
        <div *ngIf="showWaitingMessage;then wait;else nowait"></div>
        <ng-template #nowait>
            <div class="column">
                <h3 class="ui top block attached header">
                    {{ 'account_password_title' | translate }}
                </h3>
                <div class="ui bottom attached segment">
                    <form class="ui form" (ngSubmit)="resetPassword()" #loginForm="ngForm">
                        <div class="field">
                            <label>{{ 'user_label_username' | translate }}</label>
                            <input type="text" [(ngModel)]="user.username" name="username">
                        </div>
                        <div class="field">
                            <label>{{ 'user_label_email' | translate }}</label>
                            <input type="email" [(ngModel)]="user.email" name="email">
                        </div>
                        <button id="resetPasswordButton" class="ui right floated button green" type="submit">{{ 'account_password_btn_reset' | translate }}</button>
                        <div class="left floated block">
                            <a class="left floated pointing" id="signupLink" (click)="navigateToSignUp()">{{ 'account_btn_signup' | translate }}</a>
                            <a class="left floated pointing" id="loginLink" (click)="navigateToLogin()">{{ 'account_btn_login' | translate}}</a>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>
        <ng-template #wait>
            <div class="column">
                <div class="ui info message">
                    {{ 'account_password_waiting_text' | translate }}
                </div>
            </div>
        </ng-template>
    </div>
</div>
