<a [routerLink]="['/projectv2', project.key, 'explore']" routerLinkActive="active">
	<button nz-button nzType="text" nzSize="large" nzBlock (click)="clickActivity($event, 'explore')">
		<span nz-icon nzType="folder" nzTheme="outline"></span>
	</button>
</a>
<a [routerLink]="['/projectv2', project.key, 'run']" routerLinkActive="active">
	<button nz-button nzType="text" nzSize="large" nzBlock (click)="clickActivity($event, 'run')">
		<span nz-icon nzType="play-circle" nzTheme="outline"></span>
	</button>
</a>
<a>
	<button nz-button nzType="text" nzSize="large" nzBlock>
		<span nz-icon nzType="setting" nzTheme="outline"></span>
	</button>
</a>