app-status-icon {
  &.job {
    font-size: 1.2em;
    line-height: 1;
  }
}

.step {
  .title{
    &.job {
      font-size: 0.9em !important;
    }
  }
  &.job {
    padding-left: 20px !important;
    padding-right: 10px !important;
  }
  border: none !important;;
}

.forceRight {
  right: 0px;
  position: absolute;
  font-size: 1.5em;
  line-height: 1;
}
