<div *ngIf="bookmarks && bookmarks.length">
    <div class="item" *ngFor="let b of bookmarks">
        <div class="icon">
            <i nz-icon nzType="profile" nzTheme="outline" *ngIf="b.type === 'project'" class="large"></i>
            <i nz-icon nzType="share-alt" nzTheme="outline" *ngIf="b.type === 'workflow'" class="large"></i>
        </div>
        <div class="content">
            <ng-container *ngIf="b.type === 'project'">
                <a class="header" [routerLink]="['/project', b.key]">
                    {{b.key}}
                </a>
                <div class="description">{{'common_project' | translate}}</div>
            </ng-container>
            <ng-container *ngIf="b.type === 'workflow'">
                <a class="header" [routerLink]="['/project', b.key, 'workflow', b.workflow_name]">
                    {{b.workflow_name}}
                </a>
                <div class="description">
                    {{'navbar_workflow_in' | translate}} <a class="projectLink" href="" [routerLink]="['/project', b.key]">{{b.key}}</a></div>
            </ng-container>
        </div>
    </div>
</div>
