<ng-template let-context let-modal="modal" #runWithParamModal>
    <div class="header">
        {{'workflow_run_with_parameters' | translate}}
        <div class="extra" *ngIf="canResync && nodeRun && !isSync">
            <button type="button" class="ui small green button" (click)="resync()">{{ 'workflow_resync_pipeline' | translate }}</button>
            <a href="https://ovh.github.io/cds/introduction/introduction.concepts.workflow" target="_blank"><i class="pointing help circle outline icon"></i></a>
        </div>
        <div class="extra" *ngIf="canResync && isSync">
            <p>{{'workflow_node_pipeline_synchronized' | translate }}</p>
        </div>
    </div>
    <div class="content">
        <div class="ui form" *ngIf="workflow">
            <ng-container *ngIf="_nodeToRun">
                <h3>{{ 'workflow_node_context_pipeline_parameter' | translate}}</h3>
                <app-parameter-list [project]="project" [parameters]="_nodeToRun.context.default_pipeline_parameters"
                                    [paramsRef]="_nodeToRun.pipeline.parameters" mode="launcher"
                                    [suggest]="[]"></app-parameter-list>
            </ng-container>
            <ng-container>
                <h3>{{ 'workflow_node_context_payload' | translate}}</h3>
                <codemirror [class.invalid]="invalidJSON" [(ngModel)]="payloadString" [config]="codeMirrorConfig" (change)="updateValue($event)" #textareaCodeMirror></codemirror>
                <div class="extra">
                    <ng-container *ngIf="invalidJSON">
                        {{ 'workflow_context_invalid' | translate}}
                    </ng-container>
                    <ng-container *ngIf="!invalidJSON">
                        <button class="ui small blue button" (click)="reindent()">Reindent</button>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="actions">
        <button class="ui red button" (click)="modal.approve(false)">Cancel</button>
        <button class="ui green button" (click)="run()" autofocus>OK</button>
    </div>
</ng-template>