<ng-container [ngSwitch]="type" *ngIf="edit">
    <div *ngSwitchCase="'number'" class="ui fluid input">
        <input type="number" [(ngModel)]="value" (change)="valueChanged()" (keydown)="sendValueChanged()" name="value">
    </div>
    <div *ngSwitchCase="'text'" class="ui form">
        <codemirror [(ngModel)]="value" [config]="codeMirrorConfig" (change)="changeCodeMirror($event)" #codeMirror (keydown)="sendValueChanged()"></codemirror>
    </div>
    <div *ngSwitchCase="'boolean'" class="ui checkbox">
        <input type="checkbox" [(ngModel)]="value" (change)="valueChanged()" (keydown)="sendValueChanged()" name="value">
        <label>{{ ' '}}</label>
    </div>
    <div *ngSwitchCase="'list'">
        <div class="ui fluid input" *ngIf="editList">
            <input type="text" [(ngModel)]="value" (change)="valueChanged()" (keydown)="sendValueChanged()" name="value" placeholder="value1;value2;value3">
        </div>
    </div>
    <div *ngSwitchCase="'env'">
        <sm-select class="search fluid" [(model)]="value" (modelChange)="valueChanged()" (onChange)="sendValueChanged()">
            <option *ngFor="let env of project?.environments" value="{{env.name}}">{{env.name}}</option>
        </sm-select>
    </div>
    <div *ngSwitchCase="'pipeline'">
        <sm-select class="search fluid" [(model)]="value" (modelChange)="valueChanged()" (onChange)="sendValueChanged()">
            <option *ngFor="let pip of project?.pipelines" value="{{pip.name}}">{{pip.name}}</option>
        </sm-select>
    </div>
    <div *ngSwitchCase="'repository'">
        <sm-select class="search fluid" [model]="selectedRepoManager.name" (modelChange)="updateRepoManager($event)">
            <option *ngFor="let r of repositoriesManager" value="{{r.name}}">{{r.name}}</option>
        </sm-select>
        <sm-select *ngIf="selectedRepoManager && selectedRepoManager.name !== 'Git Url'"
                (modelChange)="valueRepoChanged()"
                [(model)]="selectedRepo"
                class="search item"
                [disabled]="loadingBtn">
            <option *ngFor="let r of repositories"  value="{{r.fullname}}">{{r.fullname}}</option>
        </sm-select>
        <input type="text" [(ngModel)]="value" (change)="valueChanged()" (keydown)="sendValueChanged()" name="value" placeholder="{{'parameter_git_url' | translate }}">
    </div>
    <div *ngSwitchDefault class="ui fluid input">
        <input type="text" [(ngModel)]="value" (change)="valueChanged()" (keydown)="sendValueChanged()" name="value">
    </div>
</ng-container>
<ng-container [ngSwitch]="type" *ngIf="!edit">
    <div *ngSwitchCase="'text'" class="ui form">
        <textarea readonly rows="{{_sharedService.getTextAreaheight(value)}}">{{value}}</textarea>
    </div>
    <div *ngSwitchCase="'boolean'" class="ui checkbox">
        <input disabled type="checkbox" [(ngModel)]="value" (change)="valueChanged()" (keydown)="sendValueChanged()" name="value">
        <label>{{ ' '}}</label>
    </div>
    <div *ngSwitchDefault class="ui fluid input">
        {{value}}
    </div>
</ng-container>