<div class="panel" [class.horizontal]="this.direction === 'horizontal'"
  [class.vertical]="this.direction === 'vertical'">
  @if (this.growDirection === 'before') {
    <div class="grabber" (mousedown)="onMouseDownGrabber()" #grabber>
      @if (this.direction === 'horizontal') {
        <i nz-icon nzType="more" nzTheme="outline"></i>
      }
      @if (this.direction === 'vertical') {
        <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
      }
    </div>
  }
  <div class="content" [class.disableSelection]="grabbing" #content>
    <ng-content></ng-content>
  </div>
  @if (this.growDirection === 'after') {
    <div class="grabber" (mousedown)="onMouseDownGrabber()" #grabber>
      @if (this.direction === 'horizontal') {
        <i nz-icon nzType="more" nzTheme="outline"></i>
      }
      @if (this.direction === 'vertical') {
        <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
      }
    </div>
  }
</div>
