<div>
  <div class="conditions">
    @if (editableHook) {
      <nz-alert nzType="info" nzMessage="{{'workflow_run_conditions_hook' | translate}}"></nz-alert>
      <app-conditions [project]="project" [readonly]="readonly" [triggerConditions]="triggerConditions"
        [(conditions)]="editableHook.conditions" (conditionsChange)="pushChange($event)">
      </app-conditions>
    }
    @if (!editableHook && editableNode) {
      <app-conditions [project]="project" [readonly]="readonly" [triggerConditions]="triggerConditions"
        [(conditions)]="editableNode.context.conditions" (conditionsChange)="pushChange($event)">
      </app-conditions>
    }
  </div>

  <div class="button">
    @if (!readonly) {
      <button nz-button nzType="primary" (click)="updateWorkflow()" [nzLoading]="loading"
        [disabled]="loading">
        @if (editMode) {
          <span>{{ 'btn_apply' | translate }}</span>
        }
        @if (!editMode) {
          <span>{{ 'btn_save' | translate }}</span>
        }
      </button>
    }
  </div>

</div>
