<div class="sidebar-node-edit" *ngIf="node">
    <!-- Display Name + Pipeline-->

    <h3 class="ui header ml5">
        <i class="settings icon"></i>
        <!-- PIPELINE AND OUTGOINGHOOK -->
        <ng-container *ngIf="node.type === 'pipeline' || node.type === 'outgoinghook'">
            <div class="content">
                <ng-container *ngIf="!displayInputName">
                    <div class="line">
                        <span class="name" title="{{node.name}}">{{node.name}}</span>
                        <a class="toto inline pointing ml5" (click)="openRenameArea()" *ngIf="workflow.permission === permissionEnum.READ_WRITE_EXECUTE">
                            <i class="pencil icon float"></i>
                        </a>
                    </div>
                </ng-container>
                <ng-container *ngIf="displayInputName">
                    <div class="ui fluid mini action input">
                        <input type="text" [(ngModel)]="node.name">
                        <div class="ui icon buttons">
                            <button class="ui green button" [disabled]="loading" [class.loading]="loading" (click)="rename()"><i
                                    class="check icon"></i></button>
                            <button class="ui blue button" [disabled]="loading" [class.loading]="loading"><i class="close icon"
                                    (click)="displayInputName = false; node.name = previousNodeName"></i>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div class="sub header" *ngIf="node.type === 'pipeline'">
                    <span *ngIf="node.context.pipeline_id && workflow.pipelines[node.context.pipeline_id]">{{
                        'common_pipeline' | translate }} : {{workflow.pipelines[node.context.pipeline_id].name}}</span>
                    <div class="inline pointing ml5" (click)="openWarningModal()" *ngIf="displayInputName && nameWarning &&
                  nameWarning.nodes?.length > 0">
                        <i class="orange warning sign icon  animated infinite tada"></i>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- JOIN AND FORK -->
        <ng-container *ngIf="node.type === 'join' || node.type === 'fork'">
            <div class="content">
                <span>{{ node.name | titlecase}}</span>
                <div class="sub header">
                    <span>{{ 'workflow_node_edition' | translate }}</span>
                </div>
            </div>
        </ng-container>
    </h3>

    <div class="ui fluid vertical menu noborder">
        <!-- Pipeline ONLY -->
        <ng-container *ngIf="node.type === 'pipeline'">
            <a class="item noborder" (click)="openEditContextModal()" *ngIf="workflow.permission === permissionEnum.READ_WRITE_EXECUTE">
                {{ 'workflow_node_context_edit' | translate }}
            </a>
            <a class="item noborder" (click)="openEditContextModal()" *ngIf="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
                {{ 'workflow_node_context_show' | translate }}
                <i class="angle right icon"></i>
            </a>
        </ng-container>

        <!-- ALL NODE -->
        <ng-container *ngIf="node.type === 'pipeline' || project.features['cds:wnode']">
            <a class="item noborder" (click)="openEditRunConditions()">
                <span *ngIf="workflow.permission === permissionEnum.READ_WRITE_EXECUTE">{{
                    'workflow_node_condition_edit' | translate }}</span>
                <span *ngIf="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">{{ 'workflow_node_condition_show'
                    | translate }}</span>
                <i class="angle right icon"></i>
            </a>
            <a class="item noborder" (click)="openNodePermissions()">
                <span *ngIf="workflow.permission === permissionEnum.READ_WRITE_EXECUTE">{{
                    'workflow_node_permissions_edit' | translate }}</span>
                <span *ngIf="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">{{
                    'workflow_node_permissions_show' | translate }}</span>
                <i class="angle right icon"></i>
            </a>
        </ng-container>

        <!-- Pipeline ONLY -->
        <ng-container *ngIf="node.type === 'pipeline'">
            <a class="item noborder" [routerLink]="['/project', project.key, 'pipeline', workflow.pipelines[node.context.pipeline_id].name]"
                [queryParams]="{workflow: workflow.name }" *ngIf="node.context.pipeline_id && workflow.pipelines[node.context.pipeline_id]">
                <span *ngIf="workflow.permission === permissionEnum.READ_WRITE_EXECUTE">{{ 'pipeline_label_edit' |
                    translate }}</span><span *ngIf="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">{{
                    'pipeline_label_show' | translate }}</span>
                <i class="angle right icon"></i>
            </a>
            <a class="item noborder" (click)="openAddHookModal()" *ngIf="workflow && workflow.workflow_data && workflow.workflow_data.node.id === node.id && !(workflow.from_repository && workflow.from_repository.length > 0)"
                [class.disabled]="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
                {{ 'workflow_node_hook_add' | translate }} <i class="angle right icon"></i>
            </a>
            <a class="item noborder" (click)="openTriggerModal('pipeline', true)" *ngIf="workflow && workflow.workflow_data.node.id === node.id && !(workflow.from_repository && workflow.from_repository.length > 0)"
                [class.disabled]="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
                {{ 'workflow_node_parent' | translate }} <i class="angle right icon"></i>
            </a>
            <a class="item noborder" (click)="createFork()" *ngIf="!(workflow.from_repository && workflow.from_repository.length > 0)"
                [class.disabled]="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
                {{ 'workflow_node_fork_add' | translate }} <i class="angle right icon"></i>
            </a>
            <a class="item noborder" (click)="createJoin()" *ngIf="!(workflow.from_repository && workflow.from_repository.length > 0)"
                [class.disabled]="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
                {{ 'workflow_node_join_add' | translate }} <i class="angle right icon"></i>
            </a>
            <a class="item noborder" (click)="openTriggerModal('outgoinghook', false)" [class.disabled]="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
                {{ 'workflow_node_outgoing_hook' | translate }} <i class="angle right icon"></i>
            </a>
            <a class="item noborder" (click)="linkJoin()" *ngIf="!(workflow.from_repository && workflow.from_repository.length > 0)"
                [class.disabled]="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
                {{ 'workflow_node_join_link' | translate }} <i class="angle right icon"></i>
            </a>
        </ng-container>

        <!-- OutGoing HOOK -->
        <ng-container *ngIf="node.type === 'outgoinghook'">
            <a class="item noborder" (click)="openEditOutgoingHookModal('outgoinghook')">
                <span *ngIf="workflow.permission === permissionEnum.READ_WRITE_EXECUTE">{{'btn_edit' | translate}}</span><span
                    *ngIf="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">Configuration</span> <i class="angle right icon"></i>
            </a>
        </ng-container>

        <!-- Common -->
        <a class="item noborder" (click)="openTriggerModal('pipeline', false)" *ngIf="!(workflow.from_repository && workflow.from_repository.length > 0)"
            [class.disabled]="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
            {{ 'workflow_node_trigger_add' | translate }} <i class="angle right icon"></i>
        </a>
        <a class="item noborder" (click)="openDeleteNodeModal()" *ngIf="!(workflow.from_repository && workflow.from_repository.length > 0)"
            [class.disabled]="workflow.permission < permissionEnum.READ_WRITE_EXECUTE">
            {{ 'workflow_node_delete_btn' | translate }} <i class="angle right icon"></i>
        </a>
    </div>
</div>
<div class="ui text active loader" *ngIf="!node">{{ 'workflow_loading' | translate }}</div>


<!-- MODALS -->
<ng-container *ngIf="project && node && workflow">

    <!-- Context -->
    <ng-container *ngIf="node.type === 'pipeline'">
        <app-workflow-node-context [loading]="loading" [node]="node" [project]="project" [workflow]="workflow"
            (contextEvent)="updateWorkflow($event, workflowContext.modal)" #workflowContext></app-workflow-node-context>
    </ng-container>

    <!-- Conditions -->
    <app-workflow-node-conditions [loading]="loading" [project]="project" [workflow]="workflow" [node]="node"
        (conditionsEvent)="updateWorkflow($event, workflowConditions.modal)" #workflowConditions></app-workflow-node-conditions>

    <!-- Delete Node -->
    <app-workflow-node-delete [loading]="loading" [node]="node" [workflow]="workflow" (deleteEvent)="updateWorkflow($event, workflowDeleteNode.modal)"
        #workflowDeleteNode></app-workflow-node-delete>

    <!-- Add trigger -->
    <app-workflow-trigger [loading]="loading" [project]="project" [workflow]="workflow" [source]="node" (triggerEvent)="updateWorkflow($event, workflowTrigger.modal)"
        #workflowTrigger></app-workflow-trigger>
    <!-- Add outgoing hook -->
    <app-workflow-node-outgoinghook-modal [loading]="loading" [project]="project" [workflow]="workflow" [node]="node"
        (outgoingHookEvent)="updateWorkflow($event, workflowEditOutgoingHook.modal)" #workflowEditOutgoingHook></app-workflow-node-outgoinghook-modal>

    <!-- Add hook -->
    <app-hook-modal [loading]="loading" [project]="project" [workflow]="workflow" [node]="node" (hookEvent)="updateWorkflow($event, workflowAddHook.modal)"
        #workflowAddHook></app-hook-modal>
    <!-- Add node permissions -->
    <app-workflow-node-permissions [loading]="loading" [workflow]="workflow" [node]="node" #workflowNodePermissions></app-workflow-node-permissions>
</ng-container>

<ng-template let-context let-modal="modal" #nodeNameWarningModal>
    <div class="header">{{ 'workflow_node_name_warning_modal_title' | translate }}</div>
    <div class="content">
        <ul>
            <li *ngFor="let n of nameWarning.nodes">
                {{n.name}}
            </li>
        </ul>
    </div>
    <div class="actions">
        <button class="ui grey button" [disabled]="loading" (click)="modal.approve(true)">{{ 'common_close' | translate
            }}
        </button>
    </div>
</ng-template>
