.sidebar-node-edit {
  .header {
    margin-top: 10px;
  }

  .ml5 {
    margin-left: 5px;
  }

  .noborder {
    border-left: none !important;
    border-right: none !important;
  }

  .content {
    width: 100%;
    .line {
        display: flex;

        .name {
            max-width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
  }
  .edit-menu {
    &:hover {
      background-color: #cacbcd;
    }
    .button {
      &.transparent {
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .paddingContent {
    padding-top: 11px;
    padding-left: 5px;
    vertical-align: middle !important;
    font-size: medium;
  }
}

.ui.vertical.menu .menu .item {
    font-size: 0.95em;
}
.ui.styled.accordion .title{
    padding-bottom: 0;
}
