<div *ngIf="!loading; then globalsPart;else loadingPart"></div>
<ng-template #globalsPart>
    
    <div class="paddingContent">
        <div class="viewContent">
            <div class="ui grid">
                <div class="wide column">
                    <h1>
                        {{'services_list' | translate}}
                        <div class="right floated">
                            <div class="ui pointer label" [ngClass]="{'red': globalStatus.status==='AL', 'orange': globalStatus.status==='WARN', 'teal': globalStatus.status==='OK'}" (click)="filter=globalStatus.status;filterChange()">
                                {{globalStatus.name}} {{globalStatus.status}} - {{globalStatus.value}}
                            </div>

                            <div class="ui pointer label" [ngClass]="{'red': globalVersion.status==='AL', 'orange': globalVersion.status==='WARN', 'teal': globalVersion.status==='OK'}" (click)="filter='/Version';filterChange()">
                                {{globalVersion.name}} {{globalVersion.status}} - {{globalVersion.value}}
                            </div>
                        </div>
                    </h1>
                </div>
            </div>
            <div *ngIf="globals && globals.length > 0;then globalslist;else noglobalslist"></div>
            <ng-template #globalslist>
                <div class="ui stackable four cards">
                    <div class="ui card" *ngFor="let g of globals">
                        <div class="content" >
                            <div class="ui horizontal label right floated" [ngClass]="{'red': g.status==='AL', 'orange': g.status==='WARN', 'teal': g.status==='OK'}">
                                {{g.status}}
                            </div>
                            <div class="header" [innerText]="g.name"></div>
                            <div class="meta" *ngIf="g.value">
                                  {{g.value}}
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="mini ui left labeled button" *ngFor="let srv of g.services">
                                <a class="ui basic label" suiPopup [popupText]="'filter_list_click' | translate" popupPlacement="top left" (click)="filter=srv.name;filterChange()" [ngClass]="{'red': srv.status==='AL', 'orange': srv.status==='WARN', 'teal': srv.status==='OK'}">
                                    {{srv.name}}
                                </a>
                                <div class="mini ui icon button" [routerLink]="[srv.name]" suiPopup [popupText]="'service_view_details' | translate" popupPlacement="top left">
                                    <i class="eye icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui grid">
                    <div class="ui row">
                        <div class="ui wide column">
                            <div class="ui fluid input">
                                <input type="text" placeholder="{{ 'filter' | translate }}" [(ngModel)]="filter" (keyup)="filterChange()">
                            </div>
                        </div>
                    </div>
                </div>
                
                <table class="ui definition table">
                    <tbody>
                        <tr *ngFor="let line of filteredStatusLines" [ngClass]="{'error': line.status==='AL', 'warning': line.status==='WARN', 'positive': line.status==='WARN'}">
                            <td>
                                {{line.component}}
                            </td>
                            <td>
                                {{line.status}}
                            </td>
                            <td>
                                {{line.value}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </ng-template>
            <ng-template #noglobalslist>
                <span translate="service_no"></span>
            </ng-template>
        </div>
    </div>
</ng-template>
<ng-template #loadingPart>
    <div class="ui text active loader">{{ 'common_loading' | translate }}</div>
</ng-template>
