<div *ngIf="detailedWorkflow && project; then workflowPart;else loadingPart"></div>
<ng-template #workflowPart>
    <div class="workflowShow">
        <app-tabs [tabs]="tabs" (onSelect)="selectTab($event)"></app-tabs>
        <ng-container *ngIf="editMode && !isReadOnly">
            <nz-button-group class="ascodeButton">
                <ng-container *ngIf="editModeWorkflowChanged">
                    <button nz-button nzType="default" (click)="rollbackWorkflow()">{{'common_cancel' | translate }}</button>
                </ng-container>
                    <button nz-button nzType="primary" [disabled]="!editModeWorkflowChanged" (click)="saveWorkflow()">{{'btn_save_workflow' | translate }}</button>
            </nz-button-group>
        </ng-container>
        <div *ngIf="selectedTab.key === 'workflows'" class="workflowShowGraph">
            <div class="ui grid">
                <div class="row">
                    <div class="two wide column"></div>
                    <div class="twelve wide column winfo">
                        <div class="ui raised card cardinfo">
                            <div class="content">
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="five wide column" title="{{'common_orientation' | translate}}">
                                            <button class="ui icon button" *ngIf="direction === 'TB'"
                                                (click)="changeDirection()">
                                                <i class="resize horizontal icon"></i>
                                            </button>
                                            <button class="ui icon button" *ngIf="direction === 'LR'"
                                                (click)="changeDirection()">
                                                <i class="resize vertical icon"></i>
                                            </button>
                                        </div>
                                        <div class="six wide column centered">
                                            <div class="ui buttons" *ngIf="!detailedWorkflow.from_repository">
                                                <div class="ui blue button" (click)="showAsCodeEditor()"
                                                    [class.loading]="loading">
                                                    <i class="terminal icon"></i>
                                                    {{'workflow_edit_as_code' | translate}}
                                                    <i class="orange warning sign icon ml5" *ngIf="previewWorkflow"
                                                        suiPopup [popupText]="'workflow_preview_mode' | translate"
                                                        popupPlacement="top center">
                                                    </i>
                                                </div>
                                                <div *ngIf="previewWorkflow" class="ui green button"
                                                    (click)="savePreview()"
                                                    [class.disabled]="loading || !detailedWorkflow.permissions.writable"
                                                    [class.loading]="loading">
                                                    <i class="save icon"></i> {{'btn_save' |
                                                    translate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column"
                                            title="{{'btn_run_workflow' | translate}}">
                                            <div class="ui green buttons">
                                                <div class="ui button"
                                                    [class.disabled]="!detailedWorkflow.permissions.executable || editModeWorkflowChanged"
                                                    (click)="runWithParameter()" [class.loading]="loading">
                                                    {{'btn_run_workflow' | translate }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two wide column"></div>
                </div>
            </div>
            <app-workflow-graph *ngIf="detailedWorkflow" [workflowData]="previewWorkflow || detailedWorkflow"
                [project]="project" [direction]="direction"></app-workflow-graph>
        </div>
        <app-scrollview class="scrollview" *ngIf="selectedTab.key !== 'workflows'" [ngSwitch]="selectedTab.key">
            <div *ngSwitchCase="'notifications'">
                <app-workflow-notification-list [project]="project" [workflow]="detailedWorkflow" [editMode]="editMode"
                    [readOnly]="isReadOnly"></app-workflow-notification-list>
            </div>
            <div *ngSwitchCase="'permissions'" class="padded">
                <h3>{{ 'workflow_permission_list_title' | translate }}</h3>
                <div *ngIf="detailedWorkflow && groupsOutsideOrganization && groupsOutsideOrganization.length > 0"
                    class="ui warning message">Following groups that are not from organization
                    "{{detailedWorkflow.organization}}" can read the workflow: <span
                        *ngFor="let gp of groupsOutsideOrganization;let i = index">{{gp.group.name}}
                        ({{gp.group.organization}}){{ i < groupsOutsideOrganization.length - 1 ? ', ' : '' }}</span>.
                </div>
                <app-permission-list [permissions]="this.groups" (event)="groupManagement($event)"
                    [edit]="detailedWorkflow.permissions.writable && !(detailedWorkflow.from_repository && detailedWorkflow.from_repository.length > 0)">
                </app-permission-list>
                <ng-container
                    *ngIf="detailedWorkflow.permissions.writable && !(detailedWorkflow.from_repository && detailedWorkflow.from_repository.length > 0)">
                    <h3>{{ 'workflow_permission_form_title' | translate }}</h3>
                    <app-workflow-permission-form [groups]="project.groups"
                        (createGroupPermissionEvent)="groupManagement($event)" [loading]="permFormLoading">
                    </app-workflow-permission-form>
                </ng-container>
            </div>
            <div *ngSwitchCase="'advanced'" class="padded">
                <app-workflow-admin [project]="project" [workflow]="detailedWorkflow" [editMode]="editMode">
                </app-workflow-admin>
            </div>
            <div *ngSwitchCase="'usage'" class="padded">
                <app-usage [project]="project" [pipelines]="detailedWorkflow.usage.pipelines"
                    [applications]="detailedWorkflow.usage.applications"
                    [environments]="detailedWorkflow.usage.environments">
                </app-usage>
            </div>
            <div *ngSwitchCase="'audits'" class="padded">
                <app-audit-list [audits]="detailedWorkflow.audits" [loading]="loading" (rollback)="rollback($event)"
                    [canRollback]="detailedWorkflow.permissions.writable"></app-audit-list>
            </div>
        </app-scrollview>
        <ng-container>
            <app-workflow-node-run-param #workflowStartParam></app-workflow-node-run-param>
        </ng-container>
    </div>
</ng-template>
<ng-template #loadingPart>
    <div class="ui text active loader">Loading workflow...</div>
</ng-template>

<ng-template #warnPermission>
    Following groups that are not from organization "{{detailedWorkflow.organization}}" can read the workflow:
    <span *ngFor="let gp of groupsOutsideOrganization;let i = index">{{gp.group.name}}
        ({{gp.group.organization}}){{ i < groupsOutsideOrganization.length - 1 ? ', ' : '' }}
    </span>
</ng-template>
