@import '../../../../common';
#WorkflowShow {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
  .over {
    z-index: 1;
  }
  .scrollingContent {
    overflow-x: auto;

    .center {
      text-align: center;
    }
  }


}
