@import '../../../../common';
#WorkflowShow {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: calc(100% - 58px);

  .scrollingContent {
    overflow-x: auto;

    .center {
      text-align: center;
    }
  }


}
