@import '../../../../common';

#WorkflowShow {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;

  .scrollingContent {
    .paddingContent {
      padding: 0px 0px;

      .center {
        text-align: center;
      }
    }
  }
}


