@import '../../../../../../common';

img {
  width: 64px;
  height: 64px;
  float: left;
}

.author {
  padding-top: 20px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}