@import '../../../../common';

.move.pointing {
  margin-right: 5px !important;
  cursor: move;
}
a {
   i {
     margin-left: 5px;
   }
}

.removeStepBtn {
  float: right;
}

label {
  span {
    i {
      margin-left: 5px;
    }
  }
}
nz-row.stepParams {
  margin-bottom: 30px;

  nz-col {
    height: 32px;
    line-height: 32px;
  }

  .textOrange {
    color: $cds_color_orange;

    i {
      margin-right: 5px;
    }
  }
}
.parameters {
  i {
    margin-left: 5px;
  }
}
