@import '../../../../common';

.move.icon {
  margin-right: 10px !important;
  cursor: hand;
}

.ui.grid {
  .row {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.textOrange {
  color: $cds_color_orange;
}

.stepname {
  font-size: 0.85em;
  color: grey;
}

.inputStepname {
  padding-right: 2px !important;
}
