<h3><i class="tree icon"></i> {{'usage_environment_list' | translate}}</h3>
<div class="ui segment">
    <div *ngIf="environments && environments.length > 0;then environmentsDisplay; else noenvironments"></div>
    <ng-template #environmentsDisplay>
        <div class="ui stackable four column grid">
            <div class="center aligned column" *ngFor="let env of environments">
                <a [routerLink]="['/project', project.key, 'environment', env.name]">{{env.name}}</a>
            </div>
        </div>
    </ng-template>
    <ng-template #noenvironments>
        <span>{{ 'common_no_environment' | translate }}</span>
    </ng-template>
</div>
