<div class=" ui form">
    <div class="fields">
        <div class="five wide field">
            <sm-select
                *ngIf="names"
                class="search" [options]="{'fullTextSearch': true}"
                [(model)]="condition.variable"
                [options]="{'fullTextSearch': true}">
                <option *ngFor="let n of names" [value]="n">{{n}}</option>
            </sm-select>
        </div>
        <div class="four wide field">
            <sm-select [(model)]="condition.operator" *ngIf="operators">
                <option *ngFor="let k of operators | keys" [value]="k">{{operators[k]}}</option>
            </sm-select>
        </div>
        <div class="five wide field">
            <div class="ui input">
                <input type="text" [(ngModel)]="condition.value" placeholder="">
            </div>
        </div>
        <div class="two wide field">
            <button class="ui blue icon button" [disabled]="!condition.variable || !condition.value || !condition.operator" type="button" (click)="send()">
                <i class="plus icon"></i>
            </button>
        </div>
    </div>
</div>
