@import "../../../../common";

#passwordComponent {
  height: 100%;
  padding-top: 20px;
  background-color: $darkBackground;

  #logo {
    margin-bottom: 40px;
  }

  .left.floated.block {
    a {
      display: block;
    }
  }
}