<div class="workflowHook pointing"
     [class.active]="selected"
     [class.building]="noderun?.status === pipelineStatus.BUILDING || noderun?.status === pipelineStatus.WAITING"
     [class.success]="noderun?.status === pipelineStatus.SUCCESS"
     [class.fail]="noderun?.status === pipelineStatus.FAIL || noderun?.status === pipelineStatus.STOPPED">
    <div class="name">
        <i class="{{icon}} icon"></i> <span class="hook">{{node.name}}</span>
    </div>

    <ng-container *ngIf="model.name === 'WebHook'" >
        <div class="details">
            {{ node.outgoing_hook.config['method']?.value }} {{ node.outgoing_hook.config['URL']?.value }}
        </div>
    </ng-container>

    <ng-container *ngIf="model.name === 'Workflow'" >
        <div class="details">
            <ng-container *ngIf="noderun && noderun.callback  && (
                noderun.callback.status === pipelineStatus.BUILDING  ||
                noderun.callback.status === pipelineStatus.SUCCESS ||
                noderun.callback.status === pipelineStatus.FAIL )">
                <a [routerLink]="['/project', node.outgoing_hook.config['target_project'].value, 'workflow', node.outgoing_hook.config['target_workflow'].value, 'run', noderun.callback.workflow_run_number]"
                   target="_blank">
                    {{ node.outgoing_hook.config['target_project']?.value }}/{{ node.outgoing_hook.config['target_workflow']?.value }} #{{noderun.callback.workflow_run_number}}
                </a>
            </ng-container>
            <ng-container *ngIf="!noderun || noderun?.status === pipelineStatus.WAITING">
                {{ node.outgoing_hook.config['target_project']?.value }}/{{ node.outgoing_hook.config['target_workflow']?.value }}/{{ node.outgoing_hook.config['target_hook']?.value }}
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="noderun">
        <div class="fixed subnumber" >
            <i class="tag icon"></i>
            {{ noderun?.subnumber }}
        </div>
    </ng-container>
</div>