.broadcastList {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;

  .mt5 {
    margin-top: 5px;
    ::ng-deep {
      .title {
        line-height: 1.75em;
      }
      .content {
        padding: .5em 1em 1em 1em;
        & > div {
          padding: 1em;
          background-color: rgba(0, 0, 0, 0.05);
          border: 1px solid rgba(0, 0, 0, 0.10);
          border-radius: 4px;
        }
      }
    }
  }

  .transparent {
    background-color: transparent;
  }
}
