@import '../../../../../../common';

.summary {
  margin: 10px 50px 10px 50px;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 1.1em;

  .title {

    font-weight: 600;
  }
  .content {

  }

  .ui.grid {
    .row {
      padding-top: 0px;
      padding-bottom: 0px;
      .column {
        padding-top: 5px;
      }
    }
    .row:first-child {
      .column {
        padding-top: 10px;
      }
    }
    .row:last-child {
      .column {
        padding-bottom: 10px;
      }
    }
  }
}
.action.grid {
  position: absolute;
  top: 65px;
  right: 0px;
}
.summary.success {
  border-color: $cds_color_green;
}
.summary.fail {
  border-color: $cds_color_red;
}
.summary.building {
  border-color: $cds_color_teal;
}