@import '../../../../../../common';

#summary {
    :host-context(.night) & {
        .success {
            background-color: $darkTheme_night_green;
            border: 2px solid $darkTheme_green;
            border-top: none;
        }

        .fail {
            background-color: $darkTheme_night_red;
            border: 2px solid $darkTheme_red;
            border-top: none;
        }

        .building {
            background-color: $darkTheme_night_blue;
            border: 2px solid $darkTheme_blue;
            border-top: none;
        }

        .inactive {
            background-color: $darkTheme_night_grey;
            border: 2px solid grey;
            border-top: none;
        }
    }

    .cardinfo {
        border-radius: 0 0 0.28571429rem 0.28571429rem;
    }

    .running {
        border: none;
    }

    .success {
        background-color: $cds_color_light_green;
        border: 2px solid $cds_color_green;
        border-top: none;
    }

    .fail {
        background-color: $cds_color_light_red;
        border: 2px solid $cds_color_red;
        border-top: none;
    }

    .inactive {
        background-color: $cds_color_light_grey;
        border: 2px solid grey;
        border-top: none;
    }

    .building {
        background-color: $cds_color_light_teal;
        border: 2px solid $cds_color_teal;
        border-top: none;
    }

    .row {
        a {
            color: inherit;
            text-decoration: underline;
            font-weight: 600;
        }
    }
}
