<div id="summary" *ngIf="nodeRunStatus" [class.success]="nodeRunStatus === pipelineStatusEnum.SUCCESS"
    [class.fail]="nodeRunStatus === pipelineStatusEnum.FAIL || nodeRunStatus === pipelineStatusEnum.STOPPED"
    [class.building]="nodeRunStatus === pipelineStatusEnum.BUILDING || nodeRunStatus === pipelineStatusEnum.WAITING">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column"></div>
            <div class="ten wide column animated fadeInDown winfo">
                <div class="ui raised card cardinfo"
                    [class.building]="nodeRunStatus === pipelineStatusEnum.BUILDING || nodeRunStatus === pipelineStatusEnum.WAITING"
                    [class.success]="nodeRunStatus === pipelineStatusEnum.SUCCESS"
                    [class.fail]="nodeRunStatus === pipelineStatusEnum.FAIL || nodeRunStatus === pipelineStatusEnum.STOPPED"
                    [class.inactive]="nodeRunStatus === pipelineStatusEnum.DISABLED || nodeRunStatus === pipelineStatusEnum.SKIPPED">
                    <div class="content">
                        <div class="ui grid">
                            <div class="row">
                                <div class="five wide column" title="{{ 'common_pipeline' | translate }}"
                                    *ngIf="node && node.context && node.context.pipeline_id">
                                    <a href="#"
                                        [routerLink]="['/project', project.key, 'pipeline', workflow.pipelines[node.context.pipeline_id].name]"
                                        *ngIf="node"
                                        [queryParams]="{ workflow: workflow.name, run: nodeRunNum, node: nodeRunID, wpipeline: workflow.pipelines[node.context.pipeline_id].name }">
                                        <i class="sitemap icon"></i>
                                        {{workflow.pipelines[node.context.pipeline_id].name + ' ' + nodeRunNum + '.' + nodeRunSubNum}}
                                    </a>
                                </div>
                                <div class="five wide column centered"
                                    title="{{ 'common_pipeline_start_title' | translate }}">
                                    <i
                                        class="calendar icon"></i>{{nodeRunStart | amLocal | amDateFormat: 'DD/MM/YYYY HH:mm' }}
                                </div>
                                <div class="five wide column" title="{{ 'common_duration_title' | translate }}">
                                    <div class="right floated"
                                        *ngIf="nodeRunStatus !== pipelineStatusEnum.BUILDING && nodeRunStatus !== pipelineStatusEnum.WAITING">
                                        <i class="clock outline icon"></i>{{duration}}
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="node && node.context && (node.context.application_id || node.context.environment_id) && node.context.pipeline_id">
                                <div class="five wide column" title="{{'common_application' | translate}}">
                                    <ng-container *ngIf="node.context.application_id">
                                        <a href="#"
                                            [routerLink]="['/project', project.key, 'application', workflow.applications[node.context.application_id].name]"
                                            [queryParams]="{ workflow: workflow.name, run: nodeRunNum, node: nodeRunID, wpipeline: workflow.pipelines[node.context.pipeline_id].name }">
                                            <i class="rocket icon"></i>
                                            {{workflow.applications[node.context.application_id].name}}
                                        </a>
                                    </ng-container>
                                </div>
                                <div class="five wide column centered" title="{{ 'common_environment' | translate }}">
                                    <ng-container *ngIf="node.context.environment_id">
                                        <a href="#" [routerLink]="['/project', project.key]"
                                            [queryParams]="{ tab: 'environments', envName: workflow.environments[node.context.environment_id].name,workflow: workflow.name, run: nodeRunNum, node: nodeRunID, wpipeline: workflow.pipelines[node.context.pipeline_id].name }">
                                            <i class="tree icon"></i>
                                            {{workflow.environments[node.context.environment_id].name}}
                                        </a>
                                    </ng-container>
                                </div>
                                <div class="five wide column"></div>
                            </div>
                            <div class="row">
                                <div class="right aligned column">
                                    <div class="ui buttons"
                                        *ngIf="nodeRunStatus !== pipelineStatusEnum.BUILDING && nodeRunStatus !== pipelineStatusEnum.WAITING">
                                        <button class="ui green basic button" [class.loading]="loading"
                                            [disabled]="loading || readOnlyRun"
                                            (click)="runNewWithParameter()">{{ 'pipeline_label_run_with_parameter' | translate }}</button>
                                    </div>
                                    <button class="ui green basic button" [class.loading]="loading" [disabled]="loading"
                                        (click)="stop()"
                                        *ngIf="nodeRunStatus === pipelineStatusEnum.WAITING || nodeRunStatus === pipelineStatusEnum.BUILDING">{{ 'pipeline_label_stop' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide column"></div>
        </div>
    </div>
</div>
<ng-container *ngIf="node && workflow && project">
    <app-workflow-node-run-param #workflowNodeRunParam></app-workflow-node-run-param>
</ng-container>
