<div class="content">
	<div class="logo">
		<img src="assets/images/cds.png" alt="CDS logo" title="{{'navbar_home' | translate}}" />
	</div>

	<app-search-bar></app-search-bar>

	<ng-container *ngIf="bookmarks.length > 0">
		<h4 nz-typography>Bookmarks</h4>
		<nz-list nzBordered nzSize="small" [nzLoading]="loading">
			<nz-list-item *ngFor="let b of bookmarks">
				<a [routerLink]="generateBookmarkLink(b)" [queryParams]="generateBookmarkQueryParams(b)" class="bookmark">
					<div class="title">
						<span class="label">{{b.label}}</span>
						<span class="id">{{b.id}}</span>
					</div>
					<div [ngSwitch]="b.type">
						<nz-tag *ngSwitchCase="'project'" nzColor="blue">{{b.type}}</nz-tag>
						<nz-tag *ngSwitchCase="'workflow'" nzColor="green">{{b.type}}</nz-tag>
						<nz-tag *ngSwitchDefault>{{b.type}}</nz-tag>
					</div>
					<button nz-button nzType="text" nzDanger (click)="deleteBookmark($event, b)"><i nz-icon nzType="delete"
							nzTheme="outline"></i></button>
				</a>
			</nz-list-item>
		</nz-list>
	</ng-container>
</div>