#CDSHome {
  padding-top: 15px;
  height: 100%;
  overflow: auto;
  h1 {
    margin-top: 1em;
  }
  .ml5 {
    margin-left: 5px;
  }
  .mt5 {
    margin-top: 5px;
  }
  .mt25 {
    margin-top: 25px;
  }

  .divider-column {
    position: relative;
    padding: 0 !important;
  }

  .border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  a {
    &.fluid {
      width: inherit;
      margin-left: 0px;
      margin-right: 10px;
    }
  }
}
