<div class="content">
  <div class="logo">
    <img src="assets/images/cds.png" alt="CDS logo" title="{{'navbar_home' | translate}}" />
  </div>

  <app-search-bar #searchBar></app-search-bar>

  <div class="controls">
    <button nz-button nzSize="large" title="Search in CDS" (click)="clickSearch()">
      Search
    </button>
    <button nz-button nzSize="large" title="Show my Projects" (click)="clickShowProjects()">
      Show my Projects
    </button>
  </div>

  @if (bookmarks.length > 0) {
    <h4 nz-typography>Bookmarks</h4>
    <div class="list">
      <nz-list nzBordered nzSize="small" [nzLoading]="loading">
        @for (b of bookmarks; track b) {
          <nz-list-item>
            <a [routerLink]="generateBookmarkLink(b)" [queryParams]="generateBookmarkQueryParams(b)" class="bookmark">
              <div class="title">
                <span class="label" title="{{b.label}}">{{b.label}}</span>
                <span class="id" title="{{b.id}}">{{b.id}}</span>
              </div>
              <div>
                @switch (b.type) {
                  @case ('project') {
                    <nz-tag nzColor="blue">{{b.type}}</nz-tag>
                  }
                  @case ('workflow') {
                    <nz-tag nzColor="green">{{b.type}}</nz-tag>
                  }
                  @default {
                    <nz-tag>{{b.type}}</nz-tag>
                  }
                }
              </div>
              <button nz-button nzType="text" nzDanger (click)="deleteBookmark($event, b)"
                title="Remove {{b.type}} from bookmarks"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
              </a>
            </nz-list-item>
          }
        </nz-list>
      </div>
    }
  </div>