@import '../../../../../common';

.join {
  width: 70px;
  height: 70px;

  .circle {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;

      .iconPosition {
          top: 15px;
          left: 5px;
          font-size: 2.5em;
          position: fixed;
          cursor: pointer;
          animation: color_change 0.7s infinite alternate;
          color: #344860;
          transition-timing-function: ease-in-out;
      }
  }
  .circle.success {
    border: 2px solid $cds_color_green;
    background-color: $cds_color_light_green;
  }
  .circle.building {
    border: 2px solid $cds_color_teal;
    background-color: $cds_color_light_teal;
  }
  .circle.fail {
    border: 2px solid $cds_color_red;
    background-color: $cds_color_light_red;
  }
  .circle.inactive {
    border: 2px solid $cds_color_light_grey;
  }
  .circle.active {
    border: 2px solid $cds_color_teal;
  }
  .content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 0.8em;
    display:flex;
    top: -1px;
    justify-content:center;
    align-items:center;
    position: absolute;
  }
}

@keyframes color_change {
    from { opacity: 1; }
    to { opacity: 0.2; }
}
