@import '../workflow.node.common';
.workflowJoin {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  &.animate {
    animation: color_change 0.7s ease-in-out infinite alternate;
  }
}

@keyframes color_change {
  from {
    background-color: white;
    opacity: 1;
  }
  to {
    background-color: grey;
    opacity: 0.2;
  }
}