<nz-row>
  <nz-col [nzSpan]="24">
    @if (loading) {
      <nz-spin nzTip="Loading..."></nz-spin>
    } @else {
      @if (showCTL) {
        <div>
          <nz-alert nzType="info" nzMessage="You can now copy this command to your terminal to finish login then close this tab."></nz-alert>
          <form nz-form>
            <nz-form-item class="field">
              <nz-form-label>Command</nz-form-label>
              <nz-form-control>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                  <input nz-input type="text" value="{{cmd}}" [readonly]="true" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                  <button nz-button nzSearch [title]="'common_copy_clipboard' | translate"
                    ngxClipboard [cbContent]="cmd" (click)="confirmCopy()">
                    <span nz-icon nzType="copy"></span></button>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        }
        @if (showInitTokenForm) {
          <div>
            <nz-alert nzType="info" nzMessage="If you just generated the CDS configuration you can give an optional init token."></nz-alert>
            <form nz-form (ngSubmit)="signin(signinForm)" #signinForm="ngForm">
              <nz-form-item>
                <nz-form-label>Initialization token</nz-form-label>
                <nz-form-control>
                  <input nz-input type="password" name="init_token" ngModel required>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item nzJustify="end">
                <button nz-button nzType="primary"
                type="submit">Sign in</button>
              </nz-form-item>
            </form>
          </div>
        }
        @if (missingParams || showErrorMessage) {
          <div>
            @if (missingParams) {
              <nz-alert nzType="error" nzMessage="One or more params are missing to continue. You can try to sign in again."></nz-alert>
            }
            @if (showErrorMessage) {
              <nz-alert nzType="error" nzMessage="A error occurred. You can try to sign in again."></nz-alert>
            }
            <form nz-form>
              <nz-form-item>
                <button nz-button nzBlock nzType="primary" [nzLoading]="loadingSignin"
                  (click)="navigateToSignin()">
                  Sign in
                </button>
              </nz-form-item>
            </form>
          </div>
        }
      }
    </nz-col>
  </nz-row>
