<div id="EnvironmentShow">
  @if (project && environment) {
    <app-project-breadcrumb [project]="project" [environment]="environment" [workflow]="workflowName"
      [workflowRun]="workflowNum" [workflowRunNode]="workflowNodeRun" [wPipeline]="workflowPipeline">
      <nz-tag class="labelFeature" [title]="'workflow_from_repository_btn' | translate"
        [nzColor]="environment?.from_repository?'green':''" nz-popover nzPopoverTrigger="click"
        [nzPopoverContent]="popupFromRepository" nzPopoverPlacement="leftBottom"><i nz-icon nzType="code"
      nzTheme="outline"></i>as code</nz-tag>
      <ng-template #popupFromRepository>
        <div class="content infoPopup">
          @if (environment.from_repository) {
            <p>
              {{ 'environment_from_repository' | translate: {repo: environment.from_repository} }}
            </p>
          }
        </div>
      </ng-template>
    </app-project-breadcrumb>
    <app-tabs [tabs]="tabs" (onSelect)="selectTab($event)"></app-tabs>
    @if (editMode && !readonly) {
      <nz-space-compact class="ascodeButton">
        @if (environment.editModeChanged) {
          <button nz-button nzType="default" (click)="cancelEnvironment()">{{'common_cancel' | translate
          }}</button>
        }
        <button nz-button nzType="primary" [disabled]="!environment.editModeChanged"
        (click)="saveEditMode()">{{'btn_save_environment' | translate }}</button>
      </nz-space-compact>
    }
    <div class="scrollingContent">
      <div class="paddingContent">
        <div class="viewContent">
          <div>
            @switch (selectedTab.key) {
              @case ('variables') {
                <div>
                  @if (!readonly) {
                    <h3>{{ 'environment_variable_form_title' | translate}}</h3>
                    <app-variable-form [loading]="varFormLoading"
                    (createVariableEvent)="variableEvent($event)"></app-variable-form>
                  }
                  <h3>{{ 'environment_variable_list_title' | translate}}</h3>
                  <app-variable [variables]="environment.variables" [mode]="readonly?'ro':'edit'"
                    (event)="variableEvent($event)" auditContext="environment" [project]="project"
                  [environmentName]="environment.name"></app-variable>
                </div>
              }
              @case ('keys') {
                <div>
                  <app-environment-keys [project]="project" [environment]="environment" [readonly]="readonly"
                  [editMode]="editMode"></app-environment-keys>
                </div>
              }
              @case ('usage') {
                <div>
                  @if (usageCount > 0) {
                    <app-usage [project]="project" [workflows]="workflows"></app-usage>
                  }
                  @if (usageCount === 0) {
                    <nz-alert nzType="info" nzMessage="This environment is not used."></nz-alert>
                  }
                </div>
              }
              @case ('advanced') {
                <div>
                  <app-environment-advanced [project]="project" [environment]="environment">
                  </app-environment-advanced>
                </div>
              }
            }
          </div>
        </div>
      </div>
    </div>
  } @else {
    <nz-spin nzTip="Loading environment..."></nz-spin>
  }
</div>
