#EnvironmentShow {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;

    .scrollingContent {
        overflow-x: auto;
    }

  .ascodeButton {
    position: absolute;
    right: 15px;
    top: 121px;
  }
}

