<form class="ui form" *ngIf="ready" (ngSubmit)="create()">
    <div class="fields">
        <div class="seven wide field">
            <label>Group name <a class="group-help" suiPopup [popupTemplate]="popupHelp" popupTrigger="outsideClick"
                    popupPlacement="bottom">My group is not listed</a></label>
            <sui-select *ngIf="!manual" class="fluid selection" (selectedOptionChange)="selectGroup($event)"
                [options]="groupList" [isSearchable]="true" valueField="name" #nameSelect name="group-name"
                [optionTemplate]="optionNameTemplate">
                <sui-select-option *ngFor="let option of nameSelect.filteredOptions" [value]="option">
                </sui-select-option>
            </sui-select>
            <ng-template let-option #optionNameTemplate>
                {{option.name}}{{option.organization ? ' (' + option.organization + ')' : ''}}
            </ng-template>
            <input *ngIf="manual" type="text" name="group-name" [(ngModel)]="newGroupPermission.group.name">
            <ng-template let-popup #popupHelp>
                <div class="group-help-popup">
                    <span>You'll see only your groups in this list.</span>
                    <span>If you need to add read permission to another group you can manually enter its name.</span>
                    <button type="button" class="ui icon blue button"
                        (click)="switchManualInput();popup.close();">Switch text
                        input</button>
                </div>
            </ng-template>
        </div>
        <div class="five wide field">
            <label>{{'group_permission' | translate}}</label>
            <sui-select class="fluid selection" [(ngModel)]="newGroupPermission.permission" [options]="permissionList"
                valueField="value" #levelSelect name="permission-level" [optionTemplate]="optionLevelTemplate">
                <sui-select-option *ngFor="let option of levelSelect.filteredOptions" [value]="option">
                </sui-select-option>
            </sui-select>
            <ng-template let-option #optionLevelTemplate>
                {{option.name | translate}}
            </ng-template>
        </div>
        <div class="two wide center field">
            <button *ngIf="buttonType === 'submit'" type="submit" class="ui green button" [class.loading]="loading"
                [class.disabled]="loading || !newGroupPermission.group.name || newGroupPermission.group.name === ''"><i
                    class="save icon"></i>{{ 'btn_save' | translate }}</button>
            <button *ngIf="buttonType === 'button'" type="submit" class="ui icon blue button" [class.loading]="loading"
                [class.disabled]="loading || !newGroupPermission.group.name || newGroupPermission.group.name === ''"><i
                    class="plus icon"></i></button>
        </div>
    </div>
</form>
