<form class="ui form" *ngIf="groups.length > 0" (ngSubmit)="create()">
    <div class="fields">
        <div class="seven wide field">
            <label>{{'group_name' | translate}}</label>
            <sui-select *ngIf="newGroupPermission" class="fluid selection" [(ngModel)]="newGroupPermission.group.name"
                [options]="groups" [isSearchable]="true" valueField="group.name" labelField="group.name" #operatorSelect
                name="group-name">
                <sui-select-option *ngFor="let option of operatorSelect.filteredOptions" [value]="option">
                </sui-select-option>
            </sui-select>
        </div>
        <div class="five wide field">
            <label>{{'group_permission' | translate}}</label>
            <sui-select class="fluid selection" [(ngModel)]="newGroupPermission.permission" [options]="permissionList"
                valueField="value" #levelSelect name="permission-level" [optionTemplate]="optionLevelTemplate">
                <sui-select-option *ngFor="let option of levelSelect.filteredOptions" [value]="option">
                </sui-select-option>
            </sui-select>
            <ng-template let-option #optionLevelTemplate>
                {{option.name | translate}}
            </ng-template>
        </div>
        <div class="two wide center field">
            <button *ngIf="buttonType === 'submit'" type="submit" class="ui green button" [class.loading]="loading"
                [class.disabled]="loading || !newGroupPermission.group.name || newGroupPermission.group.name === ''"><i
                    class="save icon"></i>{{ 'btn_save' | translate }}</button>
            <button *ngIf="buttonType === 'button'" type="submit" class="ui icon blue button" [class.loading]="loading"
                [class.disabled]="loading || !newGroupPermission.group.name || newGroupPermission.group.name === ''"><i
                    class="plus icon"></i></button>
        </div>
    </div>
</form>
