<div id="WorkflowSidebar" *ngIf="open">
    <sui-multi-select class="selection"
                      [(ngModel)]="selectedTags"
                      [options]="tagsSelectable"
                      [isSearchable]="true"
                      (ngModelChange)="refreshRun()"
                      #multiSelect>
        <sui-select-option
            *ngFor="let option of multiSelect.filteredOptions"
            [value]="option">
        </sui-select-option>
    </sui-multi-select>
    <div class="ui list divided no-mrt" #tagsList>
      <div class="item padding pointing"
          *ngFor="let r of filteredWorkflowRuns"
          (click)="changeRun(r.num)"
          [class.active]="runNumber === r.num">
          <div class="floated right mr" *ngIf="r.status === pipelineStatusEnum.BUILDING || r.status === pipelineStatusEnum.WAITING">
              <app-status-icon [status]="r.status"></app-status-icon>
          </div>
        <i class="icon ribbon-state"
            [class.success]="r.status === pipelineStatusEnum.SUCCESS"
            [class.waiting]="r.status === pipelineStatusEnum.BUILDING || r.status === pipelineStatusEnum.WAITING"
            [class.fail]="r.status === pipelineStatusEnum.FAIL || r.status === pipelineStatusEnum.STOPPED">
        </i>
        <div class="content">
          <a class="header"
              [class.success]="r.status === pipelineStatusEnum.SUCCESS"
              [class.waiting]="r.status === pipelineStatusEnum.BUILDING || r.status === pipelineStatusEnum.WAITING"
              [class.fail]="r.status === pipelineStatusEnum.FAIL || r.status === pipelineStatusEnum.STOPPED">
              <i class="tag icon"></i> {{r.num}}
          </a>
          <ng-template let-popup #popupTemplate>
              <div class="content">
                <div class="ui bulleted list">
                    <div class="item" *ngFor="let t of filteredTags[r.id]; let i = index; let last = last">
                        <b>{{t.tag}} : </b> {{t.value}}
                    </div>
                </div>
              </div>
          </ng-template>
          <div class="infoLine" *ngIf="filteredTags[r.id] && filteredTags[r.id].length" suiPopup [popupTemplate]="popupTemplate" popupPlacement="right">
              <i class="find icon"></i>
              <ng-container *ngFor="let t of filteredTags[r.id]; let i = index; let last = last">
                  <span class="tiny" *ngIf="i <= 1"> {{t.value}} </span><span class="tiny" *ngIf="!last && i <= 1">,</span><span *ngIf="i === 1 && !last"> ...</span>
              </ng-container>
          </div>
          <div class="infoLine">
              <i class="clock icon"></i> {{r.duration}}
          </div>
          <div class="infoLine">
              <i class="calendar icon"></i> {{r.start | date:'short' }}
          </div>
        </div>
      </div>
    </div>
</div>
<div class="ui text active loader" *ngIf="!ready && open">{{ 'workflow_run_loading' | translate }}</div>
