.sidebar-node-run {
    .header {
        margin-top: 10px;
    }

    .ml5 {
        margin-left: 5px;
    }

    .status {
        margin-left: 3.5px;
        margin-right: 0px;
    }

    .no-mrr {
        margin-right: 0px;
    }

    .padding {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .listmrt {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .content {
        width: 100%;
    }
    .edit-menu {
        &:hover {
            background-color: #cacbcd;
        }
        .button {
            &.transparent {
                background-color: transparent;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    .paddingContent {
        padding-top: 11px;
        padding-left: 5px;
        vertical-align: middle !important;
        font-size: medium;
    }

    .padding {
      padding: 5px;
    }

    .steps {
        border: none;
    }
}
