
<div class="sidebar-node-run" *ngIf="currentWorkflowNodeRun && !loading">
    <h3 class="ui header ml5">
        <i class="cubes icon"></i>
        <div class="content">
            <span>{{node.name}}</span>
            <a class="inline pointing ml5"
              *ngIf="displayEditOption"
              [routerLink]="['/project', project.key, 'workflow', currentWorkflowRun.workflow.name]" [queryParams]="{selectedNodeId: node.id}">
              <i class="pencil icon float"></i>
            </a>
            <div class="sub header">
              <span>{{ 'common_pipeline' | translate }} : {{node.pipeline.name}}</span>
            </div>
        </div>
    </h3>
    <div class="padding">
      <div class="ui fluid buttons" *ngIf="currentWorkflowRun">
        <button class="ui positive icon button"
            [class.loading]="loading"
            [disabled]="loading || !currentWorkflowRun || !canBeRun"
            [title]="'btn_run' | translate" (click)="openRunNode()"
            *ngIf="currentWorkflowNodeRun?.status !== pipelineStatusEnum.BUILDING &&
                currentWorkflowNodeRun?.status !== pipelineStatusEnum.WAITING">
            <i class="play icon"></i>
        </button>
        <button class="ui red icon button"
            [class.loading]="loading"
            [disabled]="loading"
            [title]="'btn_run' | translate"
            (click)="stopNodeRun()"
            *ngIf="currentWorkflowNodeRun && (currentWorkflowNodeRun?.status === pipelineStatusEnum.BUILDING || currentWorkflowNodeRun?.status === pipelineStatusEnum.WAITING)">
            <i class="stop icon"></i>
        </button>
        <button class="ui icon blue button" [class.disabled]="!displaySummary" [title]="'btn_logs' | translate" (click)="displayLogs()">
            <i class="file text icon"></i>
        </button>
      </div>
    </div>
    <ng-container *ngIf="displaySummary">
        <div class="ui list ml5 listmrt">
            <div class="item padding" *ngIf="currentWorkflowNodeRun.tests">
                <div class="content pointing"
                  [routerLink]="['/project', project.key, 'workflow', currentWorkflowRun.workflow.name, 'run', runNumber, 'node', currentWorkflowNodeRun.id]"
                  [queryParams]="{name: node.name, tab: 'test'}">
                    <div>
                        <i class="bug icon"></i> {{currentWorkflowNodeRun.tests.total}}
                        <span *ngIf="currentWorkflowNodeRun && currentWorkflowNodeRun.tests && currentWorkflowNodeRun.tests.total > 1">{{ 'common_tests' | translate }}</span>
                        <span *ngIf="!currentWorkflowNodeRun || !currentWorkflowNodeRun.tests || currentWorkflowNodeRun.tests.total < 2">{{ 'common_test' | translate }}</span>
                        <ng-container *ngIf="currentWorkflowRun && currentWorkflowNodeRun.tests && currentWorkflowNodeRun.tests.total > 0">
                            (<i class="green check icon no-mrr"></i>{{currentWorkflowNodeRun.tests.ok}} <i class="red remove icon status"></i>{{currentWorkflowNodeRun.tests.ko}} <i class="grey ban icon status"></i>{{currentWorkflowNodeRun.tests.skipped}})
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="item padding" *ngIf="currentWorkflowNodeRun.artifacts">
                <div class="content pointing"
                [routerLink]="['/project', project.key, 'workflow', currentWorkflowRun.workflow.name, 'run', runNumber, 'node', currentWorkflowNodeRun.id]"
                [queryParams]="{name: node.name, tab: 'artifact'}"
                [title]="'common_artifacts' | translate">
                    <div>
                        <i class="cloud upload icon"></i> {{currentWorkflowNodeRun.artifacts.length}}
                        <span *ngIf="currentWorkflowNodeRun && currentWorkflowNodeRun.artifacts && currentWorkflowNodeRun.artifacts.length > 1">{{ 'common_artifacts' | translate }}</span>
                        <span *ngIf="!currentWorkflowNodeRun || !currentWorkflowNodeRun.artifacts || currentWorkflowNodeRun.artifacts.length < 2">{{ 'common_artifact' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="item padding" *ngIf="duration">
                <div class="content" [title]="'common_duration_title' | translate">
                    <div><i class="clock icon"></i> {{duration}}</div>
                </div>
            </div>
            <div class="item padding">
                <div class="content" [title]="'common_pipeline_start_title' | translate">
                    <div><i class="calendar icon"></i> {{currentWorkflowNodeRun.start | date:'short' }}</div>
                </div>
            </div>
        </div>
        <div>
          <ng-container *ngIf="currentWorkflowNodeRun">
            <div class="ui vertical fluid steps">
              <ng-container *ngFor="let stage of currentWorkflowNodeRun.stages">
                <app-stage-step-summary
                  [stage]="stage"
                  [workflowRun]="currentWorkflowRun"
                  [workflowNodeRun]="currentWorkflowNodeRun">
                </app-stage-step-summary>
              </ng-container>
            </div>
          </ng-container>
        </div>
    </ng-container>
</div>
<div class="ui text active loader" *ngIf="loading">{{ 'common_loading' | translate }}</div>
<ng-container *ngIf="project && node">
    <app-workflow-node-run-param
        [workflow]="workflow"
        [project]="project"
        [nodeRun]="currentWorkflowNodeRun"
        [workflowRun]="currentWorkflowRun"
        [nodeToRun]="node"
        [num]="number" #workflowRunNode>
    </app-workflow-node-run-param>
</ng-container>
