@import '../../../../common.scss';

nz-form-item {
  padding-left: 15px;

  nz-select {
    width: 100%;
  }
}

.content {
  padding-left: 15px;
  padding-right: 15px;
}

i.green {
  color: $cds_color_green;
}
i.red {
  color: $cds_color_red;
}
i.orange {
  color: $cds_color_orange;
}
