<div class="fields">
    <div class="six wide field">
    <label>{{ 'workflow_root_context_pipeline' | translate}}</label>
    <sm-select (onChange)="updatePipeline($event)" placeholder="{{ 'common_pipeline' | translate }}">
        <option *ngFor="let p of project.pipelines" [value]="p.name">{{ p.name}}</option>
    </sm-select>
    </div>
    <div class="five wide field">
    <label>{{ 'workflow_root_context_application' | translate}}</label>
    <sm-select (onChange)="updateApplication($event)" placeholder="{{ 'common_application' | translate }}">
        <option *ngFor="let a of project.applications" [value]="a.name">{{ a.name}}</option>
    </sm-select>
    </div>
    <div class="five wide field">
    <label>{{ 'workflow_root_context_environment' | translate}}</label>
    <sm-select (onChange)="updateEnvironment($event)" placeholder="{{ 'common_environment' | translate }}">
        <option *ngFor="let e of project.environments" [value]="e.name">{{ e.name}}</option>
    </sm-select>
    </div>
</div>