.header {
  .deleteButton {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

codemirror {
  width: 100%;
  &.invalid {
    border: 1px solid red;
  }
}

.mb15 {
  margin-bottom: 15px;
}

.ui.form .inline.fields .field > .selection.dropdown, .ui.form .inline.field > .selection.dropdown {
  width: 100%;
}
