<ng-template let-context let-modal="modal" #triggerModal>
    <div class="header" *ngIf="!trigger.workflow_dest_node || !trigger.workflow_dest_node.id">{{ 'workflow_node_trigger_title' | translate: {pip: triggerSrcNode?.pipeline?.name} }}</div>
    <div class="header" *ngIf="trigger.workflow_dest_node && trigger.workflow_dest_node.id">{{ 'workflow_node_trigger_title_edit' | translate: {pip: triggerSrcNode?.pipeline?.name} }}</div>
    <div class="content">
        <div class="ui form" *ngIf="project && trigger">
            <ng-container *ngIf="!trigger.workflow_dest_node|| !trigger.workflow_dest_node.id">
                <h3>{{ 'workflow_node_form_title' | translate }}</h3>
                <app-workflow-node-add-wizard
                  [project]="project"
                  [hideCancel]="true"
                  [hideNext]="true"
                  (nodeCreated)="destNodeChange($event)"
                  (pipelineSectionChanged)="pipelineSectionChanged($event)" #nodeWizard>
                </app-workflow-node-add-wizard>
            </ng-container>
        </div>
    </div>
    <div class="actions">
        <button class="ui grey button" [disabled]="loading" (click)="hide()">{{ 'common_close' | translate }}</button>
        <button class="ui green button" [disabled]="loading || trigger.workflow_dest_node == null" *ngIf="currentSection !== 'environment'" [class.loading]="loading" (click)="nextStep()">{{ 'btn_next' | translate }}</button>
        <button class="ui green button" [disabled]="trigger.workflow_dest_node == null || !trigger.workflow_dest_node.pipeline_id" *ngIf="currentSection === 'environment'" [disabled]="loading" [class.loading]="loading" (click)="saveTrigger()">{{ 'btn_finish' | translate }}</button>
    </div>
</ng-template>
