<div class="ui secondary pointing menu">
    <a class="active item">{{'timeline_title' | translate}}</a>
</div>
<ng-container *ngIf="!loading && events.length > 0">
    <div class="ui relaxed divided list"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [scrollWindow]="false"
         (scrolled)="onScroll()">
        <div class="item" *ngFor="let e of events">
            <div class="content">
                <div class="header">
                    <app-status-icon [status]="e.status" [loader]="false"></app-status-icon>
                    [<a [routerLink]="['/project', e.project_key]">{{ e.project_key  }}</a>]
                    <a [routerLink]="['/project', e.project_key, 'workflow', e.workflow_name]">{{ e.workflow_name }}</a>
                    <a [routerLink]="['/project', e.project_key, 'workflow', e.workflow_name, 'run', e.workflow_run_num]">#{{ e.workflow_run_num }}</a>
                </div>
                <div class="description">
                    {{e.timestamp | amTimeAgo}}
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="ui info message" *ngIf="!loading && events.length === 0">
    {{ 'timeline_no' | translate }}
</div>
<div class="ui text active loader" *ngIf="loading">{{ 'timeline_loading' | translate }}</div>
