
<ng-container *ngIf="!loading && events.length > 0">
    <div
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            [scrollWindow]="false"
            (scrolled)="onScroll()">
         <div class="item" *ngFor="let e of events" (mouseenter)="e.bell = true"  (mouseleave)="e.bell = false">
            <div class="content">
                <div class="header">
                    <div class="right floated content">
                        <nz-tag [class.green]="e.status === pipelineStatus.SUCCESS"
                                 [class.blue]="e.status === pipelineStatus.BUILDING || e.status === pipelineStatus.WAITING"
                                 [class.red]="e.status === pipelineStatus.FAIL || e.status === pipelineStatus.STOPPED"
                                 [class.grey]="e.status === pipelineStatus.DISABLED || e.status === pipelineStatus.SKIPPED || e.status === pipelineStatus.NEVER_BUILT">
                            {{ e.status }}</nz-tag>
                    </div>
                    <span [hidden]="!e.bell">
                        <i nz-icon nzType="audio-muted" nzTheme="outline" title="{{ 'timeline_filter_mute' | translate }}" (click)="addFilter(e)"></i>
                    </span>
                    [<a [routerLink]="['/project', e.project_key]">{{ e.project_key  }}</a>]
                    <a [routerLink]="['/project', e.project_key, 'workflow', e.workflow_name]">{{ e.workflow_name }}</a>
                    <a [routerLink]="['/project', e.project_key, 'workflow', e.workflow_name, 'run', e.workflow_run_num]">#{{ e.workflow_run_num }}</a>
                </div>
                <div class="description">
                        {{e.timestamp | amTimeAgo}}
                </div>
            </div>
        </div>
    </div>
</ng-container>
<nz-alert nzType="info" nzMessage="Timeline is empty" *ngIf="!loading && events.length === 0"></nz-alert>
<nz-spin *ngIf="loading" nzTip="Loading..."></nz-spin>

