<ng-template let-context let-modal="modal" #workflowDeleteModal>
    <div class="header">
        Deleting workflow {{workflow.name}}
    </div>
    <div class="content scrolling" [loading]="loading">
        <ng-container *ngIf="!dependencies || (dependencies.deleted_dependencies.isEmpty() && dependencies.unlinked_as_code_dependencies.isEmpty())">
            <div class="ui grid">
                <div class="row">
                    <div class="sixteen wide column">
                        <h3>Please confirm</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide right aligned column">
                        <app-delete-button title="Delete" [loading]="loading" (event)="deleteWorkflow(false)"></app-delete-button>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="dependencies?.deleted_dependencies && (!dependencies.deleted_dependencies.isEmpty() || !dependencies.unlinked_as_code_dependencies.isEmpty())">
            <div class="ui grid">
                <div class="row">
                    <div class="sixteen wide column">
                        <h3>Do you want to delete the workflow and clean its dependencies ?</h3>
                        <ng-container *ngIf="dependencies?.deleted_dependencies && !dependencies.deleted_dependencies.isEmpty()">
                            <p>The following objects will be deleted:
                                <sm-list class="bulleted">
                                    <sm-item *ngFor="let pip of dependencies.deleted_dependencies.pipelines">pipeline <strong>{{pip.name}}</strong></sm-item>
                                    <sm-item *ngFor="let app of dependencies.deleted_dependencies.applications">application <strong>{{app.name}}</strong></sm-item>
                                    <sm-item *ngFor="let env of dependencies.deleted_dependencies.environments">environment <strong>{{env.name}}</strong></sm-item>
                                </sm-list>
                            </p>
                        </ng-container>

                        <ng-container *ngIf="dependencies?.unlinked_as_code_dependencies && !dependencies.unlinked_as_code_dependencies.isEmpty()">
                            <p>The following objects will be unlinked from repository "{{workflow.from_repository}}":
                            <sm-list class="bulleted">
                                <sm-item *ngFor="let pip of dependencies.unlinked_as_code_dependencies.pipelines">pipeline {{pip.name}}</sm-item>
                                <sm-item *ngFor="let app of dependencies.unlinked_as_code_dependencies.applications">application {{app.name}}</sm-item>
                                <sm-item *ngFor="let env of dependencies.unlinked_as_code_dependencies.environments">environment {{env.name}}</sm-item>
                            </sm-list>
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide right aligned column">
                        <app-delete-button title="Delete workflow and clean dependencies" [loading]="loading" (event)="deleteWorkflow(true)"></app-delete-button>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <h3>Do you prefer to keep the dependencies ?</h3>
                        <p>Only the workflow {{workflow.name}} will be deleted.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide right aligned column">
                        <app-delete-button title="Delete only the workflow" [loading]="loading" (event)="deleteWorkflow(false)"></app-delete-button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>
