nz-result {
  .message {
    width: 100%;
    text-align: center;
  }

  [nz-result-extra] {
    [nz-button] {
      color: inherit;
    }
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}