nz-tree-view {
  width: 100%;

  nz-tree-node {
    width: 100%;

    .nocursor {
      cursor: default;
    }
      .name.active {
          padding-bottom: 3px;
          border-bottom: 1px solid black;

          :host-context(.night) & {
              border-bottom: 1px solid white;
          }
      }

    .node {
      width: 100%;

      i {
        float: right;
        margin-top: 5px;
      }

    }
  }
}

