@import '../../../../../common';

.ui.attached.segment {
  background-color: white;
}

.steps {
  overflow-x: auto;

  .step {
    .content {
      i.move.icon {
        position: absolute;
        left: 15px;
      }
      i.write.icon {
        position: absolute;
        top: 15px;
        right: 10px;
      }
    }
  }

  .step.active {
    background-color: $cds_color_teal !important;
    .title {
      color: white;
    }

  }
  .step.active::after {
    background-color: $cds_color_teal !important;
  }

  .step.off {
    .title {
      color: rgba(040, 40, 40, 0.3);
    }
  }
}



