<div class="workflow-list-lines">
    <nz-list nzBordered nzSize="small">
        <a nz-list-item *ngFor="let wf of workflows" [routerLink]="['./workflow', wf.name]">
            <div class="content">
                {{wf.name}}
            </div>
            <div>
                <nz-tag [nzColor]="label.color" *ngFor="let label of wf?.labels?.slice(0, 3)">
                    <span style="color: {{label.font_color}}">{{label.name}}</span>
                </nz-tag>
                <nz-tag>
                    ...
                </nz-tag>
            </div>
        </a>
    </nz-list>
</div>
