@import '../../../../common';
$boxHeight: 68px;
$boxWidth: 155px;
.workflowNode {
  width: 100%;
  height: 100%;

  .nodePipeline {
    position: relative;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    .footer {
      position: absolute;
      bottom: 5px;
      left: 10px;
    }

    .firstloop {
      position: absolute;
      top: 2px;
      left: 2px;
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;

      &::before,
      &::after {
        z-index: 1;
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &::before {
        top: -2px;
        left: -2px;
        border: 2px solid transparent;
        border-radius: 5px;
        animation: spinBefore 4s infinite;
      }

      &::after {
        border: 2px solid transparent;
        bottom: 2px;
        right: 2px;
        border-radius: 5px;
        animation: spinAfter 4s infinite;
      }

    }

    .secondloop {
      position: absolute;
      top: 2px;
      left: 2px;
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;

      &::before,
      &::after {
        z-index: 2;
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &::before {
        top: -2px;
        left: -2px;
        border: 2px solid transparent;
        border-radius: 5px;
        animation: spinSecondBefore 4s infinite;
      }

      &::after {
        border: 2px solid transparent;
        bottom: 2px;
        right: 2px;
        border-radius: 5px;
        animation: spinSecondAfter 4s infinite;
      }

    }

    .pipeline {
      display: flex;
      text-align: left;
      padding-left: 10px;
      padding-top: 20px;
      height: 68px;

      p {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
      }
      p.ellipsis {
        text-overflow: ellipsis;
      }
    }

    .ribbon.label {
      position: absolute;
      top: -10px;
      left: -10px;
      font-size: 0.7em;
      border: 1px solid black;
      background-color: $cds_color_light_teal;
      color: black;
      border-radius: 2px;
      padding-left: 10px;
      z-index: 10;
    }
    .ui.ribbon.label:after {
      content: none;
    }

    sm-dropdown {
      z-index: 3;
      position: absolute;
      right: 10px;
      top: 10px;
      .dropdown.icon {
        display: none;
      }
    }
  }
  .nodePipeline.running {
    border: none;
  }
  .nodePipeline.success {
    background-color: $cds_color_light_green;
    border: 2px solid $cds_color_green;
  }
  .nodePipeline.fail {
    background-color: $cds_color_light_red;
    border: 2px solid $cds_color_red;
  }
  .nodePipeline.inactive {
    background-color: $cds_color_light_grey;
    border: 2px solid grey;
  }
  .nodePipeline.building {
    background-color: $cds_color_light_teal;
  }
}


@keyframes spinBefore {
  0% {
    width: 0;
    height: 0;
    box-sizing: inherit;
  }
  12.5% {
    width: 100%;
    height: 0;
    border-top-color: $cds_color_teal;
    transition: width 0.5s ease-in;
  }
  25% {
    width: 100%;
    height: 100%;
    border-top-color: $cds_color_teal;
    border-right-color: $cds_color_teal;
    transition: height 0.5s;
  }
  50% {
    width: 100%;
    height: 100%;
    border-top-color: $cds_color_teal;
    border-right-color: $cds_color_teal;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: $cds_color_teal;
    border-right-color: $cds_color_teal;
  }
}

@keyframes spinSecondBefore {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 0;
    height: 0;
  }
  62.5% {
    width: 100%;
    height: 0;
    border-top-color: $cds_color_light_teal;
    transition: width 0.5s ease-in;
  }
  75% {
    width: 100%;
    height: 100%;
    border-top-color: $cds_color_light_teal;
    border-right-color: $cds_color_light_teal;
    transition: height 0.5s;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: $cds_color_light_teal;
    border-right-color: $cds_color_light_teal;
  }
}

@keyframes spinAfter {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 0;
    height: 0;
  }
  37.5% {
    width: 100%;
    height: 0;
    border-bottom-color: $cds_color_teal;
    border-left-color: transparent;
    transition:
            width 0.5s ease-in
  }
  50% {
    width: 100%;
    height: 100%;
    border-bottom-color: $cds_color_teal;
    border-left-color: $cds_color_teal;
    transition:
            height 0.5s
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom-color: $cds_color_teal;
    border-left-color: $cds_color_teal;
  }
}

@keyframes spinSecondAfter {
  0% {
    width: 0;
    height: 0;
  }
  75% {
    width: 0;
    height: 0;
  }
  87.5% {
    width: 100%;
    height: 0;
    border-bottom-color: $cds_color_light_teal;
    border-left-color: transparent;
    transition:
            width 0.5s ease-in

  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom-color: $cds_color_light_teal;
    border-left-color: $cds_color_light_teal;
    transition:
            height 0.5s
  }
}