@import '../../../../common';
$boxHeight: 68px;
$boxWidth: 200px;
.workflowNode {
  width: 100%;
  height: 100%;

  .nodePipeline {
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    .node-name {
      margin: auto;
    }

    .application-name {
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
    }

    .fieldcol {
      height: calc(68px / 3)
    }

    .footer {
      position: absolute;
      bottom: 5px;
      left: 10px;
      width: 90%;
      p {
        width: 100%;
        margin: 0;
        padding: 0 0 0 10px;
        white-space: nowrap;
        overflow: hidden;
      }
      div.ellipsis {
        text-overflow: ellipsis;
      }
    }

    .rename {
      width: 100%;
      position: absolute;
      top: 0;
      display:flex;
      align-items:center;
      height:100%;
      padding: 17px 5px 5px 5px;

      .full {
        width: 100%;

        .buttonLine {
          margin-top: 6px;
          text-align:center;
          color: $cds_color_red;
          font-weight: 600;

          button {
            margin-top: -3px;
          }
        }

        .ui.mini.input {
          width: 100%;
        }
      }
    }

    .node {
      color: black;
      text-decoration: none;
    }

    .node.subnumber {
      top: 0px;
      right: 5px;
      i {
        font-size: 0.8rem;
      }
    }

    .node.context {
      border-top: 1px solid grey;
      height: 35%;
      width: 100%;
      padding-top: 3px;
      font-size: 0.8rem;

      .link {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        .content-link {
          color: black;
          &:hover {
            color: $cds_color_teal;
          }
        }
      }

      .node.application {
        width: 50%;
        text-align: left;
        padding-left: 5px;
        display: inline-block;
      }
      .node.application.all {
        width: 100%;
      }

      .node.environment {
        width: 50%;
        text-align: right;
        padding-right: 5px;
        display: inline-block;
      }
      .node.environment.all {
        width: 100%;
      }

      .node.platform {
        width: 50%;
        text-align: right;
        padding-right: 5px;
        display: inline-block;
      }
      .node.platform.all {
        width: 100%;
      }
    }
    .node.context.success {
      border-color: $cds_color_green;
    }
    .node.context.building {
      border-color: $cds_color_teal;
    }
    .node.context.fail {
      border-color: $cds_color_red;
    }
    .node.context.inactive {
      border-color: $cds_color_light_grey;
    }

    .node.pipeline {
      height: 100%;
      width: 100%;
      div.ellipsis {
        width: 100%;
        margin: 0;
        padding: 15px 0 0 10px;
        white-space: nowrap;
        overflow: hidden;
        height:65%;
        display: flex;
        text-overflow: ellipsis;
        font-size: 1em;
        a {
          color: black;

          i {
            font-size: 1em;
            margin: 0;
          }
        }
      }

      i {
        &.run {
          margin-top: 10px;
          // margin-left: 5px;
          font-size: 2.2em;
        }
        &.icon.build {
          margin-left: 3px;
          margin-top: 7px;
          font-size: 1.2em;
        }
      }
    }



    .ribbon {
      &.label {
        position: absolute;
        &.top {
          top: -10px;
        }
        &.bottom {
          bottom: -10px;
        }
        &.left {
          left: -10px;
        }
        &.right {
          right: 0px;
          left: auto;
        }
        &.centered {
          left: 50%;
          transform: translateX(-50%);
        }

        font-size: 0.7em;
        border: 1px solid black;
        background-color: $cds_color_light_teal;
        color: black;
        border-radius: 2px;
        padding-left: 10px;
        z-index: 10;
        &.transparent {
          background-color: transparent;
          border: none;
        }
        &:after {
          content: none;
        }

        i {
          margin-right: 2px;
        }

      }
    }

    sm-dropdown {
      z-index: 3;
      position: absolute;
      right: 10px;
      top: 10px;
      .dropdown.icon {
        display: none;
      }
    }
  }
  .nodePipeline.running {
    border: none;
  }
  .nodePipeline.success {
    background-color: $cds_color_light_green;
    border: 2px solid $cds_color_green;
  }
  .nodePipeline.fail {
    background-color: $cds_color_light_red;
    border: 2px solid $cds_color_red;
  }
  .nodePipeline.inactive {
    background-color: $cds_color_light_grey;
    border: 2px solid grey;
  }
  .nodePipeline.active {
    border: 2px solid $cds_color_teal;
  }
  .nodePipeline.building {
    background-color: $cds_color_light_teal;
    border: 2px solid $cds_color_teal;
  }

  // Loader
  .ui.medium.loader {
    margin-right: 5px;
    .ui.circular.label {
      margin-top: 4px;
    }
  }
  .ui.large.loader {
    margin-right: 5px;
    .ui.circular.label {
      margin-top: 12px;
    }
  }
  .ui.huge.loader {
    margin-right: 5px;
    margin-top: 4px;
    .ui.circular.label {
      margin-top: 15px;
    }
  }
  .ui.massive.loader {
    margin-right: 5px;
    .ui.circular.label {
      margin-top: 20px;
    }
  }
  // End loader

  .mr5 {
    margin-right: 5px;
  }
}
.fixed {
  position: fixed;
}