@import '../../../../common';
$boxHeight: 68px;
$boxWidth: 155px;
.workflowNode {
  width: 100%;
  height: 100%;

  .nodePipeline {
    position: relative;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    .footer {
      position: absolute;
      bottom: 5px;
      left: 10px;
    }

    .pipeline {
      display: flex;
      text-align: left;
      padding-left: 10px;
      padding-top: 20px;
      height: 68px;

      p {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
      }
      p.ellipsis {
        text-overflow: ellipsis;
      }
    }

    .ribbon.label {
      position: absolute;
      top: -10px;
      left: -10px;
      font-size: 0.7em;
      border: 1px solid black;
      background-color: $cds_color_light_teal;
      color: black;
      border-radius: 2px;
      padding-left: 10px;
      z-index: 10;
    }
    .ui.ribbon.label:after {
      content: none;
    }

    sm-dropdown {
      z-index: 3;
      position: absolute;
      right: 10px;
      top: 10px;
      .dropdown.icon {
        display: none;
      }
    }
  }
  .nodePipeline.running {
    border: none;
  }
  .nodePipeline.success {
    background-color: $cds_color_light_green;
    border: 2px solid $cds_color_green;
  }
  .nodePipeline.fail {
    background-color: $cds_color_light_red;
    border: 2px solid $cds_color_red;
  }
  .nodePipeline.inactive {
    background-color: $cds_color_light_grey;
    border: 2px solid grey;
  }
  .nodePipeline.building {
    background-color: $cds_color_light_teal;
    border: 2px solid $cds_color_teal;
  }
}