<div class="log" *ngIf="currentStatus">
    <div class="logHeader pointing" (click)="toggleLogs()">
        <div class="status" [class.icon]="currentStatus !== 'Building'">
            <app-status-icon [status]="currentStatus"></app-status-icon>
        </div>
        <div class="title">
            {{step.name}}
        </div>
    </div>
    <div class="logs" *ngIf="showLog">
        <pre [innerHTML]="getLogs()" *ngIf="!loading">
        </pre>
        <div class="ui active centered inline loader" *ngIf="loading"></div>
    </div>
</div>
