<div class="log" *ngIf="currentStatus">
    <div class="logHeader pointing" (click)="toggleLogs()">
        <div class="status" [class.icon]="currentStatus !== pipelineBuildStatusEnum.BUILDING">
            <app-status-icon [status]="currentStatus"></app-status-icon>
        </div>
        <div class="title" [title]="startExec ? ('step_title_duration' | translate:{start: startExec, end: doneExec}) : ''">
            {{step.name}} {{duration}}
        </div>
        <div class="right floated flags" *ngIf="step.optional">
            <i class="warning sign icon orange stepWarn" *ngIf="currentStatus === pipelineBuildStatusEnum.FAIL && step.optional"></i>{{ 'action_optional' | translate }}
        </div>
    </div>
    <div class="logs" *ngIf="showLog">
        <div class="right floated">
          <button class="ui icon button copyButton" [title]="'common_copy_clipboard' | translate" (click)="copyRawLog(getLogs())">
            <i class="copy icon"></i>
          </button>
        </div>
        <!-- Pay attention ! Don't write any spaces, tabs or line between <pre> and <table> -->
        <pre *ngIf="!loading"><table class="ui very basic table">
            <tbody>
              <ng-container *ngFor="let logLine of getLogsSplitted(); let index = index; let last = last;">
                <tr
                  [class.active]="selectedLine === index + 1"
                  id="L{{job.pipeline_stage_id}}-{{job.pipeline_action_id}}-{{stepOrder}}-{{index + 1}}"
                  *ngIf="!last && logLine">
                  <td class="number yellow right aligned pointing" (click)="generateLink(index + 1)">{{index + 1}}</td>
                  <td [innerHTML]="logLine"></td>
                </tr>
              </ng-container>
            </tbody>
          </table></pre>
        <textarea class="fakeInput" name="fakeInput" #logsContent></textarea>
        <div class="ui active centered inline loader" *ngIf="loading"></div>
    </div>
</div>
