@import "../../../../../../../common";

$squareSize: 32px;
$yellowLogs: #FFFF91;
.mb20 {
  margin-bottom: 20px;
}
.ml10 {
  margin-left: 10px;
}

.logHeader {
  display:  flex;
  background-color: #444;

  .status {
    width: $squareSize;
    height: $squareSize;
    padding-top: 4px;
    padding-left: 8px;
    color: white;
  }
  .status.icon {
      padding-top: 6px;
  }

  .title {
    height: $squareSize;
    width: 100%;
    padding-top: 6px;
    padding-left: 5px;
    font-weight: 600;
    color: $yellowLogs;
  }
  .flags {
    height: $squareSize;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    color: $yellowLogs;
  }
  .stepWarn {
    display: inline;
  }
}

.textOrange {
  color: $cds_color_orange;
  font-size: 12px;
}

.logs {
  background-color: #222;
  color: white;
  clear: both;
  padding: 10px $squareSize 10px $squareSize;
  padding-left: 0px;

  .yellow {
    color: $yellowLogs;
  }

  .fakeInput {
    display: block;
    width: 1px;
    height: 1px;
    margin: 0;
    border: 0;
    padding: 0;
    opacity: 0;
  }

  pre {
    font-size: 0.8em;
    line-height: 1.1em;
    overflow-y: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    table {
      color: white;
      tr {
        &:hover {
          background-color: #444;
        }
        &.active {
          background-color: #444 !important;
          color: inherit !important;
        }
        &.fold-log {
          height: 2.5em;
          font-size: 2.5em;
          font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
          a {
            color: $yellowLogs;
            opacity: 0.8;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      td {
        padding-top: 1px;
        padding-bottom: 1px;
        hr {
          width: 50%;
          border: 0;
          height: 1px;
          background-image: linear-gradient(to right, rgba(255, 255, 145, 0), rgba(255, 255, 145, 0.75), rgba(255, 255, 145, 0));
        }
        &.number {
            width: 40px;
        }
        &.active {
          background-color: #444 !important;
          color: inherit !important;
        }
      }
    }
  }
}
