<div class="fields" *ngIf="node">
    <div class="six wide field">
        <label>{{ 'workflow_root_context_pipeline' | translate}}</label>
        <ng-container *ngIf="node.id > 0;else editPipeline">
            <div class="ui input">{{node.pipeline.name}}</div>
        </ng-container>
        <ng-template #editPipeline>
            <sm-select [(model)]="node.pipeline_id" placeholder="{{ 'common_pipeline' | translate }}" (onChange)="change()">
                <option *ngFor="let p of project.pipelines" [value]="p.id">{{ p.name}}</option>
            </sm-select>
        </ng-template>
    </div>
    <div class="five wide field">
        <label>{{ 'workflow_root_context_application' | translate}}</label>
        <sm-select [(model)]="node.context.application_id" placeholder="{{ 'common_application' | translate }}" (onChange)="change()">
            <option *ngFor="let a of project.applications" [value]="a.id">{{ a.name}}</option>
        </sm-select>
    </div>
    <div class="five wide field">
        <label>{{ 'workflow_root_context_environment' | translate}}</label>
        <sm-select [(model)]="node.context.environment_id" placeholder="{{ 'common_environment' | translate }}" (onChange)="change()">
            <option *ngFor="let e of project.environments" [value]="e.id">{{ e.name}}</option>
        </sm-select>
    </div>
</div>