@import '../../../../../common';
.workflowHook {
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    
    &.inactive {
      background-color: $cds_color_light_grey;
      border: 2px solid grey;
    }
    &.active {
      border: 2px solid $cds_color_teal;
    }

  i {
    font-size: 1,5em;
  }

  .name {
      padding: 12px 0px 0px 10px;
      height: 65%;
  }

  .details {
    border-top: 1px solid grey;
    height: 35%;
    width: 100%;
    padding-top: 2px;
    padding-left: 5px;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ui.dropdown {
    i {
      font-size: 1em;
    }
  }
}
