<div class="ui form" *ngIf="step">
    <div class="fields">
        <div class="field">
            <sm-select name="step" class="search"
                [options]="{'fullTextSearch': true}"
                [model]="step.name"
                (onChange)="selectPublicAction($event)">
                <option *ngFor="let a of publicActions" value="{{a.name}}">{{a.name}}</option>
            </sm-select>
        </div>
        <div class="field">
            <button name="addstepbtn" class="ui left floated blue button" (click)="addStep()"><i class="plus icon"></i>{{ 'job_add_step' | translate }}</button>
        </div>

    </div>
</div>
