<app-tabs [tabs]="tabs" (onSelect)="selectTab($event)"></app-tabs>
<div class="content" *ngIf="selectedTab" [ngSwitch]="selectedTab.key">
	<div *ngSwitchCase="'variables'">
		<app-project-variable-sets [project]="project"></app-project-variable-sets>
	</div>
	<div *ngSwitchCase="'keys'">
		<app-project-keys [project]="project"></app-project-keys>
	</div>
	<div *ngSwitchCase="'integrations'">
		<app-project-integrations [project]="project"></app-project-integrations>
	</div>
	<div *ngSwitchCase="'advanced'">
		<h3>{{ 'project_advanced_title' | translate }}</h3>
		<app-project-admin [project]="project"></app-project-admin>
	</div>
</div>