<div class="ui form" *ngIf="scheduler">
    <div class="ui fields">
        <div class="eight wide field">
            <label>{{ 'scheduler_crontab' | translate }}</label>
            <input type="text" [(ngModel)]="scheduler.crontab" (keypress)="scheduler.hasChanged = true">
        </div>
        <div class="eight wide field" *ngIf="edit && pipeline && pipeline.type !== 'build'">
            <label>{{ 'common_environment' | translate }}</label>
            <sm-select [(model)]="scheduler.environment_name">
                <option *ngFor="let e of project.environments" [value]="e.name">{{e.name}}</option>
            </sm-select>
        </div>
    </div>
</div>