<div class="ui form" *ngIf="scheduler">
    <div class="ui row">
        <div class="ui fields">
            <div class="eight wide field">
                <label>Crontab</label>
                <input type="text" [(ngModel)]="scheduler.crontab" (keypress)="scheduler.hasChanged = true" placeholder="* * * * *">
            </div>
            <div class="eight wide field" *ngIf="application.permission === 7 && pipeline && pipeline.type !== 'build'">
                <label>{{ 'common_environment' | translate }}</label>
                <sm-select [options]="{'fullTextSearch': true}" [(model)]="scheduler.environment_name">
                    <option *ngFor="let e of project.environments" [value]="e.name">{{e.name}}</option>
                </sm-select>
            </div>
        </div>
    </div>
    <div class="ui row">
        <div class="ui fields">
            <div class="sixteen wide field">
                <label>{{ 'trigger_list_parameter_title' | translate }}</label>
                <app-parameter-list
                    [project]="project"
                    [parameters]="scheduler.args"
                    mode="launcher"
                    [paramsRef]="pipeline.parameters"
                    (event)="scheduler.hasChanged = true">
                </app-parameter-list>
            </div>
        </div>
    </div>
</div>
