.sidebar-node-edit {
    ul {
        padding: 0;
        list-style: none;
        li {

        }
    }
}
.item:hover {
    text-decoration: underline;
}

.item.disabled {
    text-decoration: none;
}
