<div class="ui grid">
    <div class="column">
        <h3 class="ui top block attached header">
            {{ 'account_password_title' | translate }}
        </h3>
        <div class="ui bottom attached segment">
            <form class="ui form" (ngSubmit)="resetPassword()" #loginForm="ngForm">
                <div class="field">
                    <label>{{ 'user_label_email' | translate }}</label>
                    <input type="email" [(ngModel)]="user.email" name="email">
                </div>
                <div class="field right aligned">
                    <a class="pointing" (click)="navigateToLogin()">{{ 'account_login_title' | translate }}</a>
                    &nbsp;&nbsp;&nbsp;
                    <button class="ui green button"
                        type="submit">{{ 'account_password_btn_reset' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>