<nz-row>
  <nz-col [nzSpan]="24">
    <h3>Forgotten password</h3>
    @if (showErrorMessage) {
      <nz-alert nzType="error" nzMessage="Invalid or unknown given email address."></nz-alert>
    }
    @if (showSuccessMessage) {
      <nz-alert nzType="success" nzMessage="Reset request send, if a CDS account match given email address you will receive a link to reset your password."></nz-alert>
    }
    <form nz-form (ngSubmit)="askReset(askResetForm)" #askResetForm="ngForm">
      @if (!showSuccessMessage) {
        <nz-form-item class="field">
          <nz-form-label>Mail address</nz-form-label>
          <input nz-input type="email" name="email" ngModel required [disabled]="loading">
        </nz-form-item>
      }
      <div class="alignRight">
        <a class="pointing" (click)="navigateToSignin()">{{ 'account_login_title' | translate }}</a>
        &nbsp;&nbsp;&nbsp;
        @if (!showSuccessMessage) {
          <button nz-button nzType="primary" [disabled]="loading" [nzLoading]="loading"
          type="submit">Reset password</button>
        }
      </div>
    </form>

  </nz-col>
</nz-row>
