.repoShow {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

    h3 {
        padding: 10px 30px;
    }

  .repoShow-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px 30px;

    form {
      margin-top: 20px;
      padding: 0;
      nz-form-label {
        font-weight: bold;
      }
    }
    .analyses {
        h3 {
            margin-left: -30px;
            i {
                margin-left: 10px;
            }
        }
        padding-top: 20px;

        .error {
            width: 400px;
            word-break: break-word;
            white-space: pre-line;
        }
    }
      .hooks {
          h3 {
              margin-left: -30px;
              i {
                  margin-left: 10px;
              }
          }
          padding-top: 20px;

          .error {
              width: 400px;
              word-break: break-word;
              white-space: pre-line;
          }
          ul {
              list-style: none;
              padding-left: 0;
              li {

              }
          }
      }

  }

  .footer {
    display: flex;
    height: 46px;
    border-top: 1px solid #d9d9d9;
    padding: 7px 30px;

    :host-context(.night) & {
      border-top: 1px solid #434343;
    }

    .buttons {
      margin-left: auto;
      button {
        margin-left: 10px;
      }
    }
  }
}

ul.nopoint {
    list-style-type: none;
    padding: 0;
    max-height: 500px;
    overflow-y: auto;

    .container {
        display: flex;

        .label {
            align-self: center;
        }
    }
}


nz-spin {
    margin-top: 50px;
}
