@import '../../../../common';

:host {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.svg-wrapper {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
}

.svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: all-scroll;
}

.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
