<div class="ui grid">
    <div class="eight wide column">
        <h3>{{ 'project_applications_list' | translate }}</h3>
    </div>
    <div class="right aligned eight wide column" *ngIf="project.permission === 7">
        <a class="ui blue button" [routerLink]="['./application']">{{ 'application_create' | translate }}</a>
    </div>
</div>
<div class="ui segment">
    <div class="ui stackable four column grid" *ngIf="project.applications && project.applications.length > 0">
        <div class="center aligned column" *ngFor="let app of project.applications">
            <a [routerLink]="['./application', app.name]">{{app.name}}</a>
        </div>
    </div>
    <span *ngIf="!project.applications || project.applications.length === 0">{{ 'project_no_application' | translate }}</span>
</div>