.codebar {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    z-index: unset;
    height: 100%;
    width: 0%;

    &.visible {
        width: 50%;
    }
    margin-top: 100px !important;
    overflow-y: auto;

    .transparent {
        background-color: transparent;
    }

    .fullheight {
        height: 87%;
      width: 100%;
    }

    .mt5 {
        margin-top: 5px;
    }

    .bottomBtnsWrapper {
        position: absolute;
        bottom: 100px;
        right: 0;
        width: 430px;
        padding-top: 20px;
        padding-bottom: 20px;

        nz-row {
          padding: 0 20px;
          nz-col {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

    }
}
