<div id="ProjectShow" *ngIf="ready">
    <div class="CDSbreadcrumb">
        <app-breadcrumb [project]="project"></app-breadcrumb>
    </div>

    <div class="CDSmenu">
        <sm-menu title="" class="pointing secondary">
            <a sm-item [class.active]="selectedTab === 'applications'" (click)="showTab('applications')"><i class="rocket icon"></i>{{
                'common_applications' | translate }}</a>
            <a sm-item [class.active]="selectedTab === 'pipelines'" (click)="showTab('pipelines')"><i class="sitemap icon"></i>{{
                'common_pipelines' | translate }}</a>
            <a sm-item [class.active]="selectedTab === 'environments'" (click)="showTab('environments')"><i class="tree icon"></i>{{
                'common_environments' | translate }}</a>
            <a sm-item [class.active]="selectedTab === 'variables'" (click)="showTab('variables')"><i class="font icon"></i>{{
                'common_variables' | translate }}</a>
            <a sm-item [class.active]="selectedTab === 'permissions'" (click)="showTab('permissions')"><i class="users icon"></i>{{
                'common_permissions' | translate }}</a>
            <a sm-item [class.active]="selectedTab === 'advanced'" (click)="showTab('advanced')" *ngIf="project.permission === 7"><i class="graduation icon"></i>{{
                'common_advanced' | translate }}</a>
        </sm-menu>
    </div>

    <div class="scrollingContent">
        <div class="paddingContent">
            <div class="viewContent" [ngSwitch]="selectedTab">
                <div *ngSwitchCase="'applications'">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <h2>{{ 'project_applications_list' | translate }}</h2>
                        </div>
                        <div class="right aligned eight wide column" *ngIf="project.permission === 7">
                            <a class="ui blue button" [routerLink]="['./application']">{{ 'application_create' | translate }}</a>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui stackable four column grid" *ngIf="project.applications && project.applications.length > 0">
                            <div class="center aligned column" *ngFor="let app of project.applications">
                                <a [routerLink]="['./application', app.name]">{{app.name}}</a>
                            </div>
                        </div>
                        <span *ngIf="!project.applications || project.applications.length === 0">{{ 'project_no_application' | translate }}</span>
                    </div>
                </div>
                <div *ngSwitchCase="'pipelines'">
                    <h2>{{ 'project_pipelines_list' | translate }}</h2>
                    <div class="ui segment">
                        <div class="ui stackable four column grid">
                            <div class="center aligned column" *ngFor="let pip of project.pipelines">
                                <a [routerLink]="['./pipeline', pip.name]">{{pip.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'environments'">
                    <ng-container *ngIf="project.permission === 7">
                        <h2>{{ 'project_env_form_title' | translate}}</h2>
                        <app-environment-form [project]="project"></app-environment-form>
                    </ng-container>
                    <h2>{{ 'project_env_list_title' | translate}}</h2>
                    <app-environment-list [project]="project"></app-environment-list>

                </div>

                <div *ngSwitchCase="'variables'">
                    <app-warning-modal [title]="_translate.instant('warning_modal_title')" [msg]="_translate.instant('warning_modal_body')" (event)="variableEvent($event, true)" #varWarning></app-warning-modal>
                    <div>
                        <h2>{{ 'project_variable_list_title' | translate }}</h2>
                        <app-variable [variables]="project.variables" [mode]="project.permission === 7? 'edit': 'ro'" (event)="variableEvent($event)"></app-variable>
                    </div>
                    <ng-container *ngIf="project.permission === 7">
                        <h2>{{ 'project_variable_form_title' | translate }}</h2>
                        <app-variable-form (createVariableEvent)="variableEvent($event)" [loading]="varFormLoading"></app-variable-form>
                    </ng-container>

                </div>

                <div *ngSwitchCase="'permissions'">
                    <app-warning-modal [title]="_translate.instant('warning_modal_title')" [msg]="_translate.instant('warning_modal_body')" (event)="groupEvent($event, true)" #permWarning></app-warning-modal>
                    <h2>{{ 'project_permission_list_title' | translate }}</h2>
                    <app-permission-list [permissions]="project.groups" (event)="groupEvent($event)" [edit]="project.permission === 7"></app-permission-list>
                    <ng-container *ngIf="project.permission === 7">
                        <h2>{{ 'project_permission_form_title' | translate }}</h2>
                        <app-permission-form (createGroupPermissionEvent)="groupEvent($event)" [loading]="permFormLoading"></app-permission-form>
                    </ng-container>
                </div>
                <div *ngSwitchCase="'advanced'">
                    <h2>{{ 'project_advanced_title' | translate }}</h2>
                    <app-project-admin [project]="project"></app-project-admin>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui text active loader" *ngIf="!ready">Loading project...</div>
