@import "../../../../common";

#ProjectShow {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;

  i {
    &.favorite {
      color: $cds_favorite_color;
      font-size: 1.3em;
      &:hover {
        opacity: 0.4;
      }
    }
    &.unfavorite {
      color: black;
      opacity: 0.3;
      font-size: 1.3em;
      &:hover {
        color: $cds_favorite_color;
      }
    }
  }
}
