<form class="ui form" id="ActionEdit">
    <div class="ui segment">
        <div class="field">
            <div class="fields">
                <div class="six wide inline field">
                    <label>{{'common_name' | translate}}</label>
                    <input *ngIf="edit;" type="text" name="actionName" [(ngModel)]="editableAction.name"
                           (keydown)="editableAction.hasChanged = true">
                    <span *ngIf="!edit;" class="inline">{{editableAction.name}}</span>
                </div>
                <div class="seven wide inline field">
                    <label class="labelPadding">{{'common_description' | translate}}</label>
                    <textarea *ngIf="edit;" [disabled]="!edit" name="actionDescription" [(ngModel)]="editableAction.description"
                              rows="{{getDescriptionHeight()}}"
                              (keydown)="editableAction.hasChanged = true"></textarea>
                    <markdown *ngIf="!edit;" [data]="editableAction.description"></markdown>
                </div>
                <div class="one wide inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="enabled" [(ngModel)]="editableAction.enabled"
                               (change)="editableAction.hasChanged = true" [disabled]="!edit">
                        <label>{{ 'common_enable' | translate }}</label>
                    </div>
                </div>
                <div class="two wide right aligned field labelPadding">
                    <a class="pointing" (click)="requirementModal.show({inverted: false, closable: false})">
                        {{ editableAction.requirements.length + ' '}}{{'common_requirements' | translate }}
                    </a>
                    <sm-modal class="large" title="{{ 'common_requirements' | translate }}" #requirementModal>
                        <modal-content>
                            <div class="ui form">
                                <div class="field">
                                    <app-requirements-list [requirements]="editableAction.requirements" [edit]="edit"
                                                           (event)="requirementEvent($event)"></app-requirements-list>
                                    <div class="requirementForm" *ngIf="edit">
                                        <app-requirements-form (event)="requirementEvent($event)"></app-requirements-form>
                                    </div>
                                </div>
                            </div>
                        </modal-content>
                        <modal-actions>
                            <button class="ui grey button" (click)="requirementModal.hide()">{{ 'common_close' | translate }}</button>
                        </modal-actions>
                    </sm-modal>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment" *ngIf="editableAction.type !== 'Joined'">
        <div class="field">
            <label>{{ 'common_parameters' | translate }}</label>
            <div>
                <app-parameter-list [project]="project" [parameters]="editableAction.parameters" [mode]="edit? 'edit': 'ro'"
                                    (event)="parameterEvent($event)"></app-parameter-list>
            </div>
            <div>
                <app-parameter-form *ngIf="edit" [project]="project" (createParameterEvent)="parameterEvent($event)"></app-parameter-form>
            </div>
        </div>
    </div>

    <div class="subtitle">
        <h3 class="inline">{{ 'action_step_title' | translate }}</h3>
        <div class="right floated" *ngIf="edit && publicActions.length > 0">
            <app-action-step-form [publicActions]="publicActions" [final]="false" (create)="stepManagement($event)"></app-action-step-form>
        </div>
    </div>
    <div class="ui segment" *ngIf="nonFinalSteps.length > 0" [class.off]="!editableAction.enabled">
        <div class="dragula-container" [dragula]="'bag-nonfinal'" [dragulaModel]="nonFinalSteps" *ngIf="nonFinalSteps">
            <div *ngFor="let step of nonFinalSteps" class="step" [class.off]="!step.enabled">
                <app-action-step [action]="editableAction" [step]="step" [edit]="edit" [suggest]="suggest"
                                 (removeEvent)="stepManagement($event)"></app-action-step>
                <hr>
            </div>
        </div>
    </div>
    <div class="ui info message" *ngIf="nonFinalSteps.length === 0">
        {{ 'step_nonfinal_no' | translate }}
    </div>

    <div class="subtitle">
        <h3 class="inline">{{ 'action_step_final_title' | translate }}</h3>
        <div class="right floated" *ngIf="edit && publicActions.length > 0">
            <app-action-step-form [publicActions]="publicActions" [final]="true" (create)="stepManagement($event)"></app-action-step-form>
        </div>
    </div>

    <div class="ui segment" *ngIf="finalSteps.length > 0" [class.off]="!editableAction.enabled">
        <div class="dragula-container" [dragula]="'bag-final'" [dragulaModel]="finalSteps" *ngIf="finalSteps">
            <div *ngFor="let step of finalSteps" class="step" [class.off]="!step.enabled">
                <app-action-step [action]="editableAction" [step]="step" [edit]="edit" [suggest]="suggest"
                                 (removeEvent)="stepManagement($event)"></app-action-step>
                <hr>
            </div>
        </div>
    </div>
    <div class="ui info message" *ngIf="finalSteps.length === 0">
        {{ 'step_final_no' | translate }}
    </div>

    <div class="bottomBtnsWrapper ui segment">
      <div *ngIf="edit && editableAction.id">
          <button class="ui green right floated button" name="updatebtn" (click)="sendActionEvent('update')" [disabled]="!editableAction.hasChanged">
              <i class="save icon"></i>{{ 'save' | translate }}
          </button>
          <app-delete-button class="right floated" disabled="{{editableAction.hasChanged}}" (event)="sendActionEvent('delete')"></app-delete-button>
      </div>
      <div *ngIf="edit && !editableAction.id">
        <button class="ui green right floated button" name="updatebtn" (click)="sendActionEvent('insert')">
            <i class="save icon"></i>{{ 'btn_create' | translate }}
        </button>
      </div>
    </div>

</form>
