@import '../../../common';

th.sortable:after {
    font-family: Icons;
    content: '\f0dc';
}

th.ascending:after {
    font-family: Icons;
    content: '\f0de';
}

th.descending:after {
    font-family: Icons;
    content: '\f0dd';
}

.table {
    tbody tr td {
        overflow: hidden;
    }
}

.text-labels {
    .label:first-child {
        margin-left: 5px;
    }
}
