@import "../../../../common";
.diff {
  font-family: monospace, monospace;
  font-size: 1em;

  ul {
    list-style: none;
  }

  .add {
    color: green;
  }
  .key {
    color: black;
  }
  .delete {
    color: red;
    text-decoration: line-through;
  }
}
