<div class="diff">
  <ul>
    <li>
      <span class="key">{{ ('variable_name' | translate) + ': '}}</span>
      @if (type === 'update' && variableAfter.name === variableBefore.name) {
        <span class="normal">{{variableAfter.name}}</span>
      }
      @if (type === 'delete' || (type === 'update' && variableAfter.name !== variableBefore.name)) {
        <span class="delete">{{variableBefore.name}}</span>
      }
      @if (type === 'add' || (type === 'update' && variableAfter.name !== variableBefore.name)) {
        <span class="add">{{variableAfter.name}}</span>
      }
    </li>


    <li>
      <span class="key">{{ ('variable_type' | translate) + ': '}}</span>
      @if (type === 'update' && variableAfter.type === variableBefore.type) {
        <span class="normal">{{variableAfter.type}}</span>
      }
      @if (type === 'delete' || (type === 'update' && variableAfter.type !== variableBefore.type)) {
        <span class="delete">{{variableBefore.type}}</span>
      }
      @if (type === 'add' || (type === 'update' && variableAfter.type !== variableBefore.type)) {
        <span class="add">{{variableAfter.type}}</span>
      }
    </li>


    <li>
      <span class="key">{{ ('variable_value' | translate) + ': '}}</span>
      @if (type === 'update' && variableAfter.value === variableBefore.value) {
        <span class="normal">{{variableAfter.value}}</span>
      }
      @if (type === 'delete' || (type === 'update' && variableAfter.value !== variableBefore.value)) {
        <span class="delete">{{variableBefore.value}}</span>
      }
      @if (type === 'add' || (type === 'update' && variableAfter.value !== variableBefore.value)) {
        <span class="add">{{variableAfter.value}}</span>
      }
    </li>

  </ul>
</div>
