
@switch (configuration.type) {
  @case ('area-stacked') {
    <span class="cds-sr-only">
      @for (d of configuration.datas; track d) {
        <span>{{d.name}}: @for (s of d.series; track s) {<span>{{s.name}} {{s.value}}. </span>}</span>
      }
    </span>
    <div class="graph" role="img" [attr.aria-label]="configuration.title ? 'Chart: ' + configuration.title : 'Chart'">
      <ngx-charts-area-chart-stacked
        [scheme]="configuration.colorScheme"
        [results]="configuration.datas"
        [gradient]="configuration.gradient"
        [xAxis]="configuration.showXAxis"
        [yAxis]="configuration.showYAxis"
        [legend]="configuration.showLegend"
        [showXAxisLabel]="configuration.showXAxisLabel"
        [showYAxisLabel]="configuration.showYAxisLabel"
        [xAxisLabel]="configuration.xAxisLabel"
        [yAxisLabel]="configuration.yAxisLabel">
      </ngx-charts-area-chart-stacked>
    </div>
  }
}
