<sm-modal title="{{getTitle()}}" class="" #myModal>
    <modal-content>
        <form class="ui form">

            <!-- Pipeline + Env + Delete button -->
            <div class="ui fields">
                <div class="ui eight wide field" [class.eight]="isNewNotif" [class.six]="!isNewNotif">
                    <ng-container *ngIf="isNewNotif">
                        <label>{{'notification_on_pipeline_s' | translate}}</label>
                        <sm-select
                            class="fluid search multiple"
                            *ngIf="isNewNotif"
                            [(model)]="selected.pipeline"
                            [options]="{'fullTextSearch': true}"
                            (onChange)="updateNeedEnv($event)">
                            <option *ngFor="let p of application.pipelines" [value]="p.pipeline.name">{{p.pipeline.name}}</option>
                        </sm-select>
                    </ng-container>
                    <ng-container *ngIf="!isNewNotif">
                        <label class="inline">{{'common_pipeline_title' | translate}}</label>
                        <div class="inline">{{selected.pipeline[0]}}</div>
                    </ng-container>
                </div>
                <div class="ui wide field" [class.eight]="isNewNotif" [class.six]="!isNewNotif">
                    <ng-container *ngIf="needEnv">
                        <ng-container *ngIf="isNewNotif">
                            <label>{{'notification_on_environment_s' | translate}}</label>
                            <sm-select class="fluid search multiple"
                                [(model)]="selected.environment"
                                [options]="{'fullTextSearch': true}">
                                <option *ngFor="let e of project.environments" [value]="e.name">{{e.name}}</option>
                            </sm-select>
                        </ng-container>
                        <ng-container *ngIf="!isNewNotif">
                            <label class="inline">{{'notification_on_environment' | translate}}</label>
                            <div class="inline" *ngIf="!isNewNotif">{{selected.environment[0]}}</div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="ui four wide right aligned field" *ngIf="!isNewNotif">
                    <app-delete-button [loading]="loading" (event)="removeNotif()" #deleteButton></app-delete-button>
                </div>
            </div>

            <!-- Notification Type + Clone -->
            <div class="ui fields">
                <div class="ui eight wide field">
                    <label [class.inline]="!isNewNotif">{{'notification_type_title' | translate}}</label>
                    <sm-select [(model)]="selected.type" class="fluid search" *ngIf="isNewNotif">
                        <option *ngFor="let t of notificationTypes" [value]="t">{{t}}</option>
                    </sm-select>
                    <div class="inline" *ngIf="!isNewNotif">{{selected.type}}</div>
                </div>
                <div class="ui eight wide field" *ngIf="selected.type === 'clone'">
                    <label>{{'notification_clone' | translate}}</label>
                    <ng-container *ngIf="loadingApps">
                        <sm-select class="fluid search">
                            <option value="">{{'common_loading' | translate}}</option>
                        </sm-select>
                    </ng-container>
                    <ng-container *ngIf="!loadingApps">
                      <sm-select class="fluid search"
                          [options]="{'fullTextSearch': true}"
                          (modelChange)="updateWithClonedNotification($event)">
                          <option *ngFor="let n of projectNotifications; let i = index" [value]="i">{{getCloneNotificationLabel(n)}}</option>
                      </sm-select>
                    </ng-container>
                </div>
            </div>

            <!-- On success/failure/start -->
            <div class="ui fields">
                <div class="ui five wide field">
                    <label>{{'notification_on_success' | translate}}</label>
                    <sm-select class="fluid search"
                        [options]="{'fullTextSearch': true}"
                        [(model)]="selected.notification.on_success">
                        <option *ngFor="let os of notificationOnSuccess" [value]="os">{{os}}</option>
                    </sm-select>
                </div>
                <div class="ui six wide field">
                    <label>{{'notification_on_failure' | translate}}</label>
                    <sm-select class="fluid search"
                        [(model)]="selected.notification.on_failure"
                        [options]="{'fullTextSearch': true}">
                        <option *ngFor="let off of notificationOnFailure" [value]="off">{{off}}</option>
                    </sm-select>
                </div>
                <div class="ui five wide centered field">
                    <div class="ui checkbox">
                        <sm-checkbox label="{{ 'notification_on_start' | translate }}" [control]="onStartControl" type="toggle"></sm-checkbox>
                    </div>
                </div>
            </div>

            <!-- Send TO -->
            <div class="ui fields">
                <div class="ui five wide field">
                    <ng-container *ngIf="selected.type === 'jabber' || (selected.type === 'clone' && selected.clonedType === 'jabber')">
                        <label>{{ 'notification_recipients_jabber' | translate }}</label>
                    </ng-container>
                    <ng-container *ngIf="selected.type === 'email'  || (selected.type === 'clone' && selected.clonedType === 'email')">
                        <label>{{ 'notification_recipients_email' | translate }}</label>
                    </ng-container>
                    <input type="text" class="ui input" [(ngModel)]="selected.recipients" name="recipients"
                           *ngIf="selected.type !== 'clone' || (selected.type === 'clone' && selected.clonedType !== '')">
                </div>
                <div class="ui six wide centered field">
                    <div class="ui slider checkbox">
                        <sm-checkbox label="{{ 'notification_send_group' | translate }}" [control]="onGroupsControl" type="toggle"></sm-checkbox>
                    </div>
                </div>
                <div class="ui five wide centered field">
                    <div class="ui slider checkbox">
                        <sm-checkbox label="{{ 'notification_send_initiator' | translate }}" [control]="onAuthorControl" type="toggle"></sm-checkbox>
                    </div>
                </div>
            </div>

            <!-- Notif content -->
            <div class="ui field">
                <label>{{ 'notification_title' | translate }}</label>
                <input type="text" class="ui input" [(ngModel)]="selected.notification.template.subject" name="subject">
            </div>
            <div class="ui field">
                <label>{{ 'notification_body' | translate }}</label>
                <textarea type="text" class="ui input" [(ngModel)]="selected.notification.template.body" name="body"></textarea>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui grey button" (click)="close()">{{'btn_cancel' | translate}}</div>
        <div class="ui green button" [class.loading]="loading" [class.disabled]="loading" (click)="sendEvent()">{{'btn_save' | translate}}</div>
    </modal-actions>
</sm-modal>
