<!-- OBJECT FIELD -->
<ng-container *ngIf="field && model && jsonFormSchema && field.type === 'object'">
    <h3>{{field.name.charAt(0).toUpperCase() + field.name.substring(1, field.name.length)}}</h3>
    <ng-container *ngIf="field?.condition?.length > 0; else tmplNoCondition">
        <app-json-form-field-conditional [jsonFormSchema]="jsonFormSchema" [field]="field" [(model)]="model" (modelChange)="updateParentModel(field.name, model[field.name])"></app-json-form-field-conditional>
    </ng-container>
    <ng-template #tmplNoCondition>
        <ng-container *ngFor="let f of jsonFormSchema.types[field.objectType].fields">
            <app-json-form-field [jsonFormSchema]="jsonFormSchema" [field]="f" [(model)]="model[field.name]" (modelChange)="updateParentModel(field.name, model[field.name])"></app-json-form-field>
        </ng-container>
    </ng-template>
</ng-container>

<!-- SIMPLE FIELD -->
<nz-form-item *ngIf="field && model && jsonFormSchema && field.type !== 'object'">
    <!-- FORM LABEL -->
    <nz-form-label nzSpan="4">{{field.name.charAt(0).toUpperCase() + field.name.substring(1, field.name.length)}}</nz-form-label>

    <!-- FORM VALUE -->
    <nz-form-control nzSpan="20">
        <ng-container *ngIf="field.type === 'string' && !field.enum">
            <input nz-input name="{{field.name}}" [(ngModel)]="model[field.name]" (ngModelChange)="emitChange()">
        </ng-container>
        <ng-container *ngIf="field.enum">
            <nz-select [(ngModel)]="model[field.name]" (ngModelChange)="emitChange()">
                <nz-option *ngFor="let e of field.enum" [nzLabel]="e" [nzValue]="e"></nz-option>
            </nz-select>
        </ng-container>
    </nz-form-control>
</nz-form-item>
