<h2>{{'admin_status_title' | translate }}</h2>

<div *ngIf="!loading && status;then showStatus;else loadStatus"></div>
<ng-template #showStatus>
    <div class="model">
        <div class="ui grid">
            <div class="ui row">
                <div class="ui wide column">
                    <div class="ui fluid input">
                        <input type="text" placeholder="{{ 'filter' | translate }}" [(ngModel)]="filter" (keyup)="filterChange()">
                    </div>
                </div>
            </div>
        </div>

        <table class="ui definition table">
            <tbody>
                <tr *ngFor="let line of filteredStatusLines" [ngClass]="{'error': line.status==='AL', 'warning': line.status==='WARN', 'positive': line.status==='WARN'}">
                    <td>
                        {{line.component}}
                    </td>
                    <td>
                        {{line.status}}
                    </td>
                    <td>
                        {{line.value}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template #loadStatus>
    <div class="ui text active loader">{{ 'common_loading' | translate }}</div>
</ng-template>
