<div id="AppComponent">
    <ng-container *ngIf="!isAPIAvailable">
        <div class="page">
            <div class="content">
                <div class="wrapper loading">
                    <app-scrollview class="scrollview">
                        <div class="ui padded centered grid">
                            <div class="column">
                                <img class="logo ui centered image grayscale" src="assets/images/cds.png" alt="CDS Logo">
                                <p>{{ 'cdsapi_loading' | translate }}</p>
                            </div>
                        </div>
                    </app-scrollview>
                </div>                
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isAPIAvailable && (!isConnected || !maintenance || user?.ring === 'ADMIN')">
        <ng-container *ngIf="isConnected && !hideNavBar">
            <app-navbar></app-navbar>
        </ng-container>
        <div class="maintenance banner" [class.mt50]="isConnected"
            *ngIf="maintenance && (!isConnected || user?.ring == 'ADMIN')">
            <span>{{ 'maintenance_title' | translate }}</span>
            <img src="assets/images/maintenance.svg" />
        </div>
        <div class="banner pointing" (click)="refresh()" *ngIf="showUIUpdatedBanner">
            {{ 'ui_updated' | translate }}
        </div>

        <div class="page" [class.connected]="isConnected && !hideNavBar">
            <div class="content" [class.connected]="isConnected && !hideNavBar">
                <div class="toast">
                    <toaster-container [toasterconfig]="toasterConfigDefault"></toaster-container>
                </div>
                <router-outlet></router-outlet>
                <div class="ui active text loader" *ngIf="displayResolver">{{ 'common_loading_project' | translate }}
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isAPIAvailable && maintenance && isConnected && user?.ring !== 'ADMIN'">
        <div class="maintenance">
            <h2>{{ 'maintenance_title' | translate }}</h2>
            <div class="logo">
                <img src="assets/images/maintenance.svg">
            </div>
        </div>
    </ng-container>

    <div class="gamification" #gamification></div>
    <app-node-edit-modal></app-node-edit-modal>
    <toaster-container [toasterconfig]="toasterConfigErrorHTTP"></toaster-container>
    <toaster-container [toasterconfig]="toasterConfigErrorHTTPLocked"></toaster-container>
</div>
