@import '../common';
#AppComponent {
  height: 100%;

  #navbar {
    padding: 0px;
    width: 100%;
    position: fixed;
    display: none;
    z-index: 200;
  }

  #navbar.connected {
    display: inherit;
  }

  #banner {
    height: 50px;
    margin-top: $navbarHeight;
    background-color: $cds_color_red;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: 600;
  }

  .page.connected  {
    padding-top: $navbarHeight;
  }

  .page {
    height: inherit;
    z-index: 0;

    .content {
      height: inherit;
      margin-left: $sidebarCloseWidth;
      transition: all .4s ease 0s;
      padding-top: 0px;
    }
  }
}
