<div class="wrapper">
  <app-breadcrumb [path]="path"></app-breadcrumb>
  <app-scrollview class="scrollview">
    @if (loading) {
      <nz-spin nzTip="Loading..."></nz-spin>
    }
    <ul>
      @for (resource of resources; track resource) {
        <li>
          <strong>{{resource.name}}</strong> {{resource.os}} {{resource.arch}} <em>{{resource.variant}}</em>
          <a href="cdsapi/download/{{resource.name}}{{resource.os ? '/' + resource.os : ''}}{{resource.arch ? '/' + resource.arch : ''}}{{resource.variant ? '?variant=' + resource.variant : ''}}">
            ({{resource.filename}})
          </a>
        </li>
      }
    </ul>
  </app-scrollview>
</div>
