.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scrollview {
  flex: 1;
}

.table tbody tr {
  &:last-child td {
    border-bottom: none;
  }
  td:last-child {
    border-right: none;
  }
}