<div class="wrapper">
    <app-breadcrumb [path]="path"></app-breadcrumb>
    <app-scrollview class="scrollview">
        <nz-spin *ngIf="loading" nzTip="Loading..."></nz-spin>
        <ul>
            <li *ngFor="let resource of resources">
                <strong>{{resource.name}}</strong> {{resource.os}} {{resource.arch}} <em>{{resource.variant}}</em>
                <a href="cdsapi/download/{{resource.name}}/{{resource.os}}/{{resource.arch}}?variant={{resource.variant}}">
                    ({{resource.filename}})
                </a>
            </li>
        </ul>
    </app-scrollview>
</div> 
