.header {
  a:not(:first-of-type) {
    margin-left: 5px;
  }
}

.ui.relaxed.divided.list {
  height: 590px;
  overflow-y: auto;
}

.right.floated.content {
  padding-right: 10px;
}

.tiles-container {
  display: table-row-group;
  table-layout: fixed;
  box-shadow: 1px 0px 0px rgba(0,0,0,0.5);
  
  label {
    display: table-cell;
    vertical-align: middle;
    padding-right: 2em;
    position: relative;

    i {
      display: none;
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    &:hover > i {
      display: inline-block;
    }
  }

  .tiles {
    display: table-cell;
    width: 100%;
    
    .tile {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      vertical-align: bottom;
      line-height: 50px;
      border-radius: 5px;

      .detail {
        line-height: 10px;
        display: none;
        position: absolute;
        z-index: 99;
        background-color: white;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 0px;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
        border: 1px solid #BEBEBE;
        z-index: 1;
        white-space: nowrap;
        max-width: 450px;

        &:after {
          width: 0;
          height: 0;
          content: '';
          position: absolute;
          border-right: 18px solid transparent;
          border-left: 18px solid transparent;
          border-bottom: 17px solid white;
          left: 1px;
          top: -16px;
          display: block;
        }
        
        &:before {
          width: 0;
          height: 0;
          content: '';
          position: absolute;
          border-right: 19px solid transparent;
          border-left: 19px solid transparent;
          border-bottom: 19px solid #BEBEBE;
          left: 0px;
          top: -18px;
          display: block;
        }
        
        .property {
          font-weight: bold;
        }

      }

      &:hover > .detail {
        display: table;
      }

      a {
        color: white;
        vertical-align: middle;
      }

      &.green {
        background: #21ba45;
      }

      &.blue {
        background: #2185d0;
      }

      &.red {
        background: #db2828;
      }

      &.grey {
        background-color: rgba(120,120,120,1);
      }

    }
  }
}