<ng-container *ngIf="flatSchema && data">
    <app-json-form parentType="V2WorkerModel" [schema]="flatSchema" [(data)]="data"></app-json-form>
    <app-resizable-panel defaultSize="400" (onGrabbingStart)="panelStartResize()" (onGrabbingEnd)="panelEndResize()">
        <nz-tabset nzType="card" nzSize="small">
            <nz-tab [nzTitle]="path"></nz-tab>
        </nz-tabset>
        <nz-code-editor #editor [(ngModel)]="data" [nzEditorOption]="editorOption"
            (nzEditorInitialized)="onEditorInit($event)"></nz-code-editor>
    </app-resizable-panel>
</ng-container>
