<div class="entityContainer">
    <ng-container *ngIf="_jsonSchema && data">
        <div class="form">
            <form nz-form>
                <app-json-form parentType="V2WorkerModel" [schema]="_jsonSchema" [(data)]="data"></app-json-form>
            </form>
        </div>
        <div class="yaml">
            <nz-code-editor class="editor" [(ngModel)]="data" [nzEditorOption]="editorOption" (nzEditorInitialized)="onEditorInit($event)"></nz-code-editor>
        </div>
    </ng-container>
</div>

