@import "../../../../../../../common";

.job {
    //margin-left: 25px;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: #f1f1f1;

    .header {
        height: 40px;
        width: 100%;
        background-color: #4D4D4D;
        display: flex;
        flex-direction: row;

        .menu {
            display: flex;
            flex-direction: row;
            margin: 7px;

            button {
                margin: 0 2px;
                color: #B5B7BD;
                background: none;
                border: 1px solid #B5B7BD;
                cursor: pointer;

                &:not(.active):hover {
                    background-color: #B5B7BD;
                    color: #222222;
                }

                &.active {
                    color: #222222;
                    border-color: #FFFFFF;
                    background-color: #FFFFFF;
                }
            }

            button:focus,
            button:active {
                outline: none;
            }

            .item {
                min-width: 150px;
                margin: auto;
                text-align: center;
            }

            &.left {
                flex: 1;
            }

            &.right {
                .item {
                    min-width: unset !important;
                    flex: 1;
                }
            }
        }
    }

    .step {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 19px;
        font-family: Cousine, monospace;
        font-weight: 400;

        .line {
            min-height: 19px;
            display: flex;
            flex-direction: row;

            &:hover {
                background-color: #444444 !important;
            }

            .number {
                position: relative;
                width: 65px;
                user-select: none;
                text-align: right;
                padding-right: 12px;
                color: #B4B4B4;
                cursor: pointer;

                i {
                    position: absolute;
                    left: 5px;
                }
            }

            .value {
                flex: 1;
            }

            &.info {
                background-color: #2B2B2B;
                cursor: pointer;

                .value {
                    color: #FFFF91;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}
