<div class="ui filter form">

    <div *ngIf="project.workflow_migration !== 'NOT_BEGUN'" class="ui ignored bottom attached warning message">
        <b>CDS Workflows</b> 
        <p>
            {{ 'workflow_app_info_new_wf' | translate }}
        </p>
        <p *ngIf="application.workflows">
            {{ 'workflow_app_info_new_wf_have_pipeline' | translate}}
        </p>
    </div>

    <div class="filter ui stackable grid">
        <div class="two wide column">
            <sm-select class="search" [(model)]="workflowOrientation">
                <option value="vertical">{{ 'workflow_orientation_vertical' | translate }}</option>
                <option value="horizontal">{{ 'workflow_orientation_horizontal' | translate }}</option>
                <option value="hierarchical">{{ 'workflow_orientation_tree' | translate }}</option>
            </sm-select>

        </div>
        <div class="four wide column">
          <sm-select class="search"
              placeholder="{{'application_workflow_remote_title' | translate}}"
              *ngIf="!loading.remote && remotes != null"
              [options]="{'fullTextSearch': true}"
              [(model)]="applicationFilter.remote"
              (modelChange)="changeRemote()">
              <option *ngFor="let remote of remotes" value="{{remote.name}}">{{ remote.name }}</option>
          </sm-select>
          <sm-select *ngIf="loading.remote"
              [placeholder]="'common_loading' | translate">
          </sm-select>
        </div>
        <div class="four wide column">
            <sui-select class="selection"
                        *ngIf="!loading.branch && branches != null"
                        placeholder="{{'application_workflow_branch_title' | translate}}"
                        labelField="display_id"
                        valueField="display_id"
                        [options]="branches"
                        isSearchable="true"
                        [(ngModel)]="applicationFilter.branch"
                        (ngModelChange)="changeBranch($event)"
                        #selectBranch>
                <sui-select-option *ngFor="let option of selectBranch.filteredOptions"
                                   [value]="option">
                </sui-select-option>
            </sui-select>
            <sm-select *ngIf="loading.branch"
                [placeholder]="'common_loading' | translate">
            </sm-select>
        </div>
        <div class="four wide column">
            <sui-select class="selection"
            *ngIf="!loading.version && versions != null"
            placeholder="{{'application_workflow_version_title' | translate}}"
            [options]="versions"
            isSearchable="true"
            [(ngModel)]="applicationFilter.version"
            (ngModelChange)="changeVersion(false, applicationFilter.version)"
            #selectVersion>
                <sui-select-option *ngFor="let option of selectVersion.filteredOptions"
                                   [value]="option">
                </sui-select-option>
            </sui-select>
            <sm-select *ngIf="loading.version"
                [placeholder]="'common_loading' | translate">
            </sm-select>
        </div>

        <div class="two wide column">
            <div class="sixteen wide right aligned field pipeline"
                 *ngIf="!application.pipelines || project.pipeline_names.length > application.pipelines.length">
                <button class="ui blue button" (click)="openLinkPipelineModal()">{{ 'application_workflow_pipeline_add' | translate }}
                </button>
                <app-application-pipeline-link [project]="project" [application]="application"
                                               #linkPipelineComponent></app-application-pipeline-link>
            </div>
        </div>
    </div>
</div>

<div class="workflow">
    <div class="tree"
         [class.horizontal]="workflowOrientation === 'horizontal'"
         [class.vertical]="workflowOrientation === 'vertical'"
         [class.hierarchical]="workflowOrientation === 'hierarchical'">
        <app-application-tree-workflow *ngIf="application.workflows"
          [ready]="!loading.version && !loading.branch && !loading.remote"
          [project]="project"
          [application]="application"
          [remotes]="remotes"
          [workflowItems]="application.workflows" [orientation]="workflowOrientation"
          [applicationFilter]="applicationFilter"></app-application-tree-workflow>
    </div>
</div>
