<div class="workflow ui one column grid" [class.horizontal]="orientation === 'horizontal'" [class.vertical]="orientation === 'vertical'"
     [class.hierarchical]="orientation === 'hierarchical'">
    <div class="column">
        <div class="ui compact segments">
            <div class="ui raised segment"
                 [class.green]="workflowItem.pipeline.last_pipeline_build?.status === 'Success'"
                 [class.blue]="workflowItem.pipeline.last_pipeline_build?.status === 'Building'"
                 [class.red]="workflowItem.pipeline.last_pipeline_build?.status === 'Fail'">


                <!-- User + date -->
                <span *ngIf="workflowItem.pipeline.last_pipeline_build"
                      class="user ui blue left ribbon label"
                      [class.green]="workflowItem.pipeline.last_pipeline_build.status === 'Success'"
                      [class.blue]="workflowItem.pipeline.last_pipeline_build.status === 'Building'"
                      [class.red]="workflowItem.pipeline.last_pipeline_build.status === 'Fail'"

                >
                    <div smDirTooltip="{{getTriggerSource(workflowItem.pipeline.last_pipeline_build)}}"><i class="user icon"></i>{{getTriggerSource(workflowItem.pipeline.last_pipeline_build) | truncate : 13 }}</div>
                </span>

                <!-- Env -->

                <span *ngIf="workflowItem.pipeline.type !== 'build' && workflowItem.environment"
                      class="ui right ribbon label"
                      [class.green]="workflowItem.pipeline.last_pipeline_build?.status === 'Success'"
                      [class.blue]="workflowItem.pipeline.last_pipeline_build?.status === 'Building'"
                      [class.red]="workflowItem.pipeline.last_pipeline_build?.status === 'Fail'"

                ><div smDirTooltip="{{workflowItem.environment.name}}">{{workflowItem.environment.name | truncate : 20 }}</div></span>


                <!-- Application -->
                <div *ngIf="workflowItem.application.id !== application.id"
                     class="application flag">
                    <div class="ui orange application label" smDirTooltip="{{workflowItem.application.name}}">
                        {{workflowItem.application.name}}
                    </div>
                </div>


                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <div *ngIf="application.permission > 4" class="verticalPlayIcon">
                                <a class="pointing" (click)="runPipeline()"><i class="video play outline icon run"></i></a>
                            </div>
                        </div>
                        <div class="ten wide column">
                            <div class="pipelineLabel">
                                <div>
                                    <ng-container *ngIf="workflowItem.pipeline.last_pipeline_build" [ngSwitch]="workflowItem.pipeline.last_pipeline_build?.status">
                                        <div class="ui active inline blue loader"
                                             *ngSwitchCase="'Building'"
                                             [class.medium]="workflowItem.pipeline.last_pipeline_build.version < 10"
                                             [class.large]="workflowItem.pipeline.last_pipeline_build.version >= 10 && workflowItem.pipeline.last_pipeline_build.version < 10000"
                                             [class.huge]="workflowItem.pipeline.last_pipeline_build.version >= 10000 && workflowItem.pipeline.last_pipeline_build.version < 100000"
                                             [class.massive]="workflowItem.pipeline.last_pipeline_build.version >= 100000">
                                            <span *ngIf="workflowItem.pipeline.last_pipeline_build" class="ui blue circular label">{{'v' + workflowItem.pipeline.last_pipeline_build.version }}</span>
                                        </div>
                                        <span *ngSwitchDefault class="ui black circular label">{{'v' + workflowItem.pipeline.last_pipeline_build.version }}</span>
                                    </ng-container>
                                    <span
                                            [class.medium]="workflowItem.pipeline.last_pipeline_build?.version < 10"
                                            [class.large]="workflowItem.pipeline.last_pipeline_build?.version >= 10 && workflowItem.pipeline.last_pipeline_build?.version < 10000"
                                            [class.huge]="workflowItem.pipeline.last_pipeline_build?.version >= 10000 && workflowItem.pipeline.last_pipeline_build?.version < 100000"
                                            [class.massive]="workflowItem.pipeline.last_pipeline_build?.version >= 100000">
                                    <span class="toto" *ngIf="workflowItem.pipeline.name.length <= 17">{{workflowItem.pipeline.name}}</span>
                                     <span class="toto" *ngIf="workflowItem.pipeline.name.length > 17" smDirTooltip="{{workflowItem.pipeline.name}}">{{workflowItem.pipeline.name | truncate:17}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column" *ngIf="workflowItem.pipeline.last_pipeline_build">
                            <div class="verticalDetailIcon">
                                <a class="pointing" (click)="navigateToBuild(workflowItem.pipeline.last_pipeline_build)">
                                    <i class="newspaper icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui scheduler segment" *ngFor="let s of workflowItem.schedulers">
                <app-application-scheduler-item
                        [project]="project" [application]="workflowItem.application"
                        [scheduler]="s" [pipeline]="workflowItem.pipeline"
                        (event)="schedulerEvent($event.type, $event.scheduler)"></app-application-scheduler-item>
            </div>
            <div class="ui segment" *ngFor="let h of workflowItem.hooks">
            </div>
            <div class="ui segment" *ngIf="workflowItem.poller">

            </div>
        </div>
        <div class="actionMenu" *ngIf="workflowItem && application.permission > 4">
            <sm-dropdown>
                <a sm-item class="item" (click)="runWithParameters()">{{ 'pipeline_label_run_with_parameter' | translate }}</a>
                <a sm-item class="item" (click)="rollback()">{{ 'pipeline_label_rollback' | translate }}</a>
                <div class="divider" *ngIf="application.permission === 7"></div>
                <a sm-item class="item" (click)="detachPipeline(workflowItem.pipeline)" *ngIf="application.permission === 7">{{ 'pipeline_label_detach' | translate }}</a>
                <a sm-item class="item" (click)="editPipeline()" *ngIf="application.permission === 7">{{ 'pipeline_label_edit' | translate }}</a>
                <div class="divider" *ngIf="application.permission === 7"></div>
                <a sm-item class="item" (click)="openCreateSchedulerModal()" *ngIf="application.permission === 7">{{ 'scheduler_create_label' | translate }}</a>
                <a *ngIf="workflowItem.trigger && workflowItem.trigger.id > 0" sm-item class="item" (click)="openEditTriggerModal()">{{ 'trigger_label_edit' | translate }}</a>
                <a sm-item class="item" (click)="openCreateTriggerModal()" *ngIf="application.permission === 7">{{ 'trigger_label_new' | translate }}</a>
            </sm-dropdown>
        </div>
    </div>
</div>
<sm-modal
        title="{{ 'scheduler_create_title' | translate: {
            app: workflowItem.application.name,
            pip: workflowItem.pipeline.name
        } }}" #createSchedulerModal>
    <modal-content>
        <app-application-scheduler-form [project]="project" [application]="workflowItem.application" [pipeline]="workflowItem.pipeline" [scheduler]="newScheduler" [edit]="false" ></app-application-scheduler-form>
    </modal-content>
    <modal-actions>
        <button class="ui grey button" (click)="createSchedulerModal.hide()">{{ 'btn_cancel' | translate }}</button>
        <button class="ui green button" [class.loading]="newScheduler?.updating" (click)="schedulerEvent('add', newScheduler)">{{ 'btn_save' | translate }}</button>
    </modal-actions>
</sm-modal>
<sm-modal
        title="{{ 'trigger_edit_title' |
        translate:{
        app: workflowItem.trigger?.src_application.name,
        pip: workflowItem.trigger?.src_pipeline.name,
        env: (workflowItem.trigger?.src_environment.name !== 'NoEnv')?' / ' + workflowItem.trigger?.src_environment.name:''}
        }}" class="fluid" #editTriggerModal>
    <modal-content>
        <app-application-trigger [project]="project" [trigger]="triggerInModal" mode="edit"></app-application-trigger>
    </modal-content>
    <modal-actions>
        <button class="ui grey button" (click)="editTriggerModal.hide()">{{ 'btn_cancel' | translate }}</button>
        <app-delete-button *ngIf="triggerInModal?!triggerInModal.hasChanged:true" (event)="triggerEvent('delete')" [loading]="triggerLoading"></app-delete-button>
        <button *ngIf="triggerInModal?triggerInModal.hasChanged:false" class="ui green button" [class.loading]="triggerInModal?triggerInModal.updating:false" (click)="triggerEvent('update')">{{ 'btn_save' | translate }}</button>
    </modal-actions>
</sm-modal>
<sm-modal
        title="{{ 'trigger_create_title' |
        translate:{
        app: workflowItem.application.name,
        pip: workflowItem.pipeline.name,
        env: (workflowItem.environment && workflowItem.environment.name !== 'NoEnv')?' / ' + workflowItem.environment.name:''}
        }}" class="fluid" #createTriggerModal>
    <modal-content>
        <app-application-trigger [project]="project" [(trigger)]="triggerInModal" mode="create"></app-application-trigger>
    </modal-content>
    <modal-actions>
        <button class="ui grey button" (click)="createTriggerModal.hide()">{{ 'btn_cancel' | translate }}</button>
        <button class="ui green button" (click)="triggerEvent('add')">{{ 'btn_create' | translate }}</button>
    </modal-actions>
</sm-modal>

<sm-modal title="{{ 'application_launch_manual_title' | translate}}" class="fluid" #launchModal>
    <modal-content>
        <div class="ui form" *ngIf="launchPipelineParams">
            <div class="field" *ngIf="workflowItem.parent">
                <label>{{ 'pipeline_parent_version' | translate }}</label>
                <sm-select class="fluid search" [disabled]="loading" name="envname" [(model)]="launchParentVersion">
                    <option *ngFor="let pb of launchOldBuilds" [value]="pb.build_number">{{pb.version}}</option>
                </sm-select>
            </div>
            <div class="field" *ngIf="!workflowItem.parent">
                <label> {{ 'application_launch_git_title' | translate}}</label>
                <app-parameter-list [parameters]="launchGitParams" mode="launcher"></app-parameter-list>
            </div>
            <div class="field" *ngIf="launchPipelineParams.length > 0">
                <label> {{ 'application_launch_pipeline_title' | translate}}</label>
                <app-parameter-list [parameters]="launchPipelineParams" mode="launcher"></app-parameter-list>
            </div>
        </div>
    </modal-content>
    <modal-actions>
        <div class="ui grey button" (click)="launchModal.hide()">{{ 'btn_cancel' | translate }}</div>
        <div class="ui green button" (click)="runManual()">{{ 'btn_run' | translate }}</div>
    </modal-actions>
</sm-modal>