@import '../../../../../../../common';
$itemWidth : 378px;
.ui.one.column.grid.hierarchical .column {
    padding-bottom: 0px;
}

.ui.one.column.grid.horizontal {
  display: inline-block;
}

.ui.one.column.grid.vertical {
  margin-left: auto;
  margin-right: auto;

  .column {
    .ui.segment {
      margin-bottom: 0px;
    }
  }
}


.ui.one.column.grid {
  width: $itemWidth;

  .column {
    .icon {
      color: black;
    }

    .actionMenu {
      position:  absolute;
      top: 33px;
      right: 30px;
    }

    .ui.compact.segments {
      width: 100%;
      min-height: 45px;
      z-index: 10;
      white-space: initial;
    }

    .ui.raised.segment {
      width: 100%;
      min-height: 45px;
      z-index: 10;
      padding-top: 18px;
      padding-bottom: 7px;
      white-space: initial;

      i.run {
        font-size: 2em;
      }

      // application label
      .application.flag {
        font-size: 0.7em;
        position: absolute;
        right: 0;
        left: 0;
        top: -10px;
        text-align: center;

        .ui.label {
          height:21px;
          padding-top: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width:  130px;
          height: 21px;
          white-space: nowrap;
        }
      }

      // RIbbon
      .ui.ribbon {
        font-size: 0.7em;
        position: absolute;
        top: -10px;
      }

      .ui.left.ribbon {
        margin-left: 14px;
      }
      .ui.ribbon.label {
        padding-left: inherit;
      }

      .ui.right.ribbon {
        margin-left: -14px;
        min-width: 100px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
      }

      .ui.circular.label {
        margin-top: -2px;
      }

      // Loader
      .ui.medium.loader {
        margin-top: -5px;
        .ui.circular.label {
          margin-top: 4px;
        }
      }
      .ui.large.loader {
        margin-top: -13px;
        .ui.circular.label {
          margin-top: 12px;
        }
      }
      .ui.huge.loader {
        margin-top: -16px;
        .ui.circular.label {
          margin-top: 15px;
        }
      }
      .ui.massive.loader {
        margin-top: -16px;
        .ui.circular.label {
          margin-top: 15px;
        }
      }
      // End loader
    }

    .ui.scheduler.segment {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 0.8rem;
    }
  }
}





