@import '../../../../../../../common';

$itemWidth: 378px;
$itemWidthDepth5: 365px;
$itemWidthDepth6: 290px;
$itemWidthDepth7: 256px;
$itemWidthDepth8: 220px;

.ui.one.column.grid {
  width: $itemWidth;

  .column {
    .icon {
      color: black;
    }

    .actionMenu {
      position: absolute;
      top: 36px;
      right: 20px;

    }

    // application label
    .application.flag {
      font-size: 0.8em;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0px;
      text-align: center;
      color: #ff0000;
      font-weight: bold;
    }

    .manual.trigger {
      z-index: 1;
      position: absolute;
      left: 0px;
      top: 0px;

      button {
        padding: 0;
        font-size:  1.5rem;
        background: none;
        margin: 0;
        .icon {
          opacity: 1;
          min-height: 21px;
          background-color: $greyBackground;
          color: $cds_trigger_color;
        }
      }


    }

    // segment containers
    .ui.compact.segments {
      width: 100%;
      min-height: 45px;
      z-index: 10;
      white-space: initial;
      margin-bottom: 0px;

      // Pipeline segment
      .ui.raised.segment {
        width: 100%;
        height: 65px;
        z-index: 10;
        padding-top: 18px;
        padding-bottom: 7px;

        .verticalPlayIcon {
          display: flex;
          align-items: center;
          height: 38px;
          .ui.text.loader {
            margin-top: 0.3rem;
          }
          i {
            &.run {
              font-size: 2.1em;
            }
            &.circular.icon.build {
              box-shadow: 0em 0em 0em 0.2em black inset;
              margin-bottom: 8px;
            }
          }

        }

        .verticalDetailIcon {
          display: flex;
          align-items: center;
          height: 26px;
        }

        .pipelineLabel {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 28px;

          .break {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .pipelineWarning {
            padding-left: 5px;
            font-size: 1.2rem;
          }
        }

        // RIbbon
        .ui.ribbon {
          font-size: 0.7em;
          position: absolute;
          top: -10px;
        }

        .ui.left.ribbon {
          margin-left: 14px;
        }
        .ui.ribbon.label {
          padding-left: inherit;
        }

        .ui.right.ribbon {
          margin-left: -14px;
          min-width: 100px;
          padding-left: 5px;
          padding-right: 5px;
          text-align: center;
        }

        .ui.circular.label {
          margin-top: -2px;
        }

        // Loader
        .ui.medium.loader {
          .ui.circular.label {
            margin-top: 4px;
          }
        }
        .ui.large.loader {
          .ui.circular.label {
            margin-top: 12px;
          }
        }
        .ui.huge.loader {
          margin-top: 4px;
          .ui.circular.label {
            margin-top: 15px;
          }
        }
        .ui.massive.loader {
          .ui.circular.label {
            margin-top: 20px;
          }
        }
        // End loader
      }

      // Scheduler segment
      .ui.trigger.segment {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 0.8rem;
      }
    }

  }
}

.ui.one.column.grid.hierarchical .column {
  padding-bottom: 0px;

  .manual.trigger {
    top: 35px;
    left: -15px;
  }
}

.ui.one.column.grid.horizontal {
  display: inline-block;

  .column .manual.trigger {
    top: 37px;
    left: -20px;
  }
}

.ui.one.column.grid.vertical {
  margin-left: auto;
  margin-right: auto;

  .column {
    .manual.trigger {
      top: -15px;
      left: 48.5%;
    }
    .ui.segment {
      margin-bottom: 0px;
    }
  }
}

.ui.one.column.grid.horizontal.five {
  width: $itemWidthDepth5;
  .column.verticalPlayIcon {
    .ui.text.loader {
      margin-top: 0.3rem;
    }
    i.circular.icon.build {
      box-shadow: 0em 0em 0em 0.2em black inset;
      margin-bottom: 8px;
    }
    .icon {
      &.run {
        font-size: 1rem;
      }
    }

  }

  .column.label {
    width: 60% !important;
    padding-left: 7px;
    padding-right: 7px;
  }
}

.ui.one.column.grid.horizontal.six {
  width: $itemWidthDepth6;
  .column.verticalPlayIcon {
    .ui.text.loader {
      margin-top: 0.3rem;
    }
    i.circular.icon.build {
      box-shadow: 0em 0em 0em 0.2em black inset;
      margin-bottom: 8px;
    }
    .icon{
      &.run {
        font-size: 1rem;
      }
    }
  }
  .column.verticalDetailIcon {
    display: none !important;
  }
  .column.label {
    width: 75% !important;
    padding-left: 7px;
    padding-right: 7px;
  }
}

.ui.one.column.grid.horizontal.seven {
  width: $itemWidthDepth7;
  .column.verticalPlayIcon {
    display: none !important;
  }
  .column.verticalDetailIcon {
    display: none !important;
  }
  .column.label {
    width: 100% !important;
    padding-left: 7px;
    padding-right: 7px;
  }
}
