<ng-container *ngIf="mode === modes.EDIT_NODE">
  <app-workflow-sidebar-edit-node [project]="project" [workflow]="workflow"></app-workflow-sidebar-edit-node>
</ng-container>
<ng-container *ngIf="mode === modes.EDIT_JOIN">
  <app-workflow-sidebar-edit-join [project]="project" [workflow]="workflow"></app-workflow-sidebar-edit-join>
</ng-container>
<ng-container *ngIf="mode === modes.EDIT_HOOK">
  <app-workflow-sidebar-hook [project]="project" [workflow]="workflow"></app-workflow-sidebar-hook>
</ng-container>
