public
.DS_Store
resources
node_modules

# generated documentation
content/docs/components/cdsctl
content/docs/components/engine
content/docs/components/worker
content/development/rest/*.md
!content/development/rest/_index.md
content/docs/actions/builtin-*
content/docs/actions/plugin-*
content/docs/actions/cds-*
static/js/*.min.js
