<div class="nzSegment">
    <nz-row>
        <nz-col [nzSpan]="12">
            <nz-select nzShowSearch nzMode="multiple" nzPlaceHolder="Select a project"  name="project"  [(ngModel)]="selectedProjectKeys">
                <nz-option *ngFor="let p of projects" [nzLabel]="p.name" [nzValue]="p.key"></nz-option>
            </nz-select>
        </nz-col>
        <nz-col [nzSpan]="8">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input nz-input type="text" placeholder="Search..." [(ngModel)]="searchCriterion">
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </nz-col>
        <nz-col [nzSpan]="4" class="alignRight">
            <button nz-button nzType="primary" (click)="search()">Filter</button>
        </nz-col>
    </nz-row>
</div>
