@import '../../../../common';

#AddPipeline {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
  padding-top: 20px;

  h2 {
    text-align: center;
  }
  border-color: #202f3c;
}
