<div *ngIf="ready;else loadingArea">
    <div id="AddPipeline">
        <div class="ui form">
            <h2>{{ 'pipeline_create' | translate }}</h2>
            <div class="ui grid">
                <div class="one wide column">
                </div>
                <div class="fourteen wide column">
                    <div class="field">
                        <label>{{'pipeline_name' | translate}}</label>
                        <input type="text" name="pipname" [(ngModel)]="newPipeline.name">
                        <div class="ui error message" *ngIf="pipPatternError">
                            {{ 'pipeline_name_error' | translate }}
                        </div>
                    </div>
                    <div class="field">
                        <label>{{'pipeline_type' | translate}}</label>
                        <sm-select [(model)]="newPipeline.type">
                            <option *ngFor="let t of pipelineType" value="{{t}}">{{t}}</option>
                        </sm-select>
                    </div>
                    <div class="field" *ngIf="project.applications && project.applications.length > 0">
                        <label>{{'pipeline_attach_application' | translate}}</label>
                        <sm-select class="fluid search multiple" id="PipelineLinkedApplicationSelect"
                            [(model)]="selectedApplications"
                            [options]="{'fullTextSearch': true}">
                            <option *ngFor="let a of project.applications" value="{{a.name}}">{{a.name}}</option>
                        </sm-select>
                    </div>
                    <div class="field">
                        <a class="ui button" [routerLink]="['/project', project.key]" [queryParams]="{ tab: 'pipelines'}">{{ 'btn_cancel' | translate }}</a>
                        <button class="ui green right floated button" [class.loading]="loadingCreate" [class.disabled]="!newPipeline.name || newPipeline.name === ''"
                                (click)="createPipeline()">{{ 'btn_create' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loadingArea>
    <div class="ui text active loader">Loading..</div>
</ng-template>
