<div id="EnvironmentPermissionForm" *ngIf="project">
    <div class="ui form">
        <div class="fields">
            <div class="five wide field">
                <sm-select [(model)]="selectedGroups" class="search multiple">
                    <option *ngFor="let g of groups" [value]="g.id">{{g.name}}</option>
                </sm-select>
            </div>
            <div class="five wide field">
                <sm-select [(model)]="selectedEnvs" class="search multiple">
                    <option *ngFor="let e of project.environments" [value]="e.id">{{e.name}}</option>
                </sm-select>
            </div>
            <div class="five wide field">
                <sm-select [(model)]="selectedPerm">
                    <option *ngFor="let p of perms" [value]="p.value">{{ p.name | translate}}</option>
                </sm-select>
            </div>
            <div class="three wide right aligned field">
                <button class="ui green button" [class.loading]="loading" [disabled]="loading" (click)="saveEnvPermissions()">{{ 'btn_add' | translate }}</button>
            </div>
        </div>
    </div>
</div>