:2015 {
    ext .html
    gzip {
        not /cdsapi/mon/lastupdates/events
    }

    errors {
        404 index.html
    }

    proxy /cdsapi {$BACKEND_HOST} {
        without /cdsapi
        header_upstream Authorization {>Authorization}
        header_upstream Session-Token {>Session-Token}
    }

    proxy /assets/worker/shared/cdsapi {$BACKEND_HOST} {
        without /assets/worker/shared/cdsapi
        header_upstream Authorization {>Authorization}
        header_upstream Session-Token {>Session-Token}
    }

    proxy /assets/worker/web/cdsapi {$BACKEND_HOST} {
        without /assets/worker/web/cdsapi
        header_upstream Authorization {>Authorization}
        header_upstream Session-Token {>Session-Token}
    }
}