<div class="wrapper">
    <app-breadcrumb [path]="path"></app-breadcrumb>
    <app-tabs [tabs]="tabs" (onSelect)="selectTab($event)"></app-tabs>
    <app-scrollview class="scrollview" *ngIf="selectedTab" [ngSwitch]="selectedTab.key">
        <nz-row *ngSwitchCase="'action'">
            <nz-col [nzSpan]="19">
                <app-action [action]="action" [edit]="false"></app-action>
            </nz-col>
            <nz-col [nzSpan]="5">
                <app-action-help></app-action-help>
            </nz-col>
        </nz-row>
        <nz-row *ngSwitchCase="'usage'">
            <nz-col [nzSpan]="24">
                <nz-spin nzTip="Loading..." *ngIf="loadingUsage"></nz-spin>
                <ng-container *ngIf="!loadingUsage">
                    <app-action-usage [usage]="usage"></app-action-usage>
                </ng-container>
            </nz-col>
        </nz-row>
    </app-scrollview>
</div>
