.sidebar-join-edit {
    .header {
        margin-top: 10px;
    }

    .ml5 {
        margin-left: 5px;
    }

    .content {
        width: 100%;
    }
    .paddingContent {
        padding-top: 11px;
        padding-left: 5px;
        vertical-align: middle !important;
        font-size: medium;
    }
}
