  - action:
      navigate:
        url: '{{.ui.url}}'
        reset: true
    screenshot: login_1_navigate.png
    assertions:
    - result.title ShouldEqual CDS
  - action:
      fill:
      - find: 'input[name="username"]'
        text: '{{.ui.user}}'
      - find: 'input[name="password"]'
        text: '{{.ui.password}}'
    screenshot: login_2_type.png
  - action:
      click:
        find: 'button#loginButton'
        wait: 2
    screenshot: login_3_click.png