<a class="step stage" (click)="open = !open" (dblclick)="goToStageLogs()">
  <div>
    <app-status-icon [status]="stageStatus" class="stage"></app-status-icon>
  </div>
  <div>
    <div class="title stage">{{stageName}} <i class="warning sign icon orange" *ngIf="stageWarning"></i></div>
  </div>
  <div class="forceRight" *ngIf="jobsIds && jobsIds.length > 0">
    <i class="caret icon" [class.right]="!open" [class.down]="open"></i>
  </div>
</a>
<div [hidden]="!open">
  <ng-container *ngFor="let jid of jobsIds">
    <app-job-step-summary
            [jobId]="jid"
            [runNumber]="runNumber"
            [stageId]="stageId"
            [workflowRunNodeId]="workflowNodeRunId"
            [nodeName]="nodeName"></app-job-step-summary>
  </ng-container>
</div>
