<app-input-filter placeholder="Search..." [filters]="searchFilters" (changeFilter)="searchChange($event)"
  [suggestions]="searchSuggestions" [suggestionTemplate]="suggestionTemplate"
  (selectSuggestion)="selectSuggestion($event)" (submit)="submitSearch()" #searchBar>
  <ng-template #suggestionTemplate let-option="option">
    <a [routerLink]="option.data.defaultLink.path" [queryParams]="option.data.defaultLink.params"
      class="navbar-suggestion" (click)="clickSuggestion()">
      <div class="title">
        <span class="label">{{option.data.result.label}}</span>
        <span class="id">{{option.data.result.id}}</span>
      </div>
      <div>
        @switch (option.data.result.type) {
          @case ('project') {
            <nz-tag nzColor="blue">{{option.data.result.type}}</nz-tag>
          }
          @case ('workflow') {
            <nz-tag nzColor="green">{{option.data.result.type}}</nz-tag>
          }
          @default {
            <nz-tag>{{option.data.result.type}}</nz-tag>
          }
        }
      </div>
    </a>
  </ng-template>
</app-input-filter>