<div class="content">
	<div class="header">
		<nz-input-group>
			<app-input-filter placeholder="Search..." [filterText]="filterText" [filters]="filters"
				(changeFilter)="filterChange($event)" (submit)="submitForm()"></app-input-filter>
		</nz-input-group>
	</div>
	<nz-list class="list" nzSize="small" nzNoResult="test">
		<nz-list-item *ngFor="let item of results">
			<nz-list-item-meta [nzTitle]="runTitle" [nzAvatar]="runAvatar" [nzDescription]="runDescription">
				<ng-template #runAvatar>
					<div class="type" [ngSwitch]="item.type">
						<nz-tag *ngSwitchCase="'project'" nzColor="blue">{{item.type}}</nz-tag>
						<nz-tag *ngSwitchCase="'workflow'" nzColor="green">{{item.type}}</nz-tag>
						<nz-tag *ngSwitchDefault>{{item.type}}</nz-tag>
					</div>
				</ng-template>
				<ng-template #runTitle>
					<div class="title">
						<a [routerLink]="generateResultLink(item)" [queryParams]="generateResulQueryParams(item)">{{item.label}}</a>
						<ng-container [ngSwitch]="item.type">
							<app-searchable *ngSwitchCase="'project'" class="id" [link]="['/search']" [params]="{project: item.id}"
								paramsHandling="merge">
								{{item.id}}
							</app-searchable>
							<span *ngSwitchDefault class="id">{{item.id}}</span>
						</ng-container>
					</div>
				</ng-template>
				<ng-template #runDescription>
					<div class="variants" *ngIf="item.variants">
						<a *ngFor="let v of item.variants" [routerLink]="generateResultLink(item)"
							[queryParams]="generateResulQueryParams(item, v)">{{v}}</a>
					</div>
				</ng-template>
			</nz-list-item-meta>
		</nz-list-item>
	</nz-list>
	<ng-template #emptyList>
		<nz-empty nzNotFoundContent="No result found"></nz-empty>
	</ng-template>

	<div *ngIf="totalCount > 0" class="footer">
		{{totalCount}} results
		<nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="20" [nzTotal]="totalCount" nzSize="small"
			(nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
	</div>
</div>