@import '../../../../../common';
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scrollview {
  flex: 1;
}

$squareSize: 32px;
.ui.input {
  position: inherit;
}

#WorkerModelEdit {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
  padding: 20px;
  h2 {
    text-align: center;
  }
  h4.ui.header {
    text-align: center;
  }
  .content {
    overflow: auto;
  }
  .logs {
    background-color: #222;
    color: white;
    clear: both;
    padding: 10px $squareSize 10px $squareSize;
    pre {
      font-size: 0.8em;
      line-height: 1.1em;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: auto;
    }
  }
}